<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="col-md-3 left_col" th:fragment="asideFragment">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a class="site_title" th:href="@{/trip}">
                <i class="fa fa-paw"></i>
                <span>시 금 치</span>
            </a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile clearfix">
            <div class="profile_pic">
                <img alt="..." class="img-circle profile_img" th:src="@{/platform/images/img.jpg}">
            </div>
            <div class="profile_info">
                <span>어서오세요</span>
                <h2 th:text="${session.loginName}+' 님'"></h2>
            </div>
        </div>
        <!-- /menu profile quick info -->

        <br/>

        <!-- sidebar menu -->
        <div class="main_menu_side hidden-print main_menu" id="sidebar-menu">
            <div class="menu_section">
                <ul class="nav side-menu">
                    <li>
                        <a>
                        <i class="fa fa-home"></i>
                            정보내역
                            <span class="fa fa-chevron-down"></span>
                        </a>
                        <ul class="nav child_menu">
                            <li><a th:href="@{/mypage/mypageManage(memberId=${session.loginId})}">회원정보수정</a></li>
                            <li><a href="#">이력관리</a></li>
                            <li><a href="#" onclick="confirmDelete()">회원탈퇴</a></li>
                        </ul>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-edit"></i>
                            예약내역
                            <span class="fa fa-chevron-down"></span>
                        </a>
                        <ul class="nav child_menu">
                            <li><a href="#">예약 내역 조회</a></li>
                        </ul>
                    </li>

                    <li>
                    	<a>
                    		<i class="fa fa-table"></i>
                    		나의활동
                    		<span class="fa fa-chevron-down"></span>
                   		</a>
                        <ul class="nav child_menu">
                            <li><a href="#">내가 쓴 게시글 보기</a></li>
                            <li><a href="#">내가 쓴 댓글 보기</a></li>
                        </ul>
                    </li>
                    <li>
                    	<a>
                    		<i class="fa fa-bar-chart-o"></i>
                    		즐겨찾기
                    		<span class="fa fa-chevron-down"></span>
                   		</a>
                        <ul class="nav child_menu">
                            <li><a href="#">즐겨찾기 게시글 보기</a></li>
                            <li><a href="#">즐겨찾기 상품 보기</a></li>
                        </ul>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-bug"></i>
                            문의
                            <span class="fa fa-chevron-down"></span>
                        </a>
                        <ul class="nav child_menu">
                        	<li><a href="#">자주찾는 질문 보기</a></li>
                            <li><a href="#">1:1 문의하기</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript:void(0)">
                        	<i class="fa fa-laptop"></i>
                            추가준비중
                            <span class="label label-success pull-right">Coming Soon</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            <a data-placement="top" data-toggle="tooltip" title="Settings">
                <span aria-hidden="true" class="glyphicon glyphicon-cog"></span>
            </a>
            <a data-placement="top" data-toggle="tooltip" title="FullScreen">
                <span aria-hidden="true" class="glyphicon glyphicon-fullscreen"></span>
            </a>
            <a data-placement="top" data-toggle="tooltip" title="Lock">
                <span aria-hidden="true" class="glyphicon glyphicon-eye-close"></span>
            </a>
            <a data-placement="top" data-toggle="tooltip" href="#" title="Logout">
                <span aria-hidden="true" class="glyphicon glyphicon-off"></span>
            </a>
        </div>
        <!-- /menu footer buttons -->
        <script th:inline="javascript" th:src="@{/user/js/mypage.js}"></script>
        
        <script th:>
        	const username = '[[${session.loginId}]]';
        	console.log(username);
        </script>
    </div>
</div>
</body>
</html>