<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart.ks50team01.platform.board.mapper.PCommunityMapper">
	
	<resultMap 	id="postResultMap" 		type="PCommunity">
		<id 	property="postCode" 	column="PST_NO" />
		<result property="postRegId" 	column="REG_MBR_ID" />
		<result property="postCateNum" 	column="PST_CTGRY_NO" />
		<result property="postTitle" 	column="PST_TTL" />
		<result property="postContent" 	column="PST_CN" />
		<result property="postInqCnt" 	column="PST_INQ_CNT" />
		<result property="commentTotal" column="PST_CMNT_TOTAL" />
		<result property="likeTotal" 	column="PST_LIKE_TOTAL" />
		<result property="dislikeTotal" column="PST_DISLIKE_TOTAL" />
		<result property="reportTotal" 	column="PST_REPT_TOTAL" />
		<result property="postAct" 		column="ACT_YN" />
		<result property="postRegDate" 	column="REG_YMD" />
		<result property="postMdfDate" 	column="MDFCN_YMD" />
		<result property="postDelDate" 	column="DEL_YMD" />
		<result property="postNum" 		column="postNum" />
		
		
		<!-- 1:1 association -->
		<association 	property="category" 					javaType="PCategory">
			<id 		property="postCategoryNum" 				column="PST_CTGRY_NO"/>	
			<result 	property="postCategoryRegId" 			column="REG_PF_ID"/>	
			<result 	property="postCategoryName" 			column="PST_CTGRY_NM"/>
			<result 	property="postCategoryMdfId" 			column="MDFCN_PF_ID"/>
			<result 	property="postCateActive" 				column="ACT_YN"/>
			<result 	property="postCategoryRegDate" 			column="REG_YMD"/>
			<result 	property="postCategoryMdfDate" 			column="MDFCN_YMD"/>
		</association>
		
		<!-- 1:N collection -->
		<collection  	property="commentList" 			ofType="PComment">
			<id 		property="commentNum" 			column="PST_CMNT_NO"/>
			<result 	property="commentRegId" 		column="REG_MBR_ID"/>
			<result 	property="commentContent" 		column="PST_CMNT_CN"/>
			<result 	property="commentlikeTotal" 	column="PST_CMNT_LIKE_TOTAL"/>
			<result 	property="commentDislikeTotal" 	column="PST_CMNT_DISLIKE_TOTAL"/>
			<result 	property="commentReportTotal" 	column="PST_CMNT_REPT_TOTAL"/>
			<result 	property="commentAct" 			column="ACT_YN"/>
			<result 	property="commentRegDate" 		column="REG_YMD"/>
			<result 	property="commentMdfDate" 		column="MDFCN_YMD"/>
			<result 	property="commentDelDate" 		column="DEL_YMD"/>
		</collection>
		
	</resultMap>
	
	<resultMap type="PComment" id="postCommentMap">
			<id 		property="commentNum" 			column="PST_CMNT_NO"/>
			<result 	property="commentRegId" 		column="REG_MBR_ID"/>
			<result 	property="postNum" 				column="PST_NO"/>
			<result 	property="commentContent" 		column="PST_CMNT_CN"/>
			<result 	property="commentlikeTotal" 	column="PST_CMNT_LIKE_TOTAL"/>
			<result 	property="commentDislikeTotal" 	column="PST_CMNT_DISLIKE_TOTAL"/>
			<result 	property="commentReportTotal" 	column="PST_CMNT_REPT_TOTAL"/>
			<result 	property="commentAct" 			column="ACT_YN"/>
			<result 	property="commentRegDate" 		column="REG_YMD"/>
			<result 	property="commentMdfDate" 		column="MDFCN_YMD"/>
			<result 	property="commentDelDate" 		column="DEL_YMD"/>
	</resultMap>

	<resultMap type="PCategory" id="categoryResultMap">
		<id 		property="postCategoryNum" 			column="PST_CTGRY_NO"/>
		<result 	property="postCategoryRegId" 		column="REG_PF_ID"/>
		<result 	property="postCategoryName" 		column="PST_CTGRY_NM"/>
		<result 	property="postCategoryMdfId" 		column="MDFCN_PF_ID"/>
		<result 	property="postCateActive" 			column="ACT_YN"/>
		<result 	property="postCategoryRegDate" 		column="REG_YMD"/>
		<result 	property="postCategoryMdfDate" 		column="MDFCN_YMD"/>
	</resultMap>
	
	

	<select id="getCommunityList" resultMap="postResultMap">
	 	/* 커뮤니티 조회 */
	 	SELECT
			ROW_NUMBER() OVER(ORDER BY P.PST_NO) AS postNum,
			P.PST_NO, 
			P.REG_MBR_ID,
			C.PST_CTGRY_NO, 
			C.PST_CTGRY_NM,
			P.PST_TTL, 
			P.PST_CN, 
			P.PST_INQ_CNT, 
			P.PST_LIKE_TOTAL, 
			P.PST_DISLIKE_TOTAL, 
			P.PST_REPT_TOTAL, 
			P.ACT_YN, 
			P.REG_YMD, 
			P.MDFCN_YMD, 
			P.DEL_YMD,
			COUNT(PC.PST_CMNT_NO) AS PST_CMNT_TOTAL
		FROM 
			POST AS P
			INNER JOIN
			POST_CATEGORY AS C
			ON
			P.PST_CTGRY_NO = C.PST_CTGRY_NO
			LEFT JOIN 
			POST_COMMENT AS PC
			ON 
			P.PST_NO = PC.PST_NO
		GROUP BY P.PST_NO
		ORDER BY P.REG_YMD DESC;
	</select>
	
	<!-- 
	<update id="deactivatePost">
		/ * 선택한 게시물의 활성화 여부를 N으로 변경 * /
	    UPDATE 
	    	POST
	    SET 
	    	ACT_YN = 'N'
	    WHERE 
	    	PST_NO IN
	    <foreach item="postNum" collection="list" open="(" separator="," close=")">
	        #{postNum};
    	</foreach>
	</update>  -->
	
	
	<update id="deactivatePost">
		/ * 게시물의 활성화 여부를 N으로 변경 * /
        UPDATE 
        	POST
        SET 
        	ACT_YN = 'N'
        WHERE 
        	PST_NO = #{postNum};
    </update>

    
	
</mapper>