<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	  layout:decorate="~{user/layout/default}">

	<th:block layout:fragment="customPageSection">
	<!-- ====================================
	———	TOUR PACKAGES SECTION
	===================================== -->
	<section class="bg-smoke py-10">
	  <div class="container">
	    <div class="row">
	      <div class="col-lg-4 col-xl-3 order-lg-1">
	        <div class="row">
	          <div class="col-md-6 col-lg-12">
	            <div class="mb-6 bg-white p-3 border-top border-top-5 border-primary rounded">
	              <form class="" action="index.html" method="GET">
	                <h4 class="text-uppercase font-weight-bold">Search</h4>
	                
	                <div class="mb-5">
	                  <div class="select-default select-category-1">
	                    <select class="select-option">
	                      <option>Destinations</option>
	                      <option>USA</option>
	                      <option>UK</option>
	                      <option>Canada</option>
	                    </select>
	                  </div>
	                </div>
	
	                <div class="form-group form-group-icon form-group-icon-dark mb-5">
	                  <i class="far fa-calendar-alt" aria-hidden="true"></i>
	                  <input type="text" class="form-control daterange-picker sidebar-daterange-picker" autocomplete="off" name="dateRange"
	                    value="" placeholder="MM/DD/YYYY" />
	                </div>
	
	                <div class="form-group form-group-icon form-group-icon-dark mb-5">
	                  <i class="far fa-calendar-alt" aria-hidden="true"></i>
	                  <input type="text" class="form-control daterange-picker sidebar-daterange-picker" autocomplete="off" name="dateRange"
	                    value="" placeholder="MM/DD/YYYY" />
	                </div>
	
	                <div class="d-grid">
	                  <button type="button" onclick="location.href='javascript:void(0)';"
	                  class="btn btn-xs btn-outline-secondary text-uppercase">Search</button>
	                </div>
	              </form>
	            </div>
	          </div>
	
	          <div class="col-md-6 col-lg-12">
	            <div class="mb-6 bg-white p-3 border-top border-top-5 border-primary rounded overflow-hidden">
	              <h4 class="text-uppercase font-weight-bold">Price</h4>
	
	              <div class="price-range mt-5" id="price-range">
	                <div class="price-range-content mb-5">
	                  <span class="price-value" id="lower-value"></span>
	                  <span class="mx-3"><i class="fa fa-minus" aria-hidden="true"></i></span>
	                  <span class="price-value" id="upper-value"></span>
	                </div>
	              
	                <div class="mb-6" id="slider-non-linear-step"></div>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	
	      <div class="col-lg-8 col-xl-9">
	        <div class="row">
	          <div class="col-md-6 col-xl-4 mb-5">
	            <div class="card card-hover">
	              <a href="/user/destination/lodgingCheckDetails" class="position-relative">
	                <img class="card-img-top lazyestload" data-src="/user/img/home/deal/deal-01.jpg" src="/user/img/home/deal/deal-01.jpg" alt="Card image cap">
	                <div class="card-img-overlay card-hover-overlay rounded-top d-flex flex-column">
	                  <div class="badge bg-primary badge-rounded-circle">
	                    <span class="d-block">
	                      50%<br>off
	                    </span>
	                  </div>
	
	                  <ul class="list-unstyled d-flex mt-auto text-warning mb-0">
	                    <li>
	                      <i class="fa fa-star me-1" aria-hidden="true"></i>
	                    </li>
	                    <li>
	                      <i class="fa fa-star me-1" aria-hidden="true"></i>
	                    </li>
	                    <li>
	                      <i class="fa fa-star me-1" aria-hidden="true"></i>
	                    </li>
	                    <li>
	                      <i class="fa fa-star me-1" aria-hidden="true"></i>
	                    </li>
	                    <li>
	                      <i class="fa fa-star" aria-hidden="true"></i>
	                    </li>
	                  </ul>
	
	                  <small>
	                    <ul class="list-unstyled d-flex text-white font-weight-bold mb-0">
	                      <li class="border-right border-white pe-2">7 days</li>
	                      <li class="border-right border-white px-2">15 hrs</li>
	                      <li class="ps-2">15 min</li>
	                    </ul>
	                  </small>
	                </div>
	              </a>
	
	              <div class="card-body px-4">
	                <h5>
	                  <a href="/user/destination/lodgingCheckDetails" class="card-title text-uppercase">더메이 호텔</a>
	                </h5>
	                <p class="mb-5">Integer purus ex, dictum nec elementum eu, tristique vel lectus. Donec rutrum lectus et
	                  pharetra
	                  egestas.</p>
	                <div class="d-flex justify-content-between align-items-center">
	                  <div>
	                    <p class="mb-0 text-capitalize">Start from</p>
	                    <h3 class="text-primary">$299</h3>
	                  </div>
	                  <div>
	                    <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#inquiry" class="btn btn-xs btn-outline-secondary text-uppercase">Inquiry</a>
	                  </div>
	                </div>
	              </div>
	            </div>
	          </div>
	
	          <div class="col-md-6 col-xl-4 mb-5">
	            <div class="card card-hover">
	              <a href="/user/destination/lodgingCheckDetails" class="position-relative">
	                <img class="card-img-top lazyestload" data-src="/user/img/home/deal/deal-02.jpg" src="/user/img/home/deal/deal-02.jpg" alt="Card image cap">
	                <div class="card-img-overlay card-hover-overlay rounded-top d-flex flex-column">
	                  <ul class="list-unstyled d-flex mt-auto text-warning mb-0">
	                    <li>
	                      <i class="fa fa-star me-1" aria-hidden="true"></i>
	                    </li>
	                    <li>
	                      <i class="fa fa-star me-1" aria-hidden="true"></i>
	                    </li>
	                    <li>
	                      <i class="fa fa-star me-1" aria-hidden="true"></i>
	                    </li>
	                    <li>
	                      <i class="fa fa-star me-1" aria-hidden="true"></i>
	                    </li>
	                    <li>
	                      <i class="fa fa-star" aria-hidden="true"></i>
	                    </li>
	                  </ul>
	
	                  <small>
	                    <ul class="list-unstyled d-flex text-white font-weight-bold mb-0">
	                      <li class="border-right border-white pe-2">12 days</li>
	                      <li class="border-right border-white px-2">3 hrs</li>
	                      <li class="ps-2">12 min</li>
	                    </ul>
	                  </small>
	                </div>
	              </a>
	
	              <div class="card-body px-4">
	                <h5 class="">
	                  <a href="/user/destination/lodgingCheckDetails" class="card-title text-uppercase">스테이리봄</a>
	                </h5>
	                <p class="mb-5">Proin convallis magna vel libero accumsan sollicitudin. Quisque dapibus vitae turpis eu
	                  magna sagittis.</p>
	                <div class="d-flex justify-content-between align-items-center">
	                  <div>
	                    <p class="mb-0 text-capitalize">Start from</p>
	                    <h3 class="text-primary">$499</h3>
	                  </div>
	                  <div>
	                    <a href="booking-step-1.html" class="btn btn-xs btn-outline-secondary text-uppercase">Book now</a>
	                  </div>
	                </div>
	              </div>
	            </div>
	          </div>
	
	          <div class="col-md-6 col-xl-4 mb-5">
	            <div class="card card-hover">
	              <a href="/user/destination/lodgingCheckDetails" class="position-relative">
	                <img class="card-img-top lazyestload" data-src="/user/img/home/deal/deal-03.jpg" src="/user/img/home/deal/deal-03.jpg" alt="Card image cap">
	                <div class="card-img-overlay card-hover-overlay rounded-top d-flex flex-column">
	                  <ul class="list-unstyled d-flex mt-auto text-warning mb-0">
	                    <li>
	                      <i class="fa fa-star me-1" aria-hidden="true"></i>
	                    </li>
	                    <li>
	                      <i class="fa fa-star me-1" aria-hidden="true"></i>
	                    </li>
	                    <li>
	                      <i class="fa fa-star me-1" aria-hidden="true"></i>
	                    </li>
	                    <li>
	                      <i class="fa fa-star me-1" aria-hidden="true"></i>
	                    </li>
	                    <li>
	                      <i class="fa fa-star" aria-hidden="true"></i>
	                    </li>
	                  </ul>
	
	                  <small>
	                    <ul class="list-unstyled d-flex text-white font-weight-bold mb-0">
	                      <li class="border-right border-white pe-2">17 days</li>
	                      <li class="border-right border-white px-2">14 hrs</li>
	                      <li class="ps-2">10 min</li>
	                    </ul>
	                  </small>
	                </div>
	              </a>
	
	              <div class="card-body px-4">
	                <h5>
	                  <a href="/user/destination/lodgingCheckDetails" class="card-title text-uppercase">그랜드힐스턴</a>
	                </h5>
	                <p class="mb-5">Vivamus eu mattis nibh. Quisque eget ipsum at odio fringilla consequat vel id erat.
	                  Suspendisse non
	                  feugiat mi.</p>
	                <div class="d-flex justify-content-between align-items-center">
	                  <div>
	                    <p class="mb-0 text-capitalize">Start from</p>
	                    <h3 class="text-primary">$349</h3>
	                  </div>
	                  <div>
	                    <a href="single-package-fullwidth.html" class="btn btn-xs btn-outline-secondary text-uppercase">Details</a>
	                  </div>
	                </div>
	              </div>
	            </div>
	          </div>
	
	          <div class="col-md-6 col-xl-4 mb-5">
	            <div class="card card-hover">
	              <a href="/user/destination/lodgingCheckDetails" class="position-relative">
	                <img class="card-img-top lazyestload" data-src="/user/img/packages/package-01.jpg" src="/user/img/packages/package-01.jpg" alt="Card image cap">
	                <div class="card-img-overlay card-hover-overlay rounded-top d-flex flex-column">
	                  <ul class="list-unstyled d-flex mt-auto text-warning mb-0">
	                    <li>
	                      <i class="fa fa-star me-1" aria-hidden="true"></i>
	                    </li>
	                    <li>
	                      <i class="fa fa-star me-1" aria-hidden="true"></i>
	                    </li>
	                    <li>
	                      <i class="fa fa-star me-1" aria-hidden="true"></i>
	                    </li>
	                    <li>
	                      <i class="fa fa-star me-1" aria-hidden="true"></i>
	                    </li>
	                    <li>
	                      <i class="fa fa-star" aria-hidden="true"></i>
	                    </li>
	                  </ul>
	
	                  <small>
	                    <ul class="list-unstyled d-flex text-white font-weight-bold mb-0">
	                      <li class="border-right border-white pe-2">25 days</li>
	                      <li class="border-right border-white px-2">01 hrs</li>
	                      <li class="ps-2">03 min</li>
	                    </ul>
	                  </small>
	                </div>
	              </a>
	
	              <div class="card-body px-4">
	                <h5 class="">
	                  <a href="/user/destination/lodgingCheckDetails" class="card-title text-uppercase">테오리아</a>
	                </h5>
	
	                <p class="mb-5">Sagittis proin convallis magna vel libero accumsan sollicitudin. Quisque dapibus vitae
	                  turpis eu magna.</p>
	
	                <div class="d-flex justify-content-between align-items-center">
	                  <div>
	                    <p class="mb-0 text-capitalize">Start from</p>
	                    <h3 class="text-primary">$199</h3>
	                  </div>
	                  <div>
	                    <a href="single-package-fullwidth.html" class="btn btn-xs btn-outline-secondary text-uppercase">Details</a>
	                    <a href="" class="btn btn-xs btn-outline-secondary px-3">
	                      <i class="fas fa-map-marker-alt" aria-hidden="true"></i>
	                    </a>
	                  </div>
	                </div>
	              </div>
	            </div>
	          </div>
	
	          <div class="col-md-6 col-xl-4 mb-5">
	            <div class="card card-hover">
	              <a href="/user/destination/lodgingCheckDetails" class="position-relative">
	                <img class="card-img-top lazyestload" data-src="/user/img/packages/package-02.jpg" src="/user/img/packages/package-02.jpg" alt="Card image cap">
	                <div class="card-img-overlay card-hover-overlay rounded-top d-flex flex-column">
	                  <ul class="list-unstyled d-flex mt-auto text-warning mb-0">
	                    <li>
	                      <i class="fa fa-star me-1" aria-hidden="true"></i>
	                    </li>
	                    <li>
	                      <i class="fa fa-star me-1" aria-hidden="true"></i>
	                    </li>
	                    <li>
	                      <i class="fa fa-star me-1" aria-hidden="true"></i>
	                    </li>
	                    <li>
	                      <i class="fa fa-star me-1" aria-hidden="true"></i>
	                    </li>
	                    <li>
	                      <i class="fa fa-star" aria-hidden="true"></i>
	                    </li>
	                  </ul>
	
	                  <small>
	                    <ul class="list-unstyled d-flex text-white font-weight-bold mb-0">
	                      <li class="border-right border-white pe-2">27 days</li>
	                      <li class="border-right border-white px-2">05 hrs</li>
	                      <li class="ps-2">33 min</li>
	                    </ul>
	                  </small>
	                </div>
	              </a>
	
	              <div class="card-body px-4">
	                <h5 class="">
	                  <a href="/user/destination/lodgingCheckDetails" class="card-title text-uppercase">브라운도트</a>
	                </h5>
	
	                <p class="mb-5">Suspendisse non feugiat mi. Vivamus eu mattis nibh. Quisque eget ipsum at odio fringilla
	                  consequat vel id erat.</p>
	
	                <div class="d-flex justify-content-between align-items-center">
	                  <div>
	                    <p class="mb-0 text-capitalize">Start from</p>
	                    <h3 class="text-primary">$249</h3>
	                  </div>
	                  <div>
	                    <a href="booking-step-1.html" class="btn btn-xs btn-outline-secondary text-uppercase">Book</a>
	                    <a href="" class="btn btn-xs btn-outline-secondary px-3">
	                      <i class="fas fa-map-marker-alt" aria-hidden="true"></i>
	                    </a>
	                  </div>
	                </div>
	              </div>
	            </div>
	          </div>
	
	          <div class="col-md-6 col-xl-4 mb-5">
	            <div class="card card-hover">
	              <a href="/user/destination/lodgingCheckDetails" class="position-relative">
	                <img class="card-img-top lazyestload" data-src="/user/img/packages/package-03.jpg" src="/user/img/packages/package-03.jpg" alt="Card image cap">
	                <div class="card-img-overlay card-hover-overlay rounded-top d-flex flex-column">
	                  <div class="badge bg-primary badge-rounded-circle">
	                    <span class="d-block">
	                      50%<br>off
	                    </span>
	                  </div>
	
	                  <ul class="list-unstyled d-flex mt-auto text-warning mb-0">
	                    <li>
	                      <i class="fa fa-star me-1" aria-hidden="true"></i>
	                    </li>
	                    <li>
	                      <i class="fa fa-star me-1" aria-hidden="true"></i>
	                    </li>
	                    <li>
	                      <i class="fa fa-star me-1" aria-hidden="true"></i>
	                    </li>
	                    <li>
	                      <i class="fa fa-star me-1" aria-hidden="true"></i>
	                    </li>
	                    <li>
	                      <i class="fa fa-star" aria-hidden="true"></i>
	                    </li>
	                  </ul>
	
	                  <small>
	                    <ul class="list-unstyled d-flex text-white font-weight-bold mb-0">
	                      <li class="border-right border-white pe-2">35 days</li>
	                      <li class="border-right border-white px-2">11 hrs</li>
	                      <li class="ps-2">03 min</li>
	                    </ul>
	                  </small>
	                </div>
	              </a>
	
	              <div class="card-body px-4">
	                <h5>
	                  <a href="/user/destination/lodgingCheckDetails" class="card-title text-uppercase">호텔야자</a>
	                </h5>
	                <p class="mb-5">Donec rutrum lectus et pharetra egestas. Integer purus ex, dictum nec elementum eu,
	                  tristique vel lectus.</p>
	
	                <div class="d-flex justify-content-between align-items-center">
	                  <div>
	                    <p class="mb-0 text-capitalize">Start from</p>
	                    <h3 class="text-primary">$149</h3>
	                  </div>
	                  <div>
	                    <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#inquiry" class="btn btn-xs btn-outline-secondary text-uppercase">Inquiry</a>
	                    <a href="" class="btn btn-xs btn-outline-secondary px-3">
	                      <i class="fas fa-map-marker-alt" aria-hidden="true"></i>
	                    </a>
	                  </div>
	                </div>
	              </div>
	            </div>
	          </div>
	
	          <div class="col-md-6 col-xl-4 mb-5">
	            <div class="card card-hover">
	              <a href="/user/destination/lodgingCheckDetails" class="position-relative">
	                <img class="card-img-top lazyestload" data-src="/user/img/packages/package-04.jpg" src="/user/img/packages/package-04.jpg" alt="Card image cap">
	                <div class="card-img-overlay card-hover-overlay rounded-top d-flex flex-column">
	                  <ul class="list-unstyled d-flex mt-auto text-warning mb-0">
	                    <li>
	                      <i class="fa fa-star me-1" aria-hidden="true"></i>
	                    </li>
	                    <li>
	                      <i class="fa fa-star me-1" aria-hidden="true"></i>
	                    </li>
	                    <li>
	                      <i class="fa fa-star me-1" aria-hidden="true"></i>
	                    </li>
	                    <li>
	                      <i class="fa fa-star me-1" aria-hidden="true"></i>
	                    </li>
	                    <li>
	                      <i class="fa fa-star" aria-hidden="true"></i>
	                    </li>
	                  </ul>
	
	                  <small>
	                    <ul class="list-unstyled d-flex text-white font-weight-bold mb-0">
	                      <li class="border-right border-white pe-2">07 days</li>
	                      <li class="border-right border-white px-2">15 hrs</li>
	                      <li class="ps-2">20 min</li>
	                    </ul>
	                  </small>
	                </div>
	              </a>
	
	              <div class="card-body px-4">
	                <h5 class="">
	                  <a href="/user/destination/lodgingCheckDetails" class="card-title text-uppercase">핀앤핏하우스</a>
	                </h5>
	
	                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
	
	                <div class="d-flex justify-content-between align-items-center">
	                  <div>
	                    <p class="mb-0 text-capitalize">Start from</p>
	                    <h3 class="text-primary">$150</h3>
	                  </div>
	                  <div>
	                    <a href="single-package-fullwidth.html" class="btn btn-xs btn-outline-secondary text-uppercase">Details</a>
	                    <a href="" class="btn btn-xs btn-outline-secondary px-3">
	                      <i class="fas fa-map-marker-alt" aria-hidden="true"></i>
	                    </a>
	                  </div>
	                </div>
	              </div>
	            </div>
	          </div>
	
	          <div class="col-md-6 col-xl-4 mb-5">
	            <div class="card card-hover">
	              <a href="/user/destination/lodgingCheckDetails" class="position-relative">
	                <img class="card-img-top lazyestload" data-src="/user/img/packages/package-05.jpg" src="/user/img/packages/package-05.jpg" alt="Card image cap">
	                <div class="card-img-overlay card-hover-overlay rounded-top d-flex flex-column">
	                  <div class="badge bg-primary badge-rounded-circle">
	                    <span class="d-block">
	                      50%<br>off
	                    </span>
	                  </div>
	
	                  <ul class="list-unstyled d-flex mt-auto text-warning mb-0">
	                    <li>
	                      <i class="fa fa-star me-1" aria-hidden="true"></i>
	                    </li>
	                    <li>
	                      <i class="fa fa-star me-1" aria-hidden="true"></i>
	                    </li>
	                    <li>
	                      <i class="fa fa-star me-1" aria-hidden="true"></i>
	                    </li>
	                    <li>
	                      <i class="fa fa-star me-1" aria-hidden="true"></i>
	                    </li>
	                    <li>
	                      <i class="fa fa-star" aria-hidden="true"></i>
	                    </li>
	                  </ul>
	
	                  <small>
	                    <ul class="list-unstyled d-flex text-white font-weight-bold mb-0">
	                      <li class="border-right border-white pe-2">07 days</li>
	                      <li class="border-right border-white px-2">15 hrs</li>
	                      <li class="ps-2">20 min</li>
	                    </ul>
	                  </small>
	                </div>
	              </a>
	
	              <div class="card-body px-4">
	                <h5 class="">
	                  <a href="/user/destination/lodgingCheckDetails" class="card-title text-uppercase">바라한호텔</a>
	                </h5>
	
	                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
	
	                <div class="d-flex justify-content-between align-items-center">
	                  <div>
	                    <p class="mb-0 text-capitalize">Start from</p>
	                    <h3 class="text-primary">$150</h3>
	                  </div>
	                  <div>
	                    <a href="single-package-fullwidth.html" class="btn btn-xs btn-outline-secondary text-uppercase">Details</a>
	                    <a href="" class="btn btn-xs btn-outline-secondary px-3">
	                      <i class="fas fa-map-marker-alt" aria-hidden="true"></i>
	                    </a>
	                  </div>
	                </div>
	              </div>
	            </div>
	          </div>
	
	          <div class="col-md-6 col-xl-4 mb-5">
	            <div class="card card-hover">
	              <a href="/user/destination/lodgingCheckDetails" class="position-relative">
	                <img class="card-img-top lazyestload" data-src="/user/img/packages/package-06.jpg" src="/user/img/packages/package-06.jpg" alt="Card image cap">
	                <div class="card-img-overlay card-hover-overlay rounded-top d-flex flex-column">
	                  <ul class="list-unstyled d-flex mt-auto text-warning mb-0">
	                    <li>
	                      <i class="fa fa-star me-1" aria-hidden="true"></i>
	                    </li>
	                    <li>
	                      <i class="fa fa-star me-1" aria-hidden="true"></i>
	                    </li>
	                    <li>
	                      <i class="fa fa-star me-1" aria-hidden="true"></i>
	                    </li>
	                    <li>
	                      <i class="fa fa-star me-1" aria-hidden="true"></i>
	                    </li>
	                    <li>
	                      <i class="fa fa-star" aria-hidden="true"></i>
	                    </li>
	                  </ul>
	
	                  <small>
	                    <ul class="list-unstyled d-flex text-white font-weight-bold mb-0">
	                      <li class="border-right border-white pe-2">07 days</li>
	                      <li class="border-right border-white px-2">15 hrs</li>
	                      <li class="ps-2">20 min</li>
	                    </ul>
	                  </small>
	                </div>
	              </a>
	
	              <div class="card-body px-4">
	                <h5 class="">
	                  <a href="/user/destination/lodgingCheckDetails" class="card-title text-uppercase">라베호텔</a>
	                </h5>
	
	                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
	
	                <div class="d-flex justify-content-between align-items-center">
	                  <div>
	                    <p class="mb-0 text-capitalize">Start from</p>
	                    <h3 class="text-primary">$150</h3>
	                  </div>
	                  <div>
	                    <a href="single-package-fullwidth.html" class="btn btn-xs btn-outline-secondary text-uppercase">Details</a>
	                    <a href="" class="btn btn-xs btn-outline-secondary px-3">
	                      <i class="fas fa-map-marker-alt" aria-hidden="true"></i>
	                    </a>
	                  </div>
	                </div>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	
	  <!-- ====================================
	———	PAGINATION
	===================================== -->
	<section class="pt-5 pt-md-7">
	  <div class="container">
	    <nav aria-label="Page navigation">
	      <ul class="pagination justify-content-center align-items-center">
	        <li class="page-item">
	          <a class="page-link" href="javascript:void(0)" tabindex="-1">
	            <i class="fas fa-long-arrow-alt-left d-none d-md-inline-block me-md-1" aria-hidden="true"></i> Previous
	          </a>
	        </li>
	    
	        <li class="page-item">
	          <a class="page-link active" href="javascript:void(0)">1</a>
	        </li>
	    
	        <li class="page-item">
	          <a class="page-link" href="javascript:void(0)">2</a>
	        </li>
	    
	        <li class="page-item">
	          <a class="page-link" href="javascript:void(0)">3</a>
	        </li>
	    
	        <li class="page-item">
	          <a class="page-link" href="javascript:void(0)">...</a>
	        </li>
	    
	        <li class="page-item">
	          <a class="page-link" href="javascript:void(0)">9</a>
	        </li>
	    
	        <li class="page-item">
	          <a class="page-link" href="javascript:void(0)">Next
	            <i class="fas fa-long-arrow-alt-right d-none d-md-inline-block ms-md-1" aria-hidden="true"></i>
	          </a>
	        </li>
	      </ul>
	    </nav>
	  </div>
	</section>
</section>
</div><!-- element wrapper ends -->

</html>