<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user/layout/default}">
	
<th:block layout:fragment="customCss">
    <link rel="stylesheet" th:href="@{/user/css/daterangepicker.css}">
    <link rel="stylesheet" th:href="@{/common/css/font/font.css}">
</th:block>

<th:block layout:fragment="customPageSection">
	<!-- ====================================
	———	TOUR PACKAGES SECTION
	===================================== -->
	<section class="bg-smoke py-5">
		<div class="container">
			<div class="row">
				<!--/* <div class="col-lg-4 col-xl-3 order-lg-1"> */-->
					
				</div>
				<div class="d-flex">
					<div class="col-md-0 col-sm-0 col-xs-0"></div>
           			<label for="areaCode" class="col-md-1 col-sm-1 col-xs-12">지역 코드:</label>
          			<div class="col-md-3 col-sm-3 col-xs-12">
	              		<select id="areaCode" name="areaCode" class="text-center" required>
	                    	<option value="">=== 지역 코드 ===</option>
	                    	<th:block th:each="list : ${areaCodeList}">
	                        	<option th:value="${list.areaCode}" th:text="${list.areaName}"></option>
	                    	</th:block>
	                	</select>
              			<br>
           			</div>
				
                <div class="col-md-0 col-sm-0 col-xs-0"></div>
	                <label for="sigunguCode" class="col-md-1 col-sm-1 col-xs-12">시군 코드:</label>
	                <div class="col-md-3 col-sm-3 col-xs-12 mb-5">
	                    <select id="sigunguCode" name="sigunguCode" class="text-center" required>
	                        <option value="">=== 시군 코드 ===</option>
	                    </select>
	                </div>
	                <button type="button" class="btn btn-outline-primary btn-xs" id="getTourListBtn" style="position: absolute; top: 407px; right: 485px; z-index: 1000">조회</button>
	                
	                
				</div>
				
				<div class="col-lg-12 col-xl-12">
					<div class="row">
						<div class="col-md-6 col-xl-4 mb-5" th:each="l: ${tourList}">
							<div class="card card-hover">
								<a th:href="@{/user/destination/tourCheckDetails(contentId=${l.contentId})}"
									class="position-relative"> 
										<img class="card-img-top lazyestload" 
										th:data-src="${l.tourImage}" 
										th:src="${l.tourImage}" alt="Card image cap">
									<!--/* <th:block th:if="${l.tourImage == ''}>
										<img class="card-img-top lazyestload" 
										data-src="/user/img/blog/blog-01.jpg" 
										src="/user/img/blog/blog-01.jpg" alt="Card image cap">
									</th:block> */-->
								</a>
								<div class="card-body px-4">
									<h5 class="">
										<a th:href="@{/user/destination/tourCheckDetails(contentId=${l.contentId})}"
											class="card-title" th:text="${l.tourTitle}">경기전</a>
									</h5>
									<p class="mb-5" th:text="${l.tourOverview}">Proin convallis magna vel libero accumsan
										sollicitudin. Quisque dapibus vitae turpis eu magna sagittis.
									</p>
								</div>
							</div>
						</div>

						
					</div>
				</div>
			</div>
		</div>

		<!-- ====================================
	———	PAGINATION
	===================================== -->
		<section class="pt-5 pt-md-7">
			<div class="container">
				<nav aria-label="Page navigation">
					<ul class="pagination justify-content-center align-items-center">
						<li>
							<a th:href="@{/user/destination/tourCheck}" class="page-link">[맨처음으로]</a>
						</li>
						<li class="page-item">
							<a class="page-link" th:if="${currentPage > 1}"
								th:href="@{/user/destination/tourCheck(currentPage=${currentPage - 1})}"
								 tabindex="-1"> 
								 <i class="fas fa-long-arrow-alt-left d-none d-md-inline-block me-md-1"
									aria-hidden="true"></i> 이전</a>
							<span th:unless="${currentPage > 1}">이전</span>
						</li>

						<li th:each="num : ${#numbers.sequence(startPageNum, lastPageNum)}" class="page-item">
							<a th:if="${num != currentPage}" class="page-link"
							   th:href="@{/user/destination/tourCheck(currentPage=${num})}"
							   th:text="|[${num}]|"></a>
							<span th:unless="${num != currentPage}"
								  th:text="|[${num}]|"></span>   
	
						<li class="page-item">
							<a th:if="${currentPage < lastPage}" class="page-link" th:href="@{/user/destination/tourCheck(currentPage=${currentPage + 1})}">다음 <i class="fas fa-long-arrow-alt-right d-none d-md-inline-block ms-md-1" aria-hidden="true"></i></a>
							<span th:unless="${currentPage < lastPage}" class="page-link">다음</span>
						</li>
						<li class="page-item">
						<a th:href="@{/user/destination/tourCheck(currentPage=${lastPage})}" class="page-link">[맨마지막으로]</a>
						</li>
					</ul>
				</nav>
			</div>
		</section>
	</section>
	</div>
	<!-- element wrapper ends -->
</th:block>

<th:block layout:fragment="customJsFIle">
    <script th:src="@{/user/js/owl.carousel.min.js}"></script>
    <script th:src="@{/user/js/aos.js}"></script>
    <script th:src="@{/user/js/jquery.waypoints.min.js}"></script>
    <script th:src="@{/user/js/moment.min.js}"></script>
    <script th:src="@{/user/js/daterangepicker.js}"></script>
    <script th:src="@{/user/js/custom.js}"></script>
</th:block>


<th:block layout:fragment="customJs">	
	<script th:inline="javascript">

            $('#areaCode').change(function() {
                const $areaCode = $(this).val();
                $.ajax({
                    url: '/user/sigungu-codes',
                    type: 'GET',
                    data: { areaCode: $areaCode },
                    success: function(data) {
                        $('#sigunguCode').empty();
                        $.each(data, function(index, item) {
                            $('#sigunguCode').append('<option value="' + item.sigunguCode + '">' + item.sigunguName + '</option>');
                        });
                    },
                    error: function(xhr) {
                        console.error('Error fetching sigungu codes:', xhr);
                    }
                });
            });
            
            $('getTourListBtn').click(function() {
            	const $areaCode = $('areaCode').val();
            	const $sigunguCode = $('sigunguCode').val();
            	
            });

    </script>
</th:block> 
</html>