<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user/layout/default}">

<th:block layout:fragment="customCss">
	<link th:href="@{/user/plugins/owl-carousel/owl.carousel.min.css}" rel='stylesheet' media='screen'>
	<link th:href="@{/user/plugins/owl-carousel/owl.theme.default.min.css}" rel='stylesheet' media='screen'>
	<!-- GOOGLE FONT -->
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700' rel='stylesheet'>

	<link th:href="@{/user/css/reviewList.css}" rel="stylesheet">
	<link th:href="@{/user/css/reviewReport.css}" rel="stylesheet">
</th:block>




<th:block layout:fragment="customPageSection">
	<!-- ====================================
———	CITY SECTION
===================================== -->
	<!-- 상단 이미지 스크린 start -->
	<div class="col-lg-8">
		<div class="mb-6 mb-lg-0">
			<div id="package-slider" class="owl-carousel owl-theme package-slider package-single">
				<div class="item">
					<img class="lazyestload" th:data-src="@{/user/img/packages/package-slider-001.jpg}"
						th:src="@{/user/img/packages/package-slider-001.jpg}" alt="image">
				</div>

				<div class="item">
					<img class="lazyestload" th:data-src="@{/user/img/packages/package-slider-002.jpg}"
						th:src="@{/user/img/packages/package-slider-002.jpg}" alt="image">
				</div>

				<div class="item">
					<img class="lazyestload" th:data-src="@{/user/img/packages/package-slider-003.jpg}"
						th:src="@{/user/img/packages/package-slider-003.jpg}" alt="image">
				</div>
			</div>
		</div>
	</div>
	<section class="py-10">
		<div class="container">
			<div class="mb-7">
				<div id="destination">
					<div class="mb-0">
						<!-- 탭 목록 start -->
						<ul class="nav nav-tabs destination-tabs" id="destinationTab" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="overView-tab" data-bs-toggle="tab" href="#overView"
									role="tab" aria-controls="overView" aria-selected="true">Overview</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="locationMap-tab" data-bs-toggle="tab" href="#locationMap"
									role="tab" aria-controls="locationMap" aria-selected="false">Location map</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="tourGuide-tab" data-bs-toggle="tab" href="#tourGuide" role="tab"
									aria-controls="tourGuide" aria-selected="false">후기</a>
							</li>

							<li class="nav-item ms-md-auto">
								<ul class="list-unstyled d-flex justify-content-center mb-0">
									<li class="me-3">
										<a href="javascript:void(0)" class="text-gray-color hover-text-primary">
											<i class="fab fa-facebook-f" aria-hidden="true"></i>
										</a>
									</li>

									<li class="me-3">
										<a href="javascript:void(0)" class="text-gray-color hover-text-primary">
											<i class="fab fa-twitter" aria-hidden="true"></i>
										</a>
									</li>
									<li class="me-3">
										<a href="javascript:void(0)" class="text-gray-color hover-text-primary">
											<i class="fab fa-google-plus-g" aria-hidden="true"></i>
										</a>
									</li>

									<li class="me-3">
										<a href="javascript:void(0)" class="text-gray-color hover-text-primary">
											<i class="fab fa-pinterest-p" aria-hidden="true"></i>
										</a>
									</li>
									<li>
										<a href="javascript:void(0)" class="text-gray-color hover-text-primary">
											<i class="fab fa-vimeo-v" aria-hidden="true"></i>
										</a>
									</li>
								</ul>
							</li>
						</ul>
						<!-- 탭 목록 end -->

						<!--본문 start -->
						<div class="tab-content destinationTab-content" id="destinationTabContent">
							<!-- Overview 본문 start -->
							<!-- Overview 본문 내용 존재 시 모든 탭에 보이는 문제 -->

							<!-- 							<div class="tab-pane show active" id="overView" role="tabpanel" aria-labelledby="overView-tab">
								<div class="row">
									<div class="col-md-7 col-lg-8">
										<h3 class="text-uppercase mb-5">Some title should be here</h3>

										<p class="mb-5">Lorem ipsum dolor sit amet, consectetur
											adipisicing elit, sed do eiusmod tempor incididunt ut labore
											et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
											exercitation ullamco laboris nisi ut aliquip ex ea commodo
											consequat. Duis aute irure dolor in reprehenderit in
											voluptate velit esse cillum dolore eu fugiat nulla pariatur.
											Excepteur sint occaecat cupidatat non proident.</p>

										<div class="mb-6 mb-md-0">
											<div class="row">
												<div class="col-lg-6">
													<ul class="list-unstyled mb-0">
														<li class="media media-list-content">
															<div class="">
																<i class="fa fa-square" aria-hidden="true"></i>
															</div>

															<div class="media-body">
																<p class="mb-0">Some point should be here</p>
															</div>
														</li>

														<li class="media media-list-content">
															<div class="">
																<i class="fa fa-square" aria-hidden="true"></i>
															</div>

															<div class="media-body">
																<p class="mb-0">Curabitur viverra orci ac faucibus</p>
															</div>
														</li>

														<li class="media media-list-content">
															<div class="">
																<i class="fa fa-square" aria-hidden="true"></i>
															</div>

															<div class="media-body">
																<p class="mb-0">Donec rhoncus aliquet mi mattis</p>
															</div>
														</li>

														<li class="media media-list-content">
															<div class="">
																<i class="fa fa-square" aria-hidden="true"></i>
															</div>

															<div class="media-body">
																<p class="mb-0">Morbi euismod molestie massa</p>
															</div>
														</li>
													</ul>
												</div>

												<div class="col-lg-6">
													<ul class="list-unstyled mb-0">
														<li class="media media-list-content">
															<div class="">
																<i class="fa fa-square" aria-hidden="true"></i>
															</div>

															<div class="media-body">
																<p class="mb-0">Pellentesque at lacus nec arcu</p>
															</div>
														</li>

														<li class="media media-list-content">
															<div class="">
																<i class="fa fa-square" aria-hidden="true"></i>
															</div>

															<div class="media-body">
																<p class="mb-0">Mattis suspendisse at ligula</p>
															</div>
														</li>

														<li class="media media-list-content mb-0">
															<div class="">
																<i class="fa fa-square" aria-hidden="true"></i>
															</div>

															<div class="media-body">
																<p class="mb-0">Volutpat quis eu augue</p>
															</div>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>

									<div class="col-md-5 col-lg-4">
										<div class="border border-light-gray bg-smoke rounded p-6">
											<h4 class="text-uppercase mb-5">Benefits</h4>

											<ul class="list-unstyled mb-6">
												<li class="media mb-3">
													<div class="me-3">
														<i class="fa fa-check-square" aria-hidden="true"></i>
													</div>

													<div class="media-body">
														<p class="text-dark text-capitalize mb-0">Some benefit</p>
													</div>
												</li>

												<li class="media mb-3">
													<div class="me-3">
														<i class="fa fa-check-square" aria-hidden="true"></i>
													</div>

													<div class="media-body">
														<p class="text-dark text-capitalize mb-0">Curabitur viveraj</p>
													</div>
												</li>

												<li class="media mb-3">
													<div class="me-3">
														<i class="fa fa-check-square" aria-hidden="true"></i>
													</div>

													<div class="media-body">
														<p class="text-dark text-capitalize mb-0">Donec null rhonus</p>
													</div>
												</li>

												<li class="media">
													<div class="me-3">
														<i class="fa fa-check-square" aria-hidden="true"></i>
													</div>

													<div class="media-body">
														<p class="text-dark text-capitalize mb-0">Morbi up sum eismod</p>
													</div>
												</li>
											</ul>

											<div class="">
												<button class="btn btn-primary text-uppercase" type="button"
													onclick="location.href='booking-step-1.html';">
													Book Now</button>
											</div>
										</div>
									</div>
								</div>
							</div> -->
							<!-- Overview 본문 end -->


							<!-- 리뷰 리스트 start -->
							<div class="tab-pane" id="tourGuide" role="tabpanel" aria-labelledby="tourGuide-tab">
								<div class="row">
									<div class="review-container">
										<!-- 리뷰 총 개수 및 평균 평점 -->
										<div class="review-stats_avg">
											<div class="rating-stars-avg"> </div>

											<p class="average-rating-text">평점: <span id="average-rating"></span></p>
											<p class="total-reviews-text">리뷰 개수: <span id="total-reviews"></span></p>
										</div>

										<div class="separator1"></div> <!-- 굵은 직선 추가 -->
										<div class="separator2"></div> <!-- 굵은 직선 추가 -->
										<div class="dropdown-1">

											<div class="button-container">
												<div class="recommend-dropdown">
													<button class="btn btn-primary btn-sm dropdown-toggle" type="button"
														id="dropdownMenuButton1" data-bs-toggle="dropdown"
														aria-expanded="false">추천순</button>
													<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
														<li><a class="dropdown-item" href="#">최신순</a></li>
														<li><a class="dropdown-item" href="#">좋아요순</a></li>
														<li><a class="dropdown-item" href="#">오래된순</a></li>
													</ul>
												</div>

												<div class="write-btn-container">
													<!-- ml-auto 클래스를 추가하여 버튼을 오른쪽으로 정렬합니다 -->
													<a th:href="@{/user/review/write}"><button type="button"
															class="btn btn-outline-primary btn-sm">작성하기</button></a>
												</div>
											</div>

											<div class="review-box" id="review-box">
												<!-- 리뷰 내용이 여기에 동적으로 추가 -->
											</div>
											<!-- 버튼 영역을 리뷰 영역에 포함시킴 -->
											<div class="review-box" id="button-container">
												<!-- 버튼 영역이 여기에 동적으로 추가 -->
											</div>


										</div>
									</div>
								</div>
								<!-- 리뷰 리스트 end -->

								<!-- Map start -->
								<div class="tab-pane" id="locationMap" role="tabpanel"
									aria-labelledby="locationMap-tab">
									<div class="" id="map" style="width: 100%; height: 400px;"></div>
								</div>
								<!-- Map end -->
							</div>

						</div>
					</div>
				</div>
			</div>







			<!-- Modal -->
			<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
				aria-labelledby="staticBackdropLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="staticBackdropLabel">신고하기</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="btn-group">
							<button type="button" class="btn btn-primary dropdown-toggle px-3" data-bs-toggle="dropdown"
								aria-expanded="false">
								신고 유형 선택
							</button>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item">카테고리1</a></li>
								<li><a class="dropdown-item">카테고리2</a></li>
								<li><a class="dropdown-item">카데고리3</a></li>
							</ul>
						</div>
						<div class="modal-body">
							<div class="mb-3">
								<label for="message-text" class="col-form-label">신고내용:</label>
								<textarea class="form-control" id="message-text" maxlength="100"></textarea>
								<div id="char-count">0/100</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
							<button type="button" class="btn btn-primary">신고</button>
						</div>
					</div>
				</div>
			</div>
	</section>
	<div class="mb-0">
		<h3 class="text-uppercase mb-5">Tour's form Maldives</h3>

		<div class="row">
			<div class="col-md-6 col-lg-4">
				<div class="media media-hoverable justify-content-center mb-5 mb-lg-0">
					<div class="media-content">
						<img class="media-img lazyestload" th:data-src="@{/user/img/packages/package-related-01.jpg}"
							th:src="@{/user/img/packages/package-related-01.jpg}" alt="Generic placeholder image">

						<a href="single-package-left-sidebar.html" class="media-img-overlay">
							<div class="overlay-content">
								<h3 class="text-uppercase font-weight-bold mb-3">Maldives Tour</h3>
								<p class="text-white text-capitalize mb-4">Lorem ipsum</p>

								<button type="button" onclick="location.href='jascript:void(0)';"
									class="btn btn-xs btn-sale btn-outline-primary text-uppercase">
									View more
								</button>
							</div>
						</a>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-lg-4">
				<div class="media media-hoverable justify-content-center mb-5 mb-lg-0">
					<div class="media-content">
						<img class="media-img lazyestload" th:data-src="@{/user/img/packages/package-related-02.jpg}"
							th:src="@{/user/img/packages/package-related-02.jpg}" alt="Generic placeholder image">

						<a href="single-package-left-sidebar.html" class="media-img-overlay">
							<div class="overlay-content">
								<h3 class="text-uppercase font-weight-bold mb-3">Blandit Tour</h3>
								<p class="text-white text-capitalize mb-4">Lorem ipsum</p>

								<button type="button" onclick="location.href='jascript:void(0)';"
									class="btn btn-xs btn-sale btn-outline-primary text-uppercase">
									View more
								</button>
							</div>
						</a>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-lg-4">
				<div class="media media-hoverable justify-content-center">
					<div class="media-content">
						<img class="media-img lazyestload" th:data-src="@{/user/img/packages/package-related-03.jpg}"
							th:src="@{/user/img/packages/package-related-03.jpg}" alt="Generic placeholder image">

						<a href="single-package-left-sidebar.html" class="media-img-overlay">
							<div class="overlay-content">
								<h3 class="text-uppercase font-weight-bold mb-3">Supendis Tour</h3>
								<p class="text-white text-capitalize mb-4">Lorem ipsum</p>

								<button type="button" onclick="location.href='jascript:void(0)';"
									class="btn btn-xs btn-sale btn-outline-primary text-uppercase">
									View more
								</button>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	</section>

	<!-- ====================================
    ——— MODAL SECTION
    ===================================== -->
	<!-- Signup Modal -->
	<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-label="signupModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header rounded">
					<h3 class="modal-title text-uppercase font-weight-bold">Create your account</h3>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>

				<div class="modal-body">
					<form class="" action="index.html" method="post">
						<div class="mb-3">
							<input type="text" class="form-control bg-smoke" required="" placeholder="Full Name">
						</div>

						<div class="mb-3">
							<input type="email" class="form-control bg-smoke" required="" placeholder="Email">
						</div>

						<div class="mb-3">
							<input type="password" class="form-control bg-smoke" required="" placeholder="Password">
						</div>

						<div class="mb-3 form-check mb-0">
							<input type="checkbox" class="form-check-input" id="exampleCheck4">
							<label class="form-check-label text-gray-color mb-3" for="exampleCheck4">
								I agree to the terms of use and privacy.
							</label>
						</div>

						<div class="d-grid">
							<button type="submit" class="btn btn-primary btn-block text-uppercase">Login</button>
						</div>

						<div class="text-uppercase text-center py-3">Or</div>

						<div class="d-grid">
							<button type="submit" class="btn btn-facebook btn-block text-uppercase text-white">Login
								with facebook</button>
						</div>
					</form>
				</div>

				<div class="modal-footer justify-content-center">
					<p class="mb-1">Don’t have an Account? <a href="javascript:void(0)">Sign up</a></p>
				</div>
			</div>
		</div>
	</div>

	<!-- Login Modal -->
	<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-label="loginModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header rounded">
					<h3 class="modal-title text-uppercase font-weight-bold">Log in to your account</h3>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>

				<div class="modal-body">
					<form class="" action="index.html" method="post">
						<div class="mb-3">
							<input type="email" class="form-control bg-smoke" required="" placeholder="Email">
						</div>

						<div class="mb-3">
							<input type="password" class="form-control bg-smoke" required="" placeholder="Password">
						</div>

						<div class="mb-3 form-check mb-0">
							<input type="checkbox" class="form-check-input" id="exampleCheck5">
							<label class="form-check-label text-gray-color mb-3" for="exampleCheck5">
								Remember me
							</label>
							<a class="pull-right" href="javascript:void(0)">Fogot Password?</a>
						</div>

						<div class="d-grid">
							<button type="submit" class="btn btn-primary text-uppercase">Login</button>
						</div>

						<div class="text-uppercase text-center py-3">Or</div>

						<div class="d-grid">
							<button type="submit" class="btn btn-facebook text-uppercase text-white">Login with
								facebook</button>
						</div>
					</form>
				</div>

				<div class="modal-footer justify-content-center">
					<p class="mb-1">Don’t have an Account? <a href="javascript:void(0)">Sign up</a></p>
				</div>
			</div>
		</div>
	</div>

	<!-- INQUIRY IN MODAL -->
	<div class="modal fade" id="inquiry" tabindex="-1" role="dialog" aria-label="inquiryModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header rounded">
					<h3 class="modal-title text-uppercase font-weight-bold">Inquiry about tour</h3>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>

				<div class="modal-body pb-3">
					<form class="" action="index.html" method="post">
						<div class="mb-3">
							<input type="text" class="form-control bg-smoke" required="" placeholder="Your Name">
						</div>

						<div class="mb-3">
							<input type="email" class="form-control bg-smoke" required="" placeholder="Your Email">
						</div>

						<div class="mb-3">
							<input type="number" class="form-control bg-smoke" required="" placeholder="Phone Number">
						</div>

						<div class="mb-3">
							<textarea class="form-control bg-smoke" rows="6" placeholder="Message"></textarea>
						</div>

						<button type="submit" class="btn btn-primary text-uppercase">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</th:block>

<th:block layout:fragment="customJsFIle">
	<script th:src="@{/user/plugins/owl-carousel/owl.carousel.min.js}"></script>
	<script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDU79W1lu5f6PIiuMqNfT1C6M0e_lq1ECY'></script>
	<script>
		/* 			const monthArray = ['January','February','March','April','May','June','July','August','September','October','November','December'];
					const dayArray = ['Sunday','Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
					const d = new Date();
					const year = d.getFullYear();
					const month = monthArray[d.getMonth()+1];
					const date = d.getDate()
					const day = dayArray[d.getDay()];
					document.getElementById("copy-year").innerHTML = year;
					document.getElementById("copy-month").innerHTML = month;
					document.getElementById("copy-date").innerHTML = date;
					document.getElementById("copy-day").innerHTML = day; */
	</script>

	<script>
		//더미 리뷰 데이터
		const reviews = [
			{
				id: 1,
				userId: "user123",
				rating: 4,
				date: "2024-04-25",
				modifiedDate: "2024-04-28",
				content: "이 상품 정말 좋아요!",
				image: ["/user/img/blog/blog-03.jpg", "/user/img/blog/blog-04.jpg"]
			},
			{
				id: 2,
				userId: "user456",
				rating: 5,
				date: "2024-04-20",
				content: "완전 강추합니다!완전 강추합니다!완전 강추합니다!완전 강추합니다!완전 강추합니다!완전 강추합니다!완전 강추합니다!완전 강추합니다!완전 강추합니다!완전 강추합니다!완전 강추합니다!완전 강추합니다!완전 강추합니다!완전 강추합니다!완전 강추합니다!완전 강추합니다!완전 강추합니다!완전 강추합니다!완전 강추합니다!완전 강추합니다!",
				image: ["/user/img/blog/blog-03.jpg"]
			},
			{
				id: 3,
				userId: "user123",
				rating: 2,
				date: "2024-04-25",
				modifiedDate: "2024-04-28",
				content: "이 상품 정말 좋아요!",
				image: []
			},
			{
				id: 4,
				userId: "user456",
				rating: 4,
				date: "2024-04-20",
				content: "완전 강추합니다!",
				image: ["/user/img/blog/blog-03.jpg", "/user/img/blog/blog-04.jpg", "/user/img/blog/blog-03.jpg", "/user/img/blog/blog-04.jpg"]
			},
			{
				id: 5,
				userId: "user456",
				rating: 3,
				date: "2024-04-20",
				content: "완전 강추합니다!완전 강추합니다!완전 강추합니다!완전 강추합니다!완전 강추합니다!완전 강추합니다!완전 강추합니다!완전 강추합니다!완전 강추합니다!완전 강추합니다!완전 강추합니다!완전 강추합니다!완전 강추합니다!완전 강추합니다!완전 강추합니다!완전 강추합니다!완전 강추합니다!완전 강추합니다!완전 강추합니다!완전 강추합니다!",
				image: ["/user/img/blog/blog-03.jpg", "/user/img/blog/blog-04.jpg"]
			},
		];

		const comment = [
			{
				reviewid: 1,
				userId: "user123",
				date: "2024-04-25",
				content: "이 상품 정말 좋아요!"
			},
			{
				reviewid: 2,
				userId: "user456",
				date: "2024-04-20",
				content: "완전 강추합니다!완전 강추합니다!완전 강추합니다!완전 강추합니다!완전 강추합니다!완전 강추합니다!완전 강추합니다!완전 강추합니다!완전 강추합니다!완전 강추합니다!완전 강추합니다!완전 강추합니다!완전 강추합니다!완전 강추합니다!완전 강추합니다!완전 강추합니다!완전 강추합니다!완전 강추합니다!완전 강추합니다!완전 강추합니다!"
			},
		];
	</script>

	<script>
		// 좋아요 클릭 시
		function increaseLike(reviewId) {
			likeCounts[reviewId]++;
			document.getElementById(`like-count-${reviewId}`).textContent = likeCounts[reviewId];
		}

		// 싫어요 클릭 시
		function increaseDislike(reviewId) {
			dislikeCounts[reviewId]++;
			document.getElementById(`dislike-count-${reviewId}`).textContent = dislikeCounts[reviewId];
		}

		// 좋아요, 싫어요 카운트
		let likeCounts = {};
		let dislikeCounts = {};

		// 리뷰 데이터를 기반으로 좋아요와 싫어요 카운트 초기화
		reviews.forEach(review => {
			likeCounts[review.id] = 0;
			dislikeCounts[review.id] = 0;
		});
	</script>

	<script>
		// 별점을 표시하는 함수
		function displayRating(rating) {
			let stars = '';
			for (let i = 0; i < 5; i++) {
				if (i < rating) {
					stars += '<span class="rating">★</span>';
				} else {
					stars += '<span class="rating">☆</span>'; // Use ☆ (empty star) for ratings less than current index
				}
			}
			return stars;
		}

		// 평균 평점을 별로 표시하는 함수
		function displayRatingWithColor(rating) {
			let stars = '';
			for (let i = 0; i < 5; i++) {
				if (i < rating) {
					stars += '<span class="rating orange-star">★</span>'; // 주황색 별 모양
				} else {
					stars += '<span class="rating">★</span>'; // 빈 별 모양
				}
			}
			return stars;
		}

		// 리뷰 총 개수 및 평균 평점 계산 함수
		function calculateReviewStats() {
			let totalReviews = reviews.length;
			let totalRating = 0;

			reviews.forEach(review => {
				totalRating += review.rating;
			});

			let averageRating = totalRating / totalReviews;

			// 평균 평점을 소수점 첫째자리까지 반올림하여 표시
			document.getElementById('total-reviews').textContent = totalReviews;
			document.getElementById('average-rating').textContent = averageRating.toFixed(1);

			// 별 모양 표시
			displayRatingWithColor(averageRating);
		}


		// 별점을 표시하는 함수
		function displayRatingWithColor(rating) {
			const ratingStarsContainer = document.querySelector('.rating-stars-avg');
			ratingStarsContainer.innerHTML = ''; // 기존의 내용을 지웁니다.

			const integerPart = Math.floor(rating); // 정수 부분
			const decimalPart = rating - integerPart; // 소수 부분

			for (let i = 0; i < 5; i++) {
				const star = document.createElement('span');
				if (i < integerPart) {
					star.textContent = '★';
					star.style.color = 'orange'; // 정수 부분은 모두 주황색으로 채색합니다.
				} else if (i === integerPart && decimalPart > 0) {
					// 소수 부분이 있는 경우 해당 별의 일부만 채색합니다.
					const gradient = `linear-gradient(to right, orange ${decimalPart * 100}%, gray ${decimalPart * 100}%)`;
					star.textContent = '★';
					star.style.backgroundImage = gradient;
					star.style.webkitBackgroundClip = 'text'; // 텍스트만 그라데이션을 적용합니다.
					star.style.color = 'transparent';
				} else {
					star.textContent = '★';
					star.style.color = 'gray'; // 나머지 별은 회색으로 채색합니다.
				}
				ratingStarsContainer.appendChild(star);
			}
		}
	</script>

	<script>
		function displayReviews() {
			const reviewBox = document.getElementById('review-box');
			reviewBox.innerHTML = '';

			if (reviews.length === 0) {
				const noReviewHTML = document.createElement('div');
				noReviewHTML.classList.add('no-review');
				noReviewHTML.textContent = '작성된 리뷰가 없습니다.';
				reviewBox.appendChild(noReviewHTML);
			} else {
				reviews.forEach(review => {
					const reviewContainer = document.createElement('div');
					reviewContainer.classList.add('review');

					const reviewContent = document.createElement('div');
					reviewContent.classList.add('review-content');

					const userId = document.createElement('div');
					userId.classList.add('user-id');
					userId.textContent = review.userId;
					reviewContent.appendChild(userId);

					const date = document.createElement('div');
					date.classList.add('date');
					let modifiedDateHTML = review.modifiedDate ? ` (수정됨 ${review.modifiedDate})` : '';
					date.textContent = `${review.date}${modifiedDateHTML}`;
					reviewContent.appendChild(date);

					const rating = document.createElement('div');
					rating.classList.add('rating');
					rating.innerHTML = displayRating(review.rating);
					reviewContent.appendChild(rating);

					const content = document.createElement('p');
					content.textContent = review.content;
					reviewContent.appendChild(content);

					let imageContainer = null;
					if (Array.isArray(review.image)) {
						imageContainer = document.createElement('div');
						imageContainer.classList.add('image-container');
						imageContainer.id = `review-${review.id}`;
						review.image.forEach((image, index) => {
							const img = document.createElement('img');
							img.src = image;
							img.alt = `Review Image ${index + 1}`;
							imageContainer.appendChild(img);
						});
					} else {
						const img = document.createElement('img');
						img.src = review.image;
						img.alt = 'Review Image';
						imageContainer = img;
					}
					reviewContent.appendChild(imageContainer);

					reviewContainer.appendChild(reviewContent);

					const buttonContainer = document.createElement('div');
					buttonContainer.classList.add('button-container', 'd-flex', 'justify-content-between', 'align-items-center');

					const likeDislikeContainer = document.createElement('div');
					likeDislikeContainer.classList.add('like-dislike-container', 'd-flex', 'flex-column');

					const likeBtn = document.createElement('button');
					likeBtn.classList.add('like-btn', 'mb-2');
					likeBtn.textContent = `❤️ 좋아요 (${likeCounts[review.id]})`;
					likeBtn.addEventListener('click', () => increaseLike(review.id));
					const likeCountSpan = document.createElement('span');
					likeCountSpan.id = `like-count-${review.id}`;
					likeCountSpan.textContent = likeCounts[review.id];
					likeBtn.appendChild(likeCountSpan);
					likeDislikeContainer.appendChild(likeBtn);

					const dislikeBtn = document.createElement('button');
					dislikeBtn.classList.add('dislike-btn');
					dislikeBtn.textContent = `❌ 싫어요 (${dislikeCounts[review.id]})`;
					dislikeBtn.addEventListener('click', () => increaseDislike(review.id));
					const dislikeCountSpan = document.createElement('span');
					dislikeCountSpan.id = `dislike-count-${review.id}`;
					dislikeCountSpan.textContent = dislikeCounts[review.id];
					dislikeBtn.appendChild(dislikeCountSpan);
					likeDislikeContainer.appendChild(dislikeBtn);

					buttonContainer.appendChild(likeDislikeContainer);

					const reportBtnContainer = document.createElement('div');
					reportBtnContainer.classList.add('report-btn-container');

					const reportBtn = document.createElement('button');
					reportBtn.type = 'button';
					reportBtn.classList.add('btn', 'btn-danger');
					reportBtn.dataset.bsToggle = 'modal';
					reportBtn.dataset.bsTarget = '#staticBackdrop';
					reportBtn.textContent = '신고하기';
					reportBtnContainer.appendChild(reportBtn);

					buttonContainer.appendChild(reportBtnContainer);

					reviewContainer.appendChild(buttonContainer);

					const relevantComments = comment.filter(c => c.reviewid === review.id);
					if (relevantComments.length > 0) {
						const commentsContainer = document.createElement('div');
						commentsContainer.classList.add('comments-container', 'relevantComments');
						relevantComments.forEach(comment => {
							const commentDiv = document.createElement('div');
							commentDiv.classList.add('comment');

							const userId = document.createElement('div');
							userId.classList.add('user-id');
							userId.textContent = comment.userId;
							commentDiv.appendChild(userId);

							const date = document.createElement('div');
							date.classList.add('date');
							date.textContent = comment.date;
							commentDiv.appendChild(date);

							const content = document.createElement('div');
							content.classList.add('content');
							content.textContent = comment.content;
							commentDiv.appendChild(content);

							commentsContainer.appendChild(commentDiv);
						});
						reviewContainer.appendChild(commentsContainer);
					}

					reviewBox.appendChild(reviewContainer);
				});
			}
		}


	</script>

	<script>
		document.addEventListener('DOMContentLoaded', function () {
			let dropdownButton = document.querySelector('.modal-dialog .dropdown-toggle');
			let dropdownMenuItems = document.querySelectorAll('.modal-dialog .dropdown-menu .dropdown-item');

			dropdownMenuItems.forEach(function (item) {
				item.addEventListener('click', function () {
					let selectedText = item.textContent;
					if (dropdownButton.textContent !== selectedText) {
						dropdownButton.textContent = selectedText;
					}
				});
			});

			dropdownButton.addEventListener('click', function () {
				if (dropdownButton.textContent === "신고 유형 선택") {
					return;
				} else {
					dropdownButton.textContent = "신고 유형 선택";
				}
			});
		});
	</script>


	<script>
		// 문서가 로드된 후 실행되는 코드
		document.addEventListener("DOMContentLoaded", function () {
			calculateReviewStats(); // 리뷰 통계 계산
			displayReviews(); // 리뷰 표시 함수 호출
			/* initImageSlider(); // 이미지 슬라이더 초기화 (240503 에러나는중) */
		});
	</script>
</th:block>

</html>