<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{user/layout/default}">

	<head>
		<title>리뷰 목록</title>
	    <link th:href="@{/user/plugins/owl-carousel/owl.carousel.min.css}" rel="stylesheet" media="screen">
		<link th:href="@{/user/plugins/owl-carousel/owl.theme.default.min.css}" rel="stylesheet" media="screen">
	</head>
	
	<th:block layout:fragment="customCss">
		<link th:href="@{/user/css/reviewList.css}" rel="stylesheet">
		<link th:href="@{/user/css/reviewReport.css}" rel="stylesheet">
		<!-- GOOGLE FONT -->
		<link
			href='https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700' rel='stylesheet'>
	</th:block>
	
	<th:block layout:fragment="customPageTitle">
	<!-- 컨트롤러로 title 변수로 model.att... 지정 가능  -->
		<!-- 		
		<section class="page-title">
			<div class="page-title-img bg-img bg-overlay-darken" style="background-image: url(/user/img/pages/page-title-bg11.jpg);">
				<div class="container">
					<div class="row align-items-center justify-content-center" style="height: 200px;">
						<div class="col-lg-6">
							<div class="page-title-content">
								<div class="title-border">
									<h2 class="text-uppercase text-white font-weight-bold">리뷰목록</h2>
								</div>
								<p class="text-white mb-0"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section> 
		-->
	</th:block>
	
	<th:block layout:fragment="customPageSection">
		<!-- 상단 이미지 스크린 start -->
		<div class="col-lg-8">
			<div class="mb-6 mb-lg-0">
				<div id="package-slider"
					 class="owl-carousel owl-theme package-slider package-single">
					<div class="item">
						<img class="lazyestload"
							 th:data-src="@{/user/img/packages/package-slider-001.jpg}"
							 th:src="@{/user/img/packages/package-slider-001.jpg}" alt="image">
					</div>

					<div class="item">
						<img class="lazyestload"
							 th:data-src="@{/user/img/packages/package-slider-002.jpg}"
							 th:src="@{/user/img/packages/package-slider-002.jpg}" alt="image">
					</div>

					<div class="item">
						<img class="lazyestload"
							 th:data-src="@{/user/img/packages/package-slider-003.jpg}"
							 th:src="@{/user/img/packages/package-slider-003.jpg}" alt="image">
					</div>
				</div>
			</div>
		</div>

		<!-- <div class="col-lg-4">
			<div class="card card-bg-img">
				<div class="position-relative">
					<img class="card-img-top rounded lazyestload"
						 th:data-src="@{/user/img/cities/weather-bg.jpg}"
						 th:src="@{/user/img/cities/weather-bg.jpg}" alt="Card image cap">
					<div class="card-img-overlay rounded-0 d-flex flex-column">
						<div class="row">
							<div class="col-6">
								<p class="text-white mb-0">
									<span id="copy-month"></span> <span id="copy-date"></span>, <span
										id="copy-year"></span>
								</p>
							</div>
							<div class="col-6">
								<div class="text-right">
									<p class="text-white mb-0" id="copy-day">Tuesday</p>
								</div>
							</div>
						</div>
						<div class="mt-auto text-center">
							<div class="mb-2">
								<img class="img-fluid" th:src="@{/user/img/icons/cloud.png}">
							</div>

							<h2 class="text-white font-weight-bold display-4 mb-4">
								28<sup>0</sup>
							</h2>
							<h3 class="text-white font-weight-bold mb-0">France, Paris</h3>
						</div>
						<div class="mt-auto px-4 px-lg-0 px-xl-4">
							<div class="row">
								<div class="col-4">
									<ul class="list-unstyled mb-0 text-center">
										<li class="mb-1">
											<p class="text-white mb-0">Tue</p>
										</li>

										<li class="mb-1">
											<img th:src="@{/user/img/icons/cloud-rain.png}" alt="image">
										</li>
										<li>
											<p class="text-white mb-0">
												18<sup>0</sup>
											</p>
										</li>
									</ul>
								</div>
								<div class="col-4">
									<ul class="list-unstyled mb-0 text-center">
										<li class="mb-1">
											<p class="text-white mb-0">Wed</p>
										</li>
										<li class="mb-1">
											<img th:src="@{/user/img/icons/sun.png}" alt="image">
										</li>
										<li>
											<p class="text-white mb-0">
												25<sup>0</sup>
											</p>
										</li>
									</ul>
								</div>
								<div class="col-4">
									<ul class="list-unstyled mb-0 text-center">
										<li class="mb-1">
											<p class="text-white mb-0">Thu</p>
										</li>
										<li class="mb-1">
											<img th:src="@{/user/img/icons/cloud-sm.png}" alt="image">
										</li>
										<li>
											<p class="text-white mb-0">
												22<sup>0</sup>
											</p>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<!-- 상단 이미지 스크린 end -->
		<!-- ====================================
	    	——— CITY SECTION
	    ===================================== -->
		<section class="py-10">
			<div class="container">
				<div class="mb-7">
					<div id="destination">
						<div class="mb-0">
							<!-- 탭 목록 start -->
							<ul class="nav nav-tabs destination-tabs" id="destinationTab" role="tablist">
								<li class="nav-item">
									<a class="nav-link active" id="overView-tab" data-bs-toggle="tab" href="#overView" role="tab" aria-controls="overView" aria-selected="true">Overview</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="locationMap-tab" data-bs-toggle="tab" href="#locationMap" role="tab" aria-controls="locationMap" aria-selected="false">Location map</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="tourGuide-tab" data-bs-toggle="tab" href="#tourGuide" role="tab" aria-controls="tourGuide" aria-selected="false">후기</a>
								</li>
	
								<li class="nav-item ms-md-auto">
									<ul class="list-unstyled d-flex justify-content-center mb-0">
										<li class="me-3">
											<a href="javascript:void(0)" class="text-gray-color hover-text-primary">
												<i class="fab fa-facebook-f" aria-hidden="true"></i>
											</a>
										</li>
	
										<li class="me-3">
											<a href="javascript:void(0)" class="text-gray-color hover-text-primary"> 
												<i class="fab fa-twitter" aria-hidden="true"></i>
											</a>
										</li>
										<li class="me-3">
											<a href="javascript:void(0)" class="text-gray-color hover-text-primary"> 
												<i class="fab fa-google-plus-g" aria-hidden="true"></i>
											</a>
										</li>
	
										<li class="me-3">
											<a href="javascript:void(0)" class="text-gray-color hover-text-primary">
												<i class="fab fa-pinterest-p" aria-hidden="true"></i>
											</a>
										</li>
										<li>
											<a href="javascript:void(0)" class="text-gray-color hover-text-primary">
												<i class="fab fa-vimeo-v" aria-hidden="true"></i>
											</a>
										</li>
									</ul>
								</li>
							</ul>
							<!-- 탭 목록 end -->
							
							<!--본문 start -->
							<div class="tab-content destinationTab-content" id="destinationTabContent">
								<!-- Overview 본문 start -->
								<!-- Overview 본문 내용 존재 시 모든 탭에 보이는 문제 -->
	
	<!-- 							<div class="tab-pane show active" id="overView" role="tabpanel" aria-labelledby="overView-tab">
									<div class="row">
										<div class="col-md-7 col-lg-8">
											<h3 class="text-uppercase mb-5">Some title should be here</h3>
	
											<p class="mb-5">Lorem ipsum dolor sit amet, consectetur
												adipisicing elit, sed do eiusmod tempor incididunt ut labore
												et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
												exercitation ullamco laboris nisi ut aliquip ex ea commodo
												consequat. Duis aute irure dolor in reprehenderit in
												voluptate velit esse cillum dolore eu fugiat nulla pariatur.
												Excepteur sint occaecat cupidatat non proident.</p>
	
											<div class="mb-6 mb-md-0">
												<div class="row">
													<div class="col-lg-6">
														<ul class="list-unstyled mb-0">
															<li class="media media-list-content">
																<div class="">
																	<i class="fa fa-square" aria-hidden="true"></i>
																</div>
	
																<div class="media-body">
																	<p class="mb-0">Some point should be here</p>
																</div>
															</li>
	
															<li class="media media-list-content">
																<div class="">
																	<i class="fa fa-square" aria-hidden="true"></i>
																</div>
	
																<div class="media-body">
																	<p class="mb-0">Curabitur viverra orci ac faucibus</p>
																</div>
															</li>
	
															<li class="media media-list-content">
																<div class="">
																	<i class="fa fa-square" aria-hidden="true"></i>
																</div>
	
																<div class="media-body">
																	<p class="mb-0">Donec rhoncus aliquet mi mattis</p>
																</div>
															</li>
	
															<li class="media media-list-content">
																<div class="">
																	<i class="fa fa-square" aria-hidden="true"></i>
																</div>
	
																<div class="media-body">
																	<p class="mb-0">Morbi euismod molestie massa</p>
																</div>
															</li>
														</ul>
													</div>
	
													<div class="col-lg-6">
														<ul class="list-unstyled mb-0">
															<li class="media media-list-content">
																<div class="">
																	<i class="fa fa-square" aria-hidden="true"></i>
																</div>
	
																<div class="media-body">
																	<p class="mb-0">Pellentesque at lacus nec arcu</p>
																</div>
															</li>
	
															<li class="media media-list-content">
																<div class="">
																	<i class="fa fa-square" aria-hidden="true"></i>
																</div>
	
																<div class="media-body">
																	<p class="mb-0">Mattis suspendisse at ligula</p>
																</div>
															</li>
	
															<li class="media media-list-content mb-0">
																<div class="">
																	<i class="fa fa-square" aria-hidden="true"></i>
																</div>
	
																<div class="media-body">
																	<p class="mb-0">Volutpat quis eu augue</p>
																</div>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
	
										<div class="col-md-5 col-lg-4">
											<div class="border border-light-gray bg-smoke rounded p-6">
												<h4 class="text-uppercase mb-5">Benefits</h4>
	
												<ul class="list-unstyled mb-6">
													<li class="media mb-3">
														<div class="me-3">
															<i class="fa fa-check-square" aria-hidden="true"></i>
														</div>
	
														<div class="media-body">
															<p class="text-dark text-capitalize mb-0">Some benefit</p>
														</div>
													</li>
	
													<li class="media mb-3">
														<div class="me-3">
															<i class="fa fa-check-square" aria-hidden="true"></i>
														</div>
	
														<div class="media-body">
															<p class="text-dark text-capitalize mb-0">Curabitur viveraj</p>
														</div>
													</li>
	
													<li class="media mb-3">
														<div class="me-3">
															<i class="fa fa-check-square" aria-hidden="true"></i>
														</div>
	
														<div class="media-body">
															<p class="text-dark text-capitalize mb-0">Donec null rhonus</p>
														</div>
													</li>
	
													<li class="media">
														<div class="me-3">
															<i class="fa fa-check-square" aria-hidden="true"></i>
														</div>
	
														<div class="media-body">
															<p class="text-dark text-capitalize mb-0">Morbi up sum eismod</p>
														</div>
													</li>
												</ul>
	
												<div class="">
													<button class="btn btn-primary text-uppercase" type="button"
														onclick="location.href='booking-step-1.html';">
														Book Now</button>
												</div>
											</div>
										</div>
									</div>
								</div> -->
								<!-- Overview 본문 end -->
								
	
								<!-- 리뷰 리스트 start -->
								<div class="tab-pane" id="tourGuide" role="tabpanel" aria-labelledby="tourGuide-tab">
								    <div class="row">
								        <div class="review-container text-container">
								            <!-- 이 곳에 리뷰가 표시될 것입니다 -->
								        </div>
								    </div>
								</div>
								<!-- 리뷰 리스트 end -->
										
										<!-- Map start -->
										<div class="tab-pane" id="locationMap" role="tabpanel"
											aria-labelledby="locationMap-tab">
											<div class="" id="map" style="width: 100%; height: 400px;"></div>
										</div>
										<!-- Map end -->
						</div>
					</div>
				</div>
			
			
			
			
			
			
			
				<!-- Modal -->
				<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
				    <div class="modal-dialog">
				        <div class="modal-content">
				            <div class="modal-header">
				                <h5 class="modal-title" id="staticBackdropLabel">신고하기</h5>
				                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				            </div>
				            <div class="btn-group">
				                <button type="button" class="btn btn-primary dropdown-toggle px-3" data-bs-toggle="dropdown" aria-expanded="false">
				                    신고 유형 선택
				                </button>
				                <ul class="dropdown-menu">
				                    <li><a class="dropdown-item">카테고리1</a></li>
				                    <li><a class="dropdown-item">카테고리2</a></li>
				                    <li><a class="dropdown-item">카데고리3</a></li>
				                </ul>
				            </div>
				            <div class="modal-body">
				                <div class="mb-3">
				                    <label for="message-text" class="col-form-label">신고내용:</label>
				                    <textarea class="form-control" id="message-text" maxlength="100"></textarea>
				                    <div id="char-count">0/100</div>
				                </div>
				            </div>
				            <div class="modal-footer">
				                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
				                <button type="button" class="btn btn-primary">신고</button>
				            </div>
				        </div>
				    </div>
				</div>
			</div>
		</section>
		
		
		
		
	</th:block>
	
	<th:block layout:fragment="customJsFIle">
		<script th:src="@{/user/plugins/owl-carousel/owl.carousel.min.js}"></script>
	</th:block>
	

	<th:block layout:fragment="customJs">
	
		<script>
		/*
		$(document).ready(function() {
		    $.ajax({
		        url: '/user/review/json',
		        type: 'GET',
		        dataType: 'json',
		        success: function(data) {
		            console.log(data);
		            displayReviews(data);
		        },
		        error: function(jqXHR, textStatus, errorThrown) {
		            console.error('AJAX 오류 발생:', textStatus, errorThrown);
		        }
		    });
		});
		*/

        $(document).ready(function() {
            let reviewsData, commentsData;

            // Fetch reviews
            $.ajax({
                url: '/user/review/json', // JSON 데이터를 제공하는 엔드포인트 URL
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    reviewsData = data;
                    if (commentsData) {
                        displayReviewsAndComments(reviewsData, commentsData);
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.error('AJAX 오류 발생:', textStatus, errorThrown);
                }
            });

            // Fetch comments
            $.ajax({
                url: '/user/review/comment/json', // JSON 데이터를 제공하는 엔드포인트 URL
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    commentsData = data;
                    if (reviewsData) {
                        displayReviewsAndComments(reviewsData, commentsData);
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.error('AJAX 오류 발생:', textStatus, errorThrown);
                }
            });
        });

        function displayReviewsAndComments(reviews, comments) {
            let reviewContainer = $('.tab-pane#tourGuide .review-container');

            reviews.forEach(function(review) {
                let listItem = $('<div>').addClass('review');
                
                // 작성자 아이디
                let reviewId = $('<p>').text(review.reviewId).addClass('review-id');
                listItem.append(reviewId);
                
                // 리뷰 작성일
                let reviewDateText = '리뷰 작성일: ' + review.reviewDate;
                let reviewDate = $('<span>').text(reviewDateText).addClass('review-date');
                listItem.append(reviewDate);

                // 수정일자가 null이 아닌 경우에만 출력
                if (review.reviewModifyDate !== null) {
                    let reviewModifyDateText = '(수정된 리뷰 ' + review.reviewModifyDate + ')';
                    let reviewModifyDate = $('<span>').text(reviewModifyDateText).addClass('review-modify-date');
                    listItem.append(reviewModifyDate);
                }
                
                // 별점
                let starsContainer = $('<div>').addClass('stars-container');
                for (let i = 0; i < 5; i++) {
                    let starText = review.reviewStarPoint > i ? '★' : '☆';
                    let starElement = $('<span>').text(starText).addClass(review.reviewStarPoint > i ? 'yellow-star' : '');
                    starsContainer.append(starElement);
                }
                listItem.append(starsContainer);
                
                // 리뷰 내용
                let reviewContent = $('<div>').text(review.reviewContent).addClass('review-content');
                listItem.append(reviewContent);
                
             	// 좋아요 버튼
                let likeButton = $('<button>').addClass('btn btn-outline-primary btn-sm like-button button-text');
                if (review.reviewLike && review.reviewLike !== 0) {
                    likeButton.text('♥ 좋아요 (' + review.reviewLike + ')');
                } else {
                    likeButton.text('좋아요(0)');
                }
                listItem.append(likeButton);

                // 싫어요 버튼
                let dislikeButton = $('<button>').addClass('btn btn-outline-primary btn-sm dislike-button button-text');
                if (review.reviewDislike && review.reviewDislike !== 0) {
                    dislikeButton.text('✕ 싫어요 (' + review.reviewDislike + ')');
                } else {
                    dislikeButton.text('싫어요(0)');
                }
                listItem.append(dislikeButton);
                
                // 모달을 트리거하는 버튼 생성
                let reportButton = $('<button>').addClass('btn btn-danger').attr({
                    'type': 'button',
                    'data-bs-toggle': 'modal',
                    'data-bs-target': '#staticBackdrop'
                }).text('신고하기');
                listItem.append(reportButton);

                let relatedComments = comments.filter(comment => comment.commentReviewCode === review.reviewCode);
                if (relatedComments.length > 0) {
                    let commentSection = $('<div>').addClass('comment-section');
                    relatedComments.forEach(function(comment) {
                        let commentWrapper = $('<div>').addClass('comment-wrapper'); // 코멘트와 날짜를 감싸는 div
                        let commentId = $('<div>').text(comment.commentId).addClass('comment-id');
                        let commentDate = $('<span>').text(comment.commentDate).addClass('comment-date');
                        let commentContent = $('<div>').text(comment.commentContent).addClass('comment-content');
                        
                        commentWrapper.append(commentId);
                        commentWrapper.append(commentDate);
                        commentSection.append(commentWrapper);
                        commentSection.append(commentContent);
                    });
                    listItem.append(commentSection);
                }



                // 리뷰와 리뷰 사이에 선을 추가합니다.
                let separator = $('<div>').addClass('separator3');
                reviewContainer.append(listItem);
                reviewContainer.append(separator);
            });
        }

		</script>
		
        
	</th:block>
</html>
