@charset "UTF-8";

/* 게시글 제목 스타일 */
.post-title {
    color: #333;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

.badge-cate {
    font-size: 1.2rem; /* 원하는 크기로 조정 */
}

/* 게시글 내용 스타일 */
.post-content {
    /* 최소 높이를 설정하고, 내용이 더 길어지면 스크롤이 생성되도록 합니다. */
    min-height: 150px;
    overflow-y: auto; /* 세로 스크롤만 표시됩니다. */
    font-family: 'Arial', sans-serif; /* 글꼴 설정 */
    font-size: 18px; 
    color: #333; /* 텍스트 색상 설정 */
    padding-top: 30px;
    line-height: 1.6; /* 행간 설정 */
    margin-top: 20px; /* 위 여백 설정 */
    margin-bottom: 30px; /* 아래 여백 설정 */
}

/* 작성자, 작성일, 조회수 스타일 */
.post-meta {
    color: #666;
    font-size: 14px;
    margin-bottom: 20px;
}

.post-meta span:nth-child(1),
.post-meta span:nth-child(2) {
    display: block;
}

.post-meta span:nth-child(3) {
    display: block;
    text-align:right;
}

.comment-author {
    font-size: 18px; /* 적절한 크기로 조정하세요 */
    padding-left: 20px;
}

.comment-date {
    font-size: 11px; /* 적절한 크기로 조정하세요 */
    padding-left: 10px;
}


.answer-content {
    font-size: 16px; /* 적절한 크기로 조정하세요 */
    padding-left: 60px; /* 적절한 여백 값으로 조정하세요 */
}


.reply-btn {
    margin-left: 40px; /* 적절한 여백 값으로 조정하세요 */
}

.comment-list {
    margin-bottom: 50px; /* 아래쪽 여백 설정 */
}

.comment-form {
    margin-top: 100px; /* 위쪽 여백 설정 */
}



.like-btn {
    float: right;
}

.dislike-btn {
    float: right;
} 



.comment-meta {
    display: flex;
    align-items: center;
}

.comment-meta .meta-info {
    margin-right: auto;
}

.comment-meta .comment-actions {
    margin-left: auto;
    display: flex;
    align-items: center;
}


.modify-btn {
    margin-right: auto;
    
}

.submit-btn {
	margin-bottom: 50px; /* 아래쪽 여백 설정 */
	
}


/* 목록 버튼 스타일 */
.list-btn {
    text-align: right;
    margin-top: 20px; /* 위쪽 여백 설정 */
}


.dropdown {
    position: relative;
    text-align: right; /* 드롭다운 버튼을 오른쪽에 정렬 */
}

.btn.dropdown-toggle {
    border: 1px solid #ced4da;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%; /* 드롭다운 메뉴가 드롭다운 버튼 아래에 위치하도록 함 */
    right: 0; /* 오른쪽 정렬 */
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 5px;
    z-index: 1;
    --bs-dropdown-min-width: 5rem
}

.dropdown-menu.active {
    display: block;
}



/* 댓글 수 뱃지 크기 */
.badge-size {
    font-size: 12px; /* 크기 조절 */
}

.post-header {
    display: flex;
    align-items: center;
}

/* 제목과 뱃지 사이 여백 */
.post-header .post-title {
    margin-right: 10px; /* 원하는 여백 크기로 조정하세요 */
}



