@charset "UTF-8";


/* 모달 내부 요소의 드롭다운 버튼 스타일 */
.report-modal .btn-group .dropdown-toggle {
    width: 100px !important; /* 버튼의 너비를 100px로 설정하고, 덮어쓰기 우선순위를 높임 */
    background-color: #ff9b40; /* 배경색을 주황색으로 설정 */
    color: white; /* 텍스트 색상을 흰색으로 설정 */
    border-color: #ff9b40; /* 테두리 색상을 주황색으로 설정 */
}

/* 모달 제목 스타일 */
.report-modal .modal-title {
    margin-left: 180px; /* 왼쪽 여백을 설정하여 가운데 정렬합니다. */
    font-weight: bold; /* 텍스트를 진하게 만듭니다. */
    font-size: 24px; /* 텍스트 크기를 24px로 설정합니다. */
}

/* 모달 내부 요소의 드롭다운 메뉴 스타일 */
.report-modal .dropdown-toggle {
    font-size: 15px; /* 드롭다운 버튼의 텍스트 크기를 조정합니다. */
}

/* 모달 내부 요소의 레이블 스타일 */
.report-modal .col-form-label {
    font-size: 15px; /* 레이블의 텍스트 크기를 조정합니다. */
}

/* 모달 내부의 신고내용 텍스트영역 스타일 */
.report-modal #message-text {
    height: 200px; /* 신고내용 텍스트영역의 높이를 200px로 설정합니다. */
    resize: none; /* 크기 조정을 비활성화합니다. */
    position: relative; /* 상대적 위치 설정 */
    color: black; /* 텍스트 색상을 검은색으로 설정합니다. */
}

/* (0/100) 텍스트 스타일 */
.report-modal #char-count {
    position: absolute; /* 절대적으로 배치합니다. */
    bottom: 5px; /* 하단 여백을 5px로 설정합니다. */
    right: 5px; /* 우측 여백을 5px로 설정합니다. */
    font-size: 15px; /* 텍스트 크기를 15px로 설정합니다. */
    color: gray; /* 텍스트 색상을 회색으로 설정합니다. */
    margin-right: 20px; /* 우측 여백을 20px로 설정합니다. */
}


/* 신고 유형 선택 버튼 스타일 */
.dropdown-toggle.btn-danger {
    width: 100px !important; /* 버튼의 너비 조정 */
    background-color: #ff9b40; /* 주황색 배경색 설정 */
    color: white; /* 텍스트 색상을 흰색으로 설정 */
    border-color: #ff9b40; /* 테두리 색상을 주황색으로 설정 */
}

.modal-title{
    /* text-align: center; */
    margin-left:  180px;
    font-weight: bold; /* 텍스트를 진하게 설정 */
    font-size: 24px; /* 텍스트 크기를 크게 설정 */
    
}


.btn.dropdown-toggle {
    font-size: 15px; /* 텍스트 크기 조정 */
}

.col-form-label {
    font-size: 15px; /* 텍스트 크기 조정 */
}

/* .dropdown-menu {
    width: 81%;
}  */

/* 텍스트 상자의 크기 고정 */
#message-text {
    /* width: 300px; */ /* 원하는 폭으로 조정 */
    height: 200px; /* 원하는 높이로 조정 */
    resize: none; /* 크기 조정 비활성화 */
    position: relative; /* 부모 요소에 대해 상대적으로 배치되도록 설정 */
    color: black; /* 텍스트 색상을 검은색으로 설정 */
}
/* (0/100) 텍스트 스타일 */
#char-count {
    position: absolute; /* 절대적으로 배치 */
    bottom: 5px; /* 아래에서 5px 떨어진 위치 */
    right: 5px; /* 오른쪽에서 5px 떨어진 위치 */
    font-size: 15px; /* 텍스트 크기 설정 */
    color: gray; /* 텍스트 색상 설정 */
    margin-right: 20px;
}

.btn.btn-danger {
    color: white;
}


