@charset "UTF-8";

/* 선 스타일1 */
.separator1{
    border-top: 3px solid #ff9b40; /* 굵은 직선 스타일 설정 */
    margin: 7px 0; /* 위아래 여백 설정 */
}

/* 선 스타일2 */
.separator2 {
    border-top: 1px solid #ffd0a5; /* 굵은 직선 스타일 설정 */
    margin-bottom: 10px;
}

/* 선 스타일3 */
.separator3 {
    border-top: 3px solid #ffd0a5; /* 굵은 직선 스타일 설정 */
    margin-bottom: 10px;
}

.review-content {
    overflow-wrap: break-word;
    color: black; /* 텍스트 색상을 검은색으로 설정 */
    margin-bottom: 10px;
}

.stars-container {
    font-size: 24px; /* 별 텍스트의 크기 */
    color: orange; /* 회색 별 텍스트 색상 */
    margin-bottom: 5px; /* 아래쪽 여백 설정 */
}

.yellow-star {
    color: orange; /* 노란색 별 텍스트 색상 */
}

.review-id {
    margin-top: 20px; /* 아이디 텍스트의 아래쪽에 10px 마진 추가 */
    margin-bottom: 5px;
    color: black;
}

.review-date {
    margin-right: 10px; /* 오른쪽 여백 설정 */
}

.review-modify-date {
    margin-left: 10px; /* 왼쪽 여백 설정 */
}

.like-button {
    display: block; /* 블록 요소로 설정하여 세로 배치 */
    width: 150px; /* 기본 너비 설정 */
    margin-right: 100%; /* 버튼 간격 조절 */
    margin-bottom: 5px;
    font-size: 0.1em;
}

.dislike-button {
    display: block; /* 블록 요소로 설정하여 세로 배치 */
    width: 150px; /* 기본 너비 설정 */
    margin-right: 100%; /* 버튼 간격 조절 */
    margin-bottom: 5px;
}