<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{platform/layout/default}">

	<th:block layout:fragment="customContent">
	<head>
		<style>
			input {
				width: 100%;
				height: 25px;
			}
			tbody button {
				width: 50%;
				height: 25px;
			}
			tbody select {
				width: 80%;
				height: 25px;
				text-align: center;
			}
			tfoot button {
				width: 49%;
				height: 25px;
			}
			th, td{
				text-align: center;
				vertical-align: middle;
			}
		</style>
	</head>	
		<div class="col-md-12col-sm-6 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h3>회원등급관리</h3>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<div class="clearfix"></div>
				</div>
				
				
				<div class="row">
					<div class="col-xs-12 table">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>회원아이디</th>
									<th>회원등급</th>
									<th>회원이름</th>
									<th>회원닉네임</th>
									<th>회원연락처</th>
								</tr>
							</thead>
							<tbody>
								<tr th:unless="${memberInfo != null}">
									<td align="center" colspan="5">등록된 회원의 정보가 없습니다.</td>
								</tr>
								<tr th:if="${memberInfo != null}" th:each="l : ${memberInfo}">
									<td th:text="${l.memberId}"></td>
									<td>
										<select id="memberGrdNum" name="memberGrdNum">
											<option value="">====회원등급을 선택해주세요====</option>
											<th:block th:if="${memberInfo != null}" 
													  th:each="l : ${memberList}">								
												<option th:value="1">[[${l.memberLevelName}]]</option>
											</th:block>
										</select>
									</td>
									<td th:text="${l.memberName}"></td>
									<td th:text="${l.memberNickname}"></td>
									<td th:text="${l.memberTelNum}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
				

</html>