<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout/default}">
<th:block layout:fragment="customCss">
    <link rel='stylesheet' th:href="@{/user/css/tripSchedule.css}">
</th:block>

<th:block layout:fragment="customPageSection">
    <div class="d-flex justify-content-end">
        <button class="btn btn-primary btn-sm me-2" type="button" id="modifyPlan">수정(구현 안됨)</button>
        <button class="btn btn-secondary btn-sm" id="backToListButton" type="button">목록으로</button>
    </div>
    <h2 class="text-uppercase text-letter-spacing-xs my-0 text-primary font-weight-bold mb-3"
        th:if="${tripOption != null}" th:text="${tripOption.tripTitle}">Schedule</h2>
    <h2 class="text-uppercase text-letter-spacing-xs my-0 text-primary font-weight-bold mb-3"
        th:unless="${tripOption != null}">Schedule</h2>
    <p>
        출발 날짜: <span th:text="${tripOption.startDate}">출발 날짜</span>,
        도착 날짜: <span th:text="${tripOption.endDate}">도착 날짜</span>
    </p>
    <div>
        <h5>실제 회원:</h5>
        <ul th:if="${not #lists.isEmpty(tripOption.invitedMembers)}">
            <li th:each="member : ${tripOption.invitedMembers}" th:text="${member}"></li>
        </ul>
        <p th:if="${#lists.isEmpty(tripOption.invitedMembers)}">없음</p>
    </div>

    <div>
        <h5>가상 회원:</h5>
        <ul th:if="${not #lists.isEmpty(tripOption.virtualMembers)}">
            <li th:each="member : ${tripOption.virtualMembers}" th:text="${member}"></li>
        </ul>
        <p th:if="${#lists.isEmpty(tripOption.virtualMembers)}">없음</p>
    </div>
    <!-- Days -->
    <div class="row mt-7">
        <div th:if="${tripOption != null}" th:each="dayPlan, dayStat : ${tripOption.dayPlans}" class="col-lg-6 mb-3" th:id="'day-' + ${dayStat.index}">
            <h4 class="mt-0 mb-3 text-dark op-8 font-weight-bold">
                <span th:text="${#temporals.format(dayPlan.date, 'yyyy년 MM월 dd일 EEEE')}">05월 08일 수요일</span>
            </h4>
            <ul class="list-timeline list-timeline-primary">
                <!-- 등록 시간 : 미구현 -->
                <!--/*<li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
                    <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">09:00 - 10:00</span> - 등록</p>
                </li>*/-->
                <!-- 일정 항목 반복 시작 -->
                <div th:each="item, itemStat : ${dayPlan.items}">
                    <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column" th:data-toggle="'collapse'" th:data-target="'#day-' + ${dayStat.index} + '-item-' + ${itemStat.index}">
                        <p class="my-0 text-dark flex-fw text-sm text-uppercase"> - <span th:text="${item.tourDetail.title}">이름</span></p>
                        <p class="my-0 collapse flex-fw text-uppercase text-xs text-dark op-8 show" th:id="'day-' + ${dayStat.index} + '-item-' + ${itemStat.index}" th:text="${item.tourDetail.mainAddr}">주소</p>
                    </li>
                </div>
                <!-- 일정 항목 반복 종료 -->
            </ul>
        </div>
    </div>
</th:block>

<th:block layout:fragment="customJsFIle">
    <!--2024.06.09-->
    <script th:src="@{/user/js/trip/backToPlanList.js}"></script>
</th:block>

<th:block layout:fragment="customJs"></th:block>
</html>
