<!DOCTYPE html>
<html lang="ko" layout:decorate="~{/user/layout/default}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="customCss">
    <style>
        .sortable-ghost {
            opacity: 0.5;
        }
    </style>
</th:block>

<th:block layout:fragment="customPageSection">
                    <div class="row justify-content-between">
                        <!-- 지역 선택 -->
                        <div class="form-group col-lg-6 mb-md-6 mb-lg-0">
                            <label for="region">지역 선택:</label>
                            <select class="select-option" id="region">
                                <!--/*th:with="regions=${@regionService.getRegions()}"*/-->
                                <option value="">지역 선택</option>
                                <option value="">옵션1</option>
                                <!--/*th:each="region : ${regions}" th:value="${region}" th:text="${region}"*/-->
                            </select>
                            <br>

                            <!-- 카테고리 탭 -->

                            <div id="destination">
                                <div class="mb-0">
                                    <ul class="nav nav-tabs destination-tabs" id="destinationTab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <a aria-controls="accommodation" aria-selected="false" class="nav-link"
                                               data-bs-toggle="tab"
                                               href="#accommodation"
                                               id="accommodation-tab" role="tab">숙소
                                            </a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a aria-controls="restaurant" aria-selected="false" class="nav-link"
                                               data-bs-toggle="tab"
                                               href="#restaurant"
                                               id="restaurant-tab"
                                               role="tab">음식점
                                            </a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a aria-controls="tour" aria-selected="false" class="nav-link"
                                               data-bs-toggle="tab"
                                               href="#tour"
                                               id="tour-tab" role="tab">관광지
                                            </a>
                                        </li>

                                        <li class="nav-item d-none"></li>
                                    </ul>
                                </div>
                            </div>

                            <!-- 세부 옵션 -->
                            <div class="tab-content" id="optionsContent">
                                <div aria-labelledby="accommodation-tab" class="tab-pane fade" id="accommodation"
                                     role="tabpanel">
                                    <ul class="list-group" id="accommodationOptions">
                                        <li class="list-group-item" data-id="accommodation1">
                                            <h5>호텔 A</h5>
                                            <p>간단한 설명...</p>
                                            <p>세부 스케줄: <input type="text" class="schedule-input" value="호텔 A 세부 스케줄">
                                            </p>
                                            <p>추가 사항: <input type="text" class="additional-input" value="호텔 A 추가 사항">
                                            </p>
                                            <button class="btn btn-outline-primary btn-addPlan btn-sm">담기</button>
                                        </li>
                                        <li class="list-group-item" data-id="accommodation2">
                                            <h5>펜션 B</h5>
                                            <p>간단한 설명...</p>
                                            <p>세부 스케줄: <input type="text" class="schedule-input" value="펜션 B 세부 스케줄">
                                            </p>
                                            <p>추가 사항: <input type="text" class="additional-input" value="펜션 B 추가 사항">
                                            </p>
                                            <button class="btn btn-outline-primary btn-addPlan btn-sm">담기</button>
                                        </li>
                                        <li class="list-group-item" data-id="accommodation3">
                                            <h5>호텔 B</h5>
                                            <p>간단한 설명...</p>
                                            <p>세부 스케줄: <input type="text" class="schedule-input" value="호텔 A 세부 스케줄">
                                            </p>
                                            <p>추가 사항: <input type="text" class="additional-input" value="호텔 A 추가 사항">
                                            </p>
                                            <button class="btn btn-outline-primary btn-addPlan btn-sm">담기</button>
                                        </li>
                                        <li class="list-group-item" data-id="accommodation4">
                                            <h5>호텔 C</h5>
                                            <p>간단한 설명...</p>
                                            <p>세부 스케줄: <input type="text" class="schedule-input" value="호텔 A 세부 스케줄">
                                            </p>
                                            <p>추가 사항: <input type="text" class="additional-input" value="호텔 A 추가 사항">
                                            </p>
                                            <button class="btn btn-outline-primary btn-addPlan btn-sm">담기</button>
                                        </li>
                                        <li class="list-group-item" data-id="accommodation5">
                                            <h5>호텔 D</h5>
                                            <p>간단한 설명...</p>
                                            <p>세부 스케줄: <input type="text" class="schedule-input" value="호텔 A 세부 스케줄">
                                            </p>
                                            <p>추가 사항: <input type="text" class="additional-input" value="호텔 A 추가 사항">
                                            </p>
                                            <button class="btn btn-outline-primary btn-addPlan btn-sm">담기</button>
                                        </li>
                                        <li class="list-group-item" data-id="accommodation6">
                                            <h5>호텔 E</h5>
                                            <p>간단한 설명...</p>
                                            <p>세부 스케줄: <input type="text" class="schedule-input" value="호텔 A 세부 스케줄">
                                            </p>
                                            <p>추가 사항: <input type="text" class="additional-input" value="호텔 A 추가 사항">
                                            </p>
                                            <button class="btn btn-outline-primary btn-addPlan btn-sm">담기</button>
                                        </li>
                                    </ul>
                                </div>
                                <div aria-labelledby="restaurant-tab" class="tab-pane fade" id="restaurant"
                                     role="tabpanel">
                                    <ul class="list-group" id="restaurantOptions">
                                        <li class="list-group-item" data-id="restaurant1">
                                            <h5>레스토랑 C</h5>
                                            <p>간단한 설명...</p>
                                            <p>세부 스케줄: <input type="text" class="schedule-input" value="레스토랑 C 세부 스케줄">
                                            </p>
                                            <p>추가 사항: <input type="text" class="additional-input" value="레스토랑 C 추가 사항">
                                            </p>
                                            <button class="btn btn-outline-primary btn-addPlan btn-sm">담기</button>
                                        </li>
                                        <li class="list-group-item" data-id="restaurant2">
                                            <h5>카페 D</h5>
                                            <p>간단한 설명...</p>
                                            <p>세부 스케줄: <input type="text" class="schedule-input" value="카페 D 세부 스케줄">
                                            </p>
                                            <p>추가 사항: <input type="text" class="additional-input" value="카페 D 추가 사항">
                                            </p>
                                            <button class="btn btn btn-outline-primary btn-addPlan btn-sm">담기</button>
                                        </li>
                                    </ul>
                                </div>
                                <div aria-labelledby="tour-tab" class="tab-pane fade" id="tour" role="tabpanel">
                                    <ul class="list-group" id="tourOptions">
                                        <li class="list-group-item" data-id="tour1">
                                            <h5>박물관 E</h5>
                                            <p>간단한 설명...</p>
                                            <p>세부 스케줄: <input type="text" class="schedule-input" value="박물관 E 세부 스케줄">
                                            </p>
                                            <p>추가 사항: <input type="text" class="additional-input" value="박물관 E 추가 사항">
                                            </p>
                                            <button class="btn btn btn-outline-primary btn-addPlan btn-sm">담기</button>
                                        </li>
                                        <li class="list-group-item" data-id="tour2">
                                            <h5>명소 F</h5>
                                            <p>간단한 설명...</p>
                                            <p>세부 스케줄: <input type="text" class="schedule-input" value="명소 F 세부 스케줄">
                                            </p>
                                            <p>추가 사항: <input type="text" class="additional-input" value="명소 F 추가 사항">
                                            </p>
                                            <button class="btn btn-outline-primary btn-addPlan btn-sm">담기</button>
                                        </li>
                                    </ul>
                                </div>
                                <br>
                            </div>
                            <br><br>
                        </div>

                        <!-- 여행 계획 -->
                        <div class="list-group col-lg-6 mb-6 mb-lg-0">
                            <h3>여행 스케줄 조정</h3>
                            <div class="mb-3">
                                <!-- 탭 메뉴 -->
                                <ul class="nav nav-tabs nav-justified blog-tabs" id="myDayTab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <a aria-controls="day1" aria-selected="true" class="nav-link active"
                                           data-bs-toggle="tab" href="#day1" id="day1-tab" role="tab">1일차</a>
                                    </li>
                                    <li class="nav-item add-day" role="presentation">
                                        <button class="nav-link">+</button>
                                    </li>
                                </ul>
                                <div class="tab-content bg-smoke border border-light-gray border-top-0 rounded-bottom px-3 py-5"
                                     id="myDayTabContent">
                                    <div aria-labelledby="day1-tab" class="tab-pane fade show active" id="day1"
                                         role="tabpanel">
                                        <!-- sortable 리스트의 내용 -->
                                        <ul class="sortable" id="planDay1">
                                            <li class="sortable-item list-group-item list-group-item-action">
                                                <div class="row align-items-center">
                                                    <div class="col-1">
                                                        <div class="border border-dark bg-facebook text-white rounded-circle d-flex justify-content-center align-items-center mt-1"
                                                             style="height:22px;width:22px;">
                                                            <span class="number">1</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-7 mt-2">
                                                        <h4>전주 박물관</h4>
                                                    </div>
                                                    <div class="col-4 text-end">
                                                        <small>여기에 시간 입력</small>
                                                    </div>
                                                </div>
                                                <button type="button"
                                                        class="btn btn-outline-danger btn-delete  btn-xs float-end">제거
                                                </button>
                                                <p class="text-black mb-1">여기에 세부 스케줄 입력</p>
                                                <small>여기에 추가 사항 입력</small>
                                            </li>
                                            <li class="sortable-item list-group-item list-group-item-action">
                                                <div class="row align-items-center">
                                                    <div class="col-1">
                                                        <div class="border border-dark bg-facebook text-white rounded-circle d-flex justify-content-center align-items-center mt-1"
                                                             style="height:22px;width:22px;">
                                                            <span class="number">2</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-7 mt-2">
                                                        <h4>전주 한옥마을</h4>
                                                    </div>
                                                    <div class="col-4 text-end">
                                                        <small>여기에 시간 입력</small>
                                                    </div>
                                                </div>
                                                <button type="button"
                                                        class="btn btn-outline-danger btn-delete  btn-xs float-end">제거
                                                </button>
                                                <p class="text-black mb-1">여기에 세부 스케줄 입력</p>
                                                <small>여기에 추가 사항 입력</small>
                                            </li>
                                            <li class="sortable-item list-group-item list-group-item-action">
                                                <div class="row align-items-center">
                                                    <div class="col-1">
                                                        <div class="border border-dark bg-facebook text-white rounded-circle d-flex justify-content-center align-items-center mt-1"
                                                             style="height:22px;width:22px;">
                                                            <span class="number">3</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-7 mt-2">
                                                        <h4>전주 한국스마트정보원</h4>
                                                    </div>
                                                    <div class="col-4 text-end">
                                                        <small>여기에 시간 입력</small>
                                                    </div>
                                                </div>
                                                <button type="button"
                                                        class="btn btn-outline-danger btn-delete  btn-xs float-end">제거
                                                </button>
                                                <p class="text-black mb-1">여기에 세부 스케줄 입력</p>
                                                <small>여기에 추가 사항 입력</small>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <!-- 거리 정보 -->
                                <br>
                                <div class="d-flex w-100 justify-content-between">
                                    <div id="distanceInfo"></div>


                                    <div class="col-lg-4 mb-6 mb-lg-0">
                                        <!-- 지도 및 거리/금액 정보 -->
                                        <div id="map"></div>
                                        <div>총 거리: <span id="totalDistance"> 10cm</span></div>
                                        <div>총 금액: <span id="totalCost"> 10원</span></div>

                                    </div>
                                    <div class="col-lg-4 mb-6 mb-lg-0">
                                        <button class="btn btn-primary btn-mb2">확정</button>
                                        <button class="btn btn-secondary btn-mb2">취소</button>
                                    </div>
                                </div>
                                <br><br><br><br>
                            </div>
                        </div>
                    </div>

</th:block>

<th:block layout:fragment="customJsFIle">
    <script th:src="@{/user/plugins/sortable/Sortable.js}"></script>
    <script th:src="@{/user/js/tripPlanner.js}"></script>
</th:block>

<th:block layout:fragment="customJs">
    <script type="javascript">
        // "1일차" 탭을 활성화합니다.
        setTimeout(function (){
            document.getElementById('day1-tab').classList.add('active');
        }, 200);
    </script>
</th:block>
</html>
