<!DOCTYPE html>
<html lang="ko" layout:decorate="~{/user/layout/default}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="customHead">
    <style>
        .nav-tabs .nav-link.active {
            background-color: #f8f9fa;
            border-color: #dee2e6 #dee2e6 #fff;
        }

        .sortable-ghost {
            opacity: 0.5;
        }
    </style>
    <script th:src="@{'https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js'}"></script>
</th:block>

<th:block layout:fragment="customContent">

    <br>

    <h1>여행 계획</h1>

    <div class="row justify-content-between">
        <!-- 지역 선택 -->
        <div class="form-group col-lg-6 mb-md-6 mb-lg-0">
            <label for="region">지역 선택:</label>
            <select class="select-option" id="region"><!--/*th:with="regions=${@regionService.getRegions()}"*/-->
                <option value="">지역 선택</option>
                <option>옵션1</option> <!--/*th:each="region : ${regions}" th:value="${region}" th:text="${region}"*/-->
            </select>
        </div>

        <!-- 여행 계획 -->
        <div class="list-group col-lg-6 mb-6 mb-lg-0">
            <h3>여행 계획</h3>
            <ul class="sortable" id="plan">
                <li class="sortable-item list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <span class="number">1</span>
                        <h4 class="col-9">전주 박물관</h4>
                        <small>여기에 시간 입력</small>
                    </div>
                    <p class="text-black mb-1">여기에 세부 스케줄 입력</p>
                    <small>여기에 추가 사항 입력</small>
                </li>
                <li class="sortable-item list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <span class="number">1</span>
                        <h4 class="col-9">전주 한옥마을</h4>
                        <small>여기에 시간 입력</small>
                    </div>
                    <p class="text-black mb-1">여기에 세부 스케줄 입력</p>
                    <small>여기에 추가 사항 입력</small>
                </li>
                <li class="sortable-item list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <span class="number">1</span>
                        <h4 class="col-9">전주 한국스마트정보원</h4>
                        <small>여기에 시간 입력</small>
                    </div>
                    <p class="text-black mb-1">여기에 세부 스케줄 입력</p>
                    <small>여기에 추가 사항 입력</small>
                </li>
            </ul>

            <!-- 거리 정보 -->
            <div id="distanceInfo"></div>


            <div class="col-lg-4 mb-6 mb-lg-0">
                <!-- 지도 및 거리/금액 정보 -->
                <div id="map"></div>
                <div>총 거리: <span id="totalDistance"></span></div>
                <div>총 금액: <span id="totalCost"></span></div>
                <br><br><br><br>
            </div>
        </div>


        <!-- 카테고리 탭 -->

        <div class="col-lg-6 mb-1 mb-lg-0">
            <div id="destination">
                <div class="mb-0">
                    <ul class="nav nav-tabs destination-tabs" id="destinationTab" role="tablist">
                        <li class="nav-item">
                            <a aria-controls="overView" aria-selected="true" class="nav-link active"
                               data-bs-toggle="tab"
                               href="#overView"
                               id="overView-tab" role="tab">숙소</a>
                        </li>

                        <li class="nav-item">
                            <a aria-controls="tourGuide" aria-selected="false" class="nav-link" data-bs-toggle="tab"
                               href="#tourGuide"
                               id="tourGuide-tab"
                               role="tab">음식점</a>
                        </li>

                        <li class="nav-item">
                            <a aria-controls="locationMap" aria-selected="false" class="nav-link" data-bs-toggle="tab"
                               href="#locationMap"
                               id="locationMap-tab" role="tab">관광지</a>
                        </li>

                        <li class="nav-item d-none"></li>
                    </ul>
                </div>
            </div>
        </div>


        <!-- 세부 옵션 -->
        <div class="tab-content" id="optionsContent">
            <div aria-labelledby="overView-tab" class="tab-pane fade show active" id="overView" role="tabpanel">
                <ul id="accommodationOptions"></ul>
            </div>
            <div aria-labelledby="tourGuide-tab" class="tab-pane fade" id="tourGuide" role="tabpanel">
                <ul id="restaurantOptions"></ul>
            </div>
            <div aria-labelledby="locationMap-tab" class="tab-pane fade" id="locationMap" role="tabpanel">
                <ul id="attractionOptions"></ul>
            </div>
        </div>


    </div>
</th:block>

<th:block layout:fragment="customJs">

    <script th:src="@{/user/js/tripPlanner.js}"></script>
</th:block>
</html>