<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div class="col-md-3 left_col" th:fragment="asideFragment">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a class="site_title" th:href="@{/platform/main}">
                <i class="fa fa-paw"></i>
                <span>시 금 치</span>
            </a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile clearfix">
            <div class="profile_pic">
                <img alt="..." class="img-circle profile_img" th:src="@{/platform/images/img.jpg}">
            </div>
            <div class="profile_info">
                <span>어서오세요</span>
                <h2 th:text="${session.loginName} + '님'"></h2>
            </div>
        </div>
        <!-- /menu profile quick info -->

        <br/>

        <!-- sidebar menu -->
        <div class="main_menu_side hidden-print main_menu" id="sidebar-menu">
            <div class="menu_section">
                <ul class="nav side-menu">
                    <li>
                        <a>
                        <i class="fa fa-home"></i>
                            1.회원 관리-효민
                            <span class="fa fa-chevron-down"></span>
                        </a>
                        <ul class="nav child_menu">
                            <li><a href="/platform/member/memberManagement">회원정보 조회 및 등급변경</a></li>
                            <li><a href="/platform/member/memberManageChange">회원정보 수정 및 탈퇴</a></li>
                        </ul>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-edit"></i>
                            2.여행지 관리-가영
                            <span class="fa fa-chevron-down"></span>
                        </a>
                        <ul class="nav child_menu">
                            <li><a href="/platform/destination/categoryManage">?카테고리 관리</a></li>
                            <li><a href="/platform/destination/tourManage">?관광지 관리</a></li>
                            <li><a href="/platform/destination/lodgingManage">?숙소 관리</a></li>
                            <li><a href="/platform/destination/restaurantManage">?음식점 관리</a></li>
                            <li><a href="/platform/destination/destinationRegister">?여행지 등록</a></li>
                        </ul>
                    </li>

                    <li>
                    	<a>
                    		<i class="fa fa-table"></i>
                    		3.여행계획 관리
                    		<span class="fa fa-chevron-down"></span>
                   		</a>
                        <ul class="nav child_menu">
                            <li><a th:href="@{/platform/plan/list}">여행 계획 목록 조회</a></li>
                            <li><a th:href="@{/platform/plan/code}">지역 코드 관리 & 업데이트(API)</a></li>
                            <li><a th:href="@{/platform/plan/tourInfo}">여행지 정보 업데이트(API)</a></li>
                            <li><a th:href="@{/platform/plan/destination}">여행지 정보 관리</a></li>
                        </ul>
                    </li>
                    <!--/*<li>
                        <a>
                            <i class="fa fa-bug"></i>
                            4.후기 관리-유희
                            <span class="fa fa-chevron-down"></span>
                        </a>
                        <ul class="nav child_menu">
                            <li><a th:href="@{/platform/review/list}">상품 리뷰 목록 관리</a></li>
                            <li><a th:href="@{/platform/review/react}">상품 리뷰 좋아요 싫어요 기록 목록 관리</a></li>
                            <li><a th:href="@{/platform/review/report/list}">상품 리뷰 신고 목록 관리</a></li>
                            <li><a th:href="@{/platform/review/total/list}">상품 리뷰 신고 누적 관리</a></li>
                            <li><a th:href="@{/platform/review/comment/list}">답글 리뷰 목록 관리</a></li>
                        </ul>
                    </li>*/-->
                    <li>
                        <a>
                            <i class="fa fa-desktop"></i>
                            4.플랫폼 관리-윤
                            <span class="fa fa-chevron-down"></span>
                        </a>
                        <ul class="nav child_menu">
                            <li><a th:href="@{/platform/board/communityList}">커뮤니티 관리</a></li>
                            <li><a th:href="@{/platform/board/noticeList}">공지사항 관리</a></li>
                            <li><a th:href="@{/platform/board/faqList}">자주 묻는 질문 관리</a></li>
                            <li><a th:href="@{/platform/board/qnaList}">1:1문의 관리</a></li>
                          <!--  <li><a th:href="@{/platform/board/categoryList}">카테고리 관리</a></li> -->
                            <li><a th:href="@{/platform/board/reportList}">게시판 신고내역 관리</a></li>
                        </ul>
                    </li>
                    <li>
                    	<a>
                    		<i class="fa fa-windows"></i>
                    		5.추천 관리-창우
                    		<span class="fa fa-chevron-down"></span>
                   		</a>
                        <ul class="nav child_menu">
                            <li><a th:href="@{/platform/ranking/rankingList}">?플랫폼 추천 관리</a></li>
                            <li><a th:href="@{/platform/ranking/userRankingList}">?회원 추천 관리</a></li>
                            <li><a th:href="@{/platform/ranking/planRankingList}">?여행계획 추천 관리</a></li>
                            <li><a th:href="@{/platform/ranking/rankingApiList}">?API리스트 조회</a></li>
                            <li><a th:href="@{/platform/ranking/rankingInfoList}">?관계리스트 관리</a></li>
                        </ul>
                    </li>
					<!--/*<li>
                    	<a>
                    		<i class="fa fa-windows"></i>
                    		7.통계 분석-성민
                    		<span class="fa fa-chevron-down"></span>
                   		</a>
                        <ul class="nav child_menu">
                            <li><a th:href="@{/platform/statistic/member}">회원 가입,탈퇴 분석</a></li>
                            <li><a th:href="@{/platform/statistic/map}">#지역별 관광지 현황</a></li>
                            <li><a th:href="@{/platform/statistic/login}">#로그인 로그 통계</a></li>
                            <li><a th:href="@{/platform/statistic/manage}">#플랫폼 운영 분석</a></li>
                            <li><a th:href="@{/platform/statistic/search}">#검색어 통계</a></li>
                        </ul>
                    </li>*/-->

                    <li>
                        <a href="javascript:void(0)">
                        	<i class="fa fa-laptop"></i>
                            추가준비중
                            <span class="label label-success pull-right">Coming Soon</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            <a data-placement="top" data-toggle="tooltip" title="Settings">
                <span aria-hidden="true" class="glyphicon glyphicon-cog"></span>
            </a>
            <a data-placement="top" data-toggle="tooltip" title="FullScreen">
                <span aria-hidden="true" class="glyphicon glyphicon-fullscreen"></span>
            </a>
            <a data-placement="top" data-toggle="tooltip" title="Lock">
                <span aria-hidden="true" class="glyphicon glyphicon-eye-close"></span>
            </a>
            <a data-placement="top" data-toggle="tooltip" th:href="@{/login/logout}" title="Logout">
                <span aria-hidden="true" class="glyphicon glyphicon-off"></span>
            </a>
        </div>
        <!-- /menu footer buttons -->
    </div>
</div>
</html>
