<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{platform/layout/default}">

<th:block layout:fragment="customContent">
    <div class="col-md-12 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h3>숙소 수정</h3>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form id="modifyForm" th:action="@{/platform/destination/lodgingModify}" method="post">
					 <input type="hidden" name="lodgingInfoCode" th:value="${lodgingInfo.lodgingInfoCode}">
				
				    <div class="form-group">
				        <label for="lodgingName">숙소 이름</label>
				        <input type="text" class="form-control" id="lodgingName" name="lodgingName" th:value="${lodgingInfo.lodgingName}">
				    </div>
				
				    <div class="form-group">
				        <label for="lodgingAddr">숙소 주소</label>
				        <input type="text" class="form-control" id="lodgingAddr" name="lodgingAddr" th:value="${lodgingInfo.lodgingAddr}">
				    </div>
				
				    <div class="form-group">
				        <label for="lodgingDaddr">숙소 상세주소</label>
				        <input type="text" class="form-control" id="lodgingDaddr" name="lodgingDaddr" th:value="${lodgingInfo.lodgingDaddr}">
				    </div>
				
				    <div class="form-group">
				        <label for="lodgingContactNum">숙소 연락처</label>
				        <input type="tel" class="form-control" id="lodgingContactNum" name="lodgingContactNum" th:value="${lodgingInfo.lodgingContactNum}">
				    </div>
				
				    <div class="form-group">
				        <label for="lodgingContactNum2">숙소 연락처2</label>
				        <input type="tel" class="form-control" id="lodgingContactNum2" name="lodgingContactNum2" th:value="${lodgingInfo.lodgingContactNum2}">
				    </div>
				    
				    <div class="form-group">
				        <label for="lodgingSite">숙소 사이트</label>
				        <input type="text" class="form-control" id="lodgingSite" name="lodgingSite" th:value="${lodgingInfo.lodgingSite}">
				    </div>
				    
				    <div class="form-group">
				        <label for="lodgingOthers">숙소 기타정보</label>
				        <input type="text" class="form-control" id="lodgingOthers" name="lodgingOthers" th:value="${lodgingInfo.lodgingOthers}">
				    </div>
				    
				    <button type="submit" class="btn btn-primary">저장</button>
				    <button type="button" class="btn btn-secondary" onclick="location.href='/platform/destination/lodgingManage'">취소</button>
				</form>
            </div>
        </div>
    </div>
</th:block>

</html>