<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{platform/layout/default}">
<th:block layout:fragment="customCss">
    <!-- Datatables CSS START -->
    <link th:href="@{/platform/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/platform/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/platform/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/platform/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/platform/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css}" rel="stylesheet">
    <!-- Datatables CSS END -->
</th:block>   

<th:block layout:fragment="customContent">
    <div class="col-md-12 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h3>숙소 상세정보 수정</h3>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form id="modifyForm" th:action="@{/platform/destination/lodgingGoodsModify}" method="post">
					 <input type="hidden" name="lodgingMenuCode" th:value="${lodgingGoodsInfo.lodgingMenuCode}">
				
				    <div class="form-group">
				        <label for="lodgingName">숙소 이름</label>
				        <input type="text" class="form-control" id="lodgingName" name="lodgingName" th:value="${lodgingGoodsInfo.lodgingName}" readonly="readonly">
				    </div>
				    
				    <div class="form-group">
				        <label for="lodgingMenuCode">숙소 메뉴 코드</label>
				        <input type="text" class="form-control" id="lodgingMenuCode" name="lodgingMenuCode" th:value="${lodgingGoodsInfo.lodgingMenuCode}">
				    </div>
				    <div class="form-group">
				        <label for="lodgingAuthorityId">숙소 등록권한자 아이디</label>
				        <input type="text" class="form-control" id="lodgingAuthorityId" name="lodgingAuthorityId" th:value="${lodgingGoodsInfo.lodgingAuthorityId}">
				    </div>
				
				    <div class="form-group">
				        <label for="lodgingMenuType">숙소 상품 종류</label>
				        <input type="text" class="form-control" id="lodgingMenuType" name="lodgingMenuType" th:value="${lodgingGoodsInfo.lodgingMenuType}">
				    </div>
				
				    <div class="form-group">
				        <label for="lodgingMenuMinPct">숙소 기본 인원 수</label>
				        <input type="text" class="form-control" id="lodgingMenuMinPct" name="lodgingMenuMinPct" th:value="${lodgingGoodsInfo.lodgingMenuMinPct}">
				    </div>
				
				    <div class="form-group">
				        <label for="lodgingMenuMaxPct">숙소 최대 인원 수</label>
				        <input type="tel" class="form-control" id="lodgingMenuMaxPct" name="lodgingMenuMaxPct" th:value="${lodgingGoodsInfo.lodgingMenuMaxPct}">
				    </div>
				
				    <div class="form-group">
				        <label for="lodgingMenuPrc">숙소 요금</label>
				        <input type="tel" class="form-control" id="lodgingMenuPrc" name="lodgingMenuPrc" th:value="${lodgingGoodsInfo.lodgingMenuPrc}">
				    </div>
				    
				    <div class="form-group">
				        <label for="lodgingMenuAddprc">숙소 추가 요금</label>
				        <input type="text" class="form-control" id="lodgingMenuAddprc" name="lodgingMenuAddprc" th:value="${lodgingGoodsInfo.lodgingMenuAddprc}">
				    </div>
				    
				    <div class="form-group">
				        <label for="lodgingMenuAddprc">숙소 내 흡연</label>
				        <input type="text" class="form-control" id="lodgingMenuAddprc" name="lodgingMenuAddprc" th:value="${lodgingGoodsInfo.lodgingMenuAddprc}">
				    </div>
				    
				    <div class="form-group">
				        <label for="lodgingMenuBkYn">조식 유무</label>
				        <input type="text" class="form-control" id="lodgingMenuBkYn" name="lodgingMenuBkYn" th:value="${lodgingGoodsInfo.lodgingMenuBkYn}">
				    </div>

				    
				    <button type="submit" class="btn btn-primary">저장</button>
				    <button type="button" class="btn btn-secondary" id="btn-cancel">취소</button>
				</form>
            </div>
        </div>
    </div>
</th:block>
<th:block layout:fragment="customJsFile">
	
	
	<!-- Datatables -->
	<script th:src="@{/platform/vendors/datatables.net/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/platform/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
    <script th:src="@{/platform/vendors/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
    <script th:src="@{/platform/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js}"></script>
    <script th:src="@{/platform/vendors/datatables.net-buttons/js/buttons.flash.min.js}"></script>
    <script th:src="@{/platform/vendors/datatables.net-buttons/js/buttons.html5.min.js}"></script>
    <script th:src="@{/platform/vendors/datatables.net-buttons/js/buttons.print.min.js}"></script>
    <script th:src="@{/platform/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js}"></script>
    <script th:src="@{/platform/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js}"></script>
    <script th:src="@{/platform/vendors/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
    <script th:src="@{/platform/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js}"></script>
    <script th:src="@{/platform/vendors/datatables.net-scroller/js/dataTables.scroller.min.js}"></script>
    <script th:src="@{/platform/vendors/jszip/dist/jszip.min.js}"></script>
    <script th:src="@{/platform/vendors/pdfmake/build/pdfmake.min.js}"></script>
    <script th:src="@{/platform/vendors/pdfmake/build/vfs_fonts.js}"></script>
	    
</th:block>
<th:block layout:fragment="customJs">
    <script th:inline="javascript">
        $('#btn-cancel').click(function () {
            window.history.back();
        })
    </script>
</th:block>

</html>