<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{platform/layout/default}">

	<head>
		<!-- Datatables -->
		<link th:href="@{/platform/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{/platform/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{/platform/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{/platform/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{/platform/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css}" rel="stylesheet">
		
		<style type="text/css">
			.control-label {
				text-align: center !important;
				background-color: #f8f8f8 !important;
				padding-bottom: 8px !important;
			}
		</style>
	
	</head>

	<th:block layout:fragment="customContent">
	    <div class="col-md-12 col-sm-6 col-xs-12">
	        <div class="x_panel">
	            <div class="x_title">
	                <h3>음석점 수정</h3>
	                <div class="clearfix"></div>
	            </div>
	            <div class="x_content">
	                <form id="modifyForm" th:action="@{/platform/destination/restaurantModify}" method="post">
						 <input type="hidden" name="restaurantInfoCode" th:value="${restaurantInfo.restaurantInfoCode}">
					
					    <div class="form-group">
					        <label for="restaurantName">음식점 이름</label>
					        <input type="text" class="form-control" id="restaurantName" name="restaurantName" th:value="${restaurantInfo.restaurantName}">
					    </div>
					    
					    <div class="form-group">
					        <label for="tripSCateCode">여행지 소분류 코드</label>
					        <input type="text" class="form-control" id="tripSCateCode" name="tripSCateCode" th:value="${restaurantInfo.tripSCateCode}">
					    </div>
					    
					    <div class="form-group">
					        <label for="partnerBPlaceCode">제휴 사업장 코드</label>
					        <input type="text" class="form-control" id="partnerBPlaceCode" name="partnerBPlaceCode" th:value="${restaurantInfo.partnerBPlaceCode}">
					    </div>
					    
					    <div class="form-group">
					        <label for="restaurantAuthorityId">음식점 등록권한자 아이디</label>
					        <input type="text" class="form-control" id="restaurantAuthorityId" name="restaurantAuthorityId" th:value="${restaurantInfo.restaurantAuthorityId}">
					    </div>
					
					    <div class="form-group">
					        <label for="restaurantAddr">음식점 주소</label>
					        <input type="text" class="form-control" id="restaurantAddr" name="restaurantAddr" th:value="${restaurantInfo.restaurantAddr}">
					    </div>
					
					    <div class="form-group">
					        <label for="restaurantDaddr">음식점 상세주소</label>
					        <input type="text" class="form-control" id="restaurantDaddr" name="restaurantDaddr" th:value="${restaurantInfo.restaurantDaddr}">
					    </div>
					
					    <div class="form-group">
					        <label for="restaurantContactNum">음식점 연락처</label>
					        <input type="tel" class="form-control" id="restaurantContactNum" name="restaurantContactNum" th:value="${restaurantInfo.restaurantContactNum}">
					    </div>
					
					    
					    <div class="form-group">
					        <label for="restaurantSite">음식점 사이트</label>
					        <input type="text" class="form-control" id="restaurantSite" name="restaurantSite" th:value="${restaurantInfo.restaurantSite}">
					    </div>
					    
					    <div class="form-group">
					        <label for="restaurantOthers">음식점 기타정보</label>
					        <input type="text" class="form-control" id="restaurantOthers" name="restaurantOthers" th:value="${restaurantInfo.restaurantOthers}">
					    </div>
					    <div class="form-group">
					        <label for="restaurantRegDate">등록일자</label>
					        <input type="text" class="form-control" id="restaurantRegDate" name="restaurantRegDate" th:value="${restaurantInfo.restaurantRegDate}">
					    </div>
					    
					    <button type="submit" class="btn btn-primary">저장</button>
					    <button type="button" class="btn btn-secondary" id="btn-cancel">취소</button>
					</form>
	            </div>
	        </div>
	    </div>
	</th:block>
	<th:block layout:fragment="customJsFile">
	
	
	<!-- Datatables -->
	<script th:src="@{/platform/vendors/datatables.net/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/platform/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
    <script th:src="@{/platform/vendors/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
    <script th:src="@{/platform/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js}"></script>
    <script th:src="@{/platform/vendors/datatables.net-buttons/js/buttons.flash.min.js}"></script>
    <script th:src="@{/platform/vendors/datatables.net-buttons/js/buttons.html5.min.js}"></script>
    <script th:src="@{/platform/vendors/datatables.net-buttons/js/buttons.print.min.js}"></script>
    <script th:src="@{/platform/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js}"></script>
    <script th:src="@{/platform/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js}"></script>
    <script th:src="@{/platform/vendors/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
    <script th:src="@{/platform/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js}"></script>
    <script th:src="@{/platform/vendors/datatables.net-scroller/js/dataTables.scroller.min.js}"></script>
    <script th:src="@{/platform/vendors/jszip/dist/jszip.min.js}"></script>
    <script th:src="@{/platform/vendors/pdfmake/build/pdfmake.min.js}"></script>
    <script th:src="@{/platform/vendors/pdfmake/build/vfs_fonts.js}"></script>
	    

	    
	</th:block>
	<th:block layout:fragment="customJs">
	    <script th:inline="javascript">
	        $('#btn-cancel').click(function () {
	            window.history.back();
	        })
	    </script>
	</th:block>
</html>