<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{platform/layout/default}">

<th:block layout:fragment="customContent">
	<div class="col-md-12 col-sm-6 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h3>회원수정</h3>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<form id="modifyForm" th:action="@{/platform/destination/tourModify}"
					method="post">
					<input type="hidden" name="tourAuthorityId"
						th:value="${tourInfoList.tourAuthorityId}">

					

					<div class="form-group">
						<label for="tourName">관광지 이름</label> <input type="text"
							class="form-control" id="tourName" name="tourName"
							th:value="${tourInfoList.tourName}">
					</div>

					<div class="form-group">
						<label for="tourInfoCode">관광지 정보코드</label> <input type="text"
							class="form-control" id="tourInfoCode" name="tourInfoCode"
							th:value="${tourInfoList.tourInfoCode}">
					</div>

					<div class="form-group">
						<label for="tourAddr">관광지 주소</label> <input type="text"
							class="form-control" id="tourAddr" name="tourAddr"
							th:value="${tourInfoList.tourAddr}">
					</div>

					<div class="form-group">
						<label for="tourSite">관광지 사이트</label> <input type="text"
							class="form-control" id="tourSite" name="tourSite"
							th:value="${tourInfoList.tourSite}">
					</div>

					<div class="form-group">
						<label for="tourContectNum">관광지 연락처</label> <input type="tel"
							class="form-control" id="tourContectNum" name="tourContectNum"
							th:value="${tourInfoList.tourContectNum}">
					</div>

					<button type="submit" class="btn btn-primary">저장</button>
					<button type="button" class="btn btn-secondary"
						onclick="location.href='/platform/member/memberManageChange'">취소</button>
				</form>
			</div>
		</div>
	</div>
</th:block>

</html>