<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{platform/layout/default}">
	<head>
		<!-- Datatables -->
		<link th:href="@{/platform/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{/platform/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{/platform/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{/platform/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{/platform/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css}" rel="stylesheet">
		
		<style type="text/css">
			.control-label {
				text-align: center !important;
				background-color: #f8f8f8 !important;
				padding-bottom: 8px !important;
			}
		</style>
	
	</head>
	<th:block layout:fragment="customContent">
	<!-- search start -->
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>
						검색 <small>search form</small>
					</h2>
					<ul class="nav navbar-right panel_toolbox">
						<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
						</li>
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-expanded="false"><i
								class="fa fa-wrench"></i></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#">Settings 1</a></li>
								<li><a href="#">Settings 2</a></li>
							</ul></li>
						<li><a class="close-link"><i class="fa fa-close"></i></a></li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<br />
					<form id="demo-form2" class="form-horizontal form-label-left">

						<div class="form-group">
							<div class="col-md-2 col-sm-2 col-xs-0"></div>
							<label class="control-label col-md-2 col-sm-2 col-xs-12">category</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<select class="form-control text-center searchCate">
									<option value="tourManage">관광지 관리</option>
									<option value="tourGoodsManage" selected>관광지 상품 관리</option>

								</select>
							</div>
							<div class="col-md-2 col-sm-2 col-xs-0"></div>
						</div>

						<div class="ln_solid"></div>
						<div class="form-group">
							<div class="col-md-12 col-sm-12 col-xs-12 text-center">
								<button class="btn btn-success btn-lg searchBtn" type="button">검색</button>
								<button type="button" class="btn btn-dark btn-lg regBtn">등록</button>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- search end -->
		<div class="col-md-12col-sm-6 col-xs-12">
			<div class="x_panel">
				<div class="x_title">

					<h3 th:text="${tourGoodsList != null ? '총 관광옵션 개수 : ' + tourGoodsList.size + '개' : '총 관광옵션 개수 : 0개'}"></h3>
					<div class="clearfix"></div>
				</div>

				<div class="x_content">
					<div class="clearfix"></div>
				</div>
				<div class="row">
					<div class="col-xs-12 table">
						<table id="datatable-responsive"
							class="table table-striped table-bordered dt-responsive nowrap"
							cellspacing="0" width="100%">
							<thead>
								<tr>
									<th>관광지 이름</th>
									<th>관광옵션 카테고리</th>
									<th>관광옵션 목록</th>
									<th>관광옵션 소요시간</th>
									<th>관광상품 지역 소분류명</th>
									<th>관광옵션 권한자 아이디</th>
									<th>관광상품 코드</th>
									<th>관광상품 옵션코드</th>
									<th>관광상품 비고</th>
									<th>관광상품 비용</th>
									<th>등록일자</th>
									<th>수정일자</th>
									<th>수정</th>
									<th>삭제</th>
								</tr>
							</thead>
							<tbody>
								<tr th:if="${tourGoodsList != null and tourGoodsList.size() > 0}" th:each="l : ${tourGoodsList}">
									<td th:text="${l.tourName}"></td>
									<td th:text="${l.tourGoodsCate}"></td>
									<td th:text="${l.tourGoodsList}"></td>
									<td th:text="${l.tourGoodsTime}"></td>
									<td th:text="${l.regionSCateName}"></td>
									<td th:text="${l.tourgoodsAuthorityId}"></td>
									<td th:text="${l.tourGoodsCode}"></td>
									<td th:text="${l.tourGoodsOptionCd}"></td>
									<td th:text="${l.tourOptionRemarks}"></td>
									<td th:text="${l.tourGoodsOptPrice}"></td>
									<td th:text="${l.tourRegDate}"></td>
									<td th:text="${l.tourFormDate}"></td>
									<td>
									    <a th:href="@{/platform/destination/tourGoodsModify(tourGoodsOptionCd=${l.tourGoodsOptionCd})}">수정</a>
									</td>
						            <td>
						            	<a href="#" th:data-tourGoodsInfo-code="${l.tourGoodsOptionCd}" th:onclick="deleteConfirm(this)">삭제</a>
					            	</td>
								</tr>
	
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	
	</th:block>
	<th:block layout:fragment="customJsFile">
	
	
		<!-- Datatables -->
		<script th:src="@{/platform/vendors/datatables.net/js/jquery.dataTables.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-buttons/js/buttons.flash.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-buttons/js/buttons.html5.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-buttons/js/buttons.print.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-scroller/js/dataTables.scroller.min.js}"></script>
	    <script th:src="@{/platform/vendors/jszip/dist/jszip.min.js}"></script>
	    <script th:src="@{/platform/vendors/pdfmake/build/pdfmake.min.js}"></script>
	    <script th:src="@{/platform/vendors/pdfmake/build/vfs_fonts.js}"></script>
	    

	    
	</th:block>

	<!-- custom js file start -->
	<th:block layout:fragment="customJs">
		<script>
			$(document).ready(function(){
				$('#searchItem').on('keyup', function(){
					const searchValue = $(this).val().toLowerCase();
					$('#datatable-responsive tbody tr').filter(function(){
						$(this).toggle($(this).text().toLowerCase().indexOf(searchValue) > -1);
					});
				});
				
				$(document).on('click','.searchBtn', function(){
					const movePage = $('.searchCate :selected').val();
					
					if(movePage) location.href = '/platform/destination/' + movePage;
				});
				
				$(document).on('click', '.regBtn', function(){
					const movePage = $('.searchCate :selected').val();
					
					if(movePage){
						if(movePage === 'tourManage') {
							location.href = '/platform/destination/addTour';
						}else if(movePage === 'tourGoodsManage') {
							location.href = '/platform/destination/addTourGoods';
						}
					}
			    });
			});
		</script>
		<script th:inline="javascript">
			    function deleteConfirm(element) {
			        var tourGoodsOptionCd = element.getAttribute('data-tourGoodsInfo-code');
			        var confirmation = confirm("정말로 삭제하시겠습니까?");
			        
			        if (confirmation) {
			            // 확인을 누르면 삭제 동작을 수행하기 위해 POST 요청
			            //removeTour(tourInfoCode);
			            const $deleteForm = $('<form></form>', {
			            	action : '/platform/removeTourGoods'
			            });
			            const $tourInfoCode = $('<input />', {
			            	type: 'hidden',
			            	name: 'tourGoodsOptionCd',
			            	value: tourGoodsOptionCd
			            });
			            $deleteForm.append($tourInfoCode);
			            $('body').append($deleteForm);
			            $deleteForm.submit();
			        } else {
			            console.log("삭제 취소: " + tourGoodsOptionCd);
			        }
			    }

			    
		
		</script>
	</th:block>
	
	<!-- custom js file end -->>

</html>