<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart.ks50team01.platform.ranking.mapper.PlanRankingMapper">
	
	<delete id="removePlanRanking" parameterType="String">
		/*여행계획리스트 삭제*/
		DELETE
		FROM
			MEMBER_TRIP_PLAN_RANKING
		WHERE 
			MBR_TRIP_PLN = #{userTripPlanId};
	
	</delete>
	
	<update id="modifyPlanRanking" parameterType="PlanRanking">
		/*여행계획리스트 수정*/
		UPDATE 
			MEMBER_TRIP_PLAN_RANKING
		SET
			REG_PF_ID = #{pRankingRegId},
			TRIP_PLN_NO = #{tripPlanNum},
			RGN_SCTGRY_NM = #{rgnSctgryName},
			PLAN_TITLE = #{planTitle},
			PLAN_DETAIL = #{planDetail},
			TRIP_PLN_RANK = #{tripPlanRank},
			REV_STATS_STRT_YMD = #{reviewStatsStart},
			REV_STATS_END_YMD = #{reviewStatsEnd},
			PF_PSTG_STRT_YMD = #{platformAdStart},
			PF_PSTG_END_YMD = #{platformAdEnd},
			ACT_YN = #{activate}
		WHERE 
			MBR_TRIP_PLN = #{userTripPlanId};
	</update>
	
	<select id="getPlanRankingInfoById" resultType="PlanRanking">
		/*여행계획리스트 수정정보*/
		SELECT 
			ROW_NUMBER() OVER(ORDER BY MBR_TRIP_PLN) 	AS userTripPlan, 
			MBR_TRIP_PLN								AS userTripPlanId,
			REG_PF_ID				 					AS pRankingRegId, 
			TRIP_PLN_NO 								AS tripPlanNum, 
			RGN_SCTGRY_NM 								AS rgnSctgryName,
			PLAN_TITLE									AS planTitle,
			PLAN_DETAIL									AS planDetail,
			TRIP_PLN_RANK 								AS tripPlanRank, 
			REV_STATS_STRT_YMD 							AS reviewStatsStart, 
			REV_STATS_END_YMD 							AS reviewStatsEnd, 
			PF_PSTG_STRT_YMD 							AS platformAdStart, 
			PF_PSTG_END_YMD 							AS platformAdEnd, 
			ACT_YN 										AS activate, 
			REG_YMD 									AS regDate, 
			MDFCN_YMD 									AS modifyDate
		FROM 
			MEMBER_TRIP_PLAN_RANKING AS p
		WHERE
			p.MBR_TRIP_PLN = #{userTripPlan};
	</select>
	
	<insert id="addPlanUserRanking" parameterType="PlanRanking">
		<selectKey keyProperty="autoPlanId" resultType="string" order="BEFORE">
		SELECT
			(CASE
				WHEN COUNT(MBR_TRIP_PLN) = 0 
       				THEN 'mtr_01'
					ELSE CONCAT('mtr_', MAX(CAST(SUBSTRING_INDEX(MBR_TRIP_PLN,'_', - 1)AS UNSIGNED)) + 1)
			END)
		FROM 
			MEMBER_TRIP_PLAN_RANKING AS mp
		</selectKey>
			/*여행계획리스트 등록*/
			INSERT INTO 
				MEMBER_TRIP_PLAN_RANKING
				(MBR_TRIP_PLN, 
				REG_PF_ID, 
				TRIP_PLN_NO, 
				RGN_SCTGRY_NM,
				PLAN_TITLE,
				PLAN_DETAIL,
				TRIP_PLN_RANK, 
				REV_STATS_STRT_YMD, 
				REV_STATS_END_YMD, 
				PF_PSTG_STRT_YMD, 
				PF_PSTG_END_YMD, 
				ACT_YN, 
				REG_YMD)
		VALUES (#{autoPlanId},
				#{pRankingRegId}, 
				#{tripPlanNum}, 
				#{rgnSctgryName}, 
				#{planTitle}, 
				#{planDetail}, 
				#{tripPlanRank}, 
				#{reviewStatsStart}, 
				#{reviewStatsEnd}, 
				#{platformAdStart}, 
				#{platformAdEnd}, 
				#{activate}, 
				NOW());
	</insert>
	
	<select id="planRankingListCheck" parameterType="int" resultType="boolean">
		/*여행계획리스트 중복체크*/
		SELECT 
			COUNT(TRIP_PLN_RANK)
		FROM 
			MEMBER_TRIP_PLAN_RANKING
		WHERE 
			TRIP_PLN_RANK = #{TRIP_PLN_RANK};
	</select>
	
	<select id="getPlanRankingList" resultType="PlanRanking">
		/*여행계획리스트 조회*/
		SELECT 
			ROW_NUMBER() OVER(ORDER BY MBR_TRIP_PLN) 	AS userTripPlan, 
			MBR_TRIP_PLN								AS userTripPlanId,
			REG_PF_ID				 					AS pRankingRegId, 
			TRIP_PLN_NO 								AS tripPlanNum, 
			RGN_SCTGRY_NM 								AS rgnSctgryName,
			PLAN_TITLE									AS planTitle,
			PLAN_DETAIL                                 AS planDetail,
			TRIP_PLN_RANK 								AS tripPlanRank, 
			REV_STATS_STRT_YMD 							AS reviewStatsStart, 
			REV_STATS_END_YMD 							AS reviewStatsEnd, 
			PF_PSTG_STRT_YMD 							AS platformAdStart, 
			PF_PSTG_END_YMD 							AS platformAdEnd, 
			ACT_YN 										AS activate, 
			REG_YMD 									AS regDate, 
			MDFCN_YMD 									AS modifyDate
		FROM 
			MEMBER_TRIP_PLAN_RANKING;
	</select>
</mapper>