<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart.ks50team01.platform.ranking.mapper.RankingMapper">
	
	<resultMap type="Ranking" id="RankingResultMap">
		<id property="pRankingId" column="PF_MNGR_RANK"/>
		<result property="pRankingRegId" column="REG_PF_ID"/>
		<result property="partnerBusinessCode" column="PRTNR_BPLC_CD"/>
		<result property="tripLctgryCode" column="TRIP_LCTGRY_CD"/>
		<result property="businessName" column="BZMN_CONM"/>
		<result property="rgnSctgryName" column="RGN_SCTGRY_NM"/>
		<result property="partnerBrandName" column="PRTNR_BRD_NM"/>
		<result property="artclRankigNum" column="ARTCL_RANK_TOP_FIVE"/>
		<result property="partnerShipStart" column="BRD_CTRT_STRT_YMD"/>
		<result property="partnerShipStartEnd" column="BRD_CTRT_END_YMD"/>
		<result property="partnerType" column="BRD_TYPE"/>
		<result property="partnerShipDetail" column="BRD_CN"/>
		<result property="adStart" column="AD_STRT_YMD"/>
		<result property="adEnd" column="AD_END_YMD"/>
		<result property="activate" column="ACT_YN"/>
	</resultMap>
	
	<delete id="removeRanking" parameterType="String">
		/*플랫폼 추천리스트 삭제*/
		DELETE
		FROM
			PLATFORM_PARTNERSHIP
		WHERE 
			PF_MNGR_RANK=#{pRankingId};
	</delete>
	
	<update id="modifyRanking" parameterType="Ranking">
		/* 플랫폼 추천리스트 수정*/
		UPDATE 
			PLATFORM_PARTNERSHIP
		SET
			REG_PF_ID=#{pRankingRegId},
			PRTNR_BPLC_CD=#{partnerBusinessCode},
			TRIP_LCTGRY_CD=#{tripLctgryCode},
			BZMN_CONM=#{businessName},
			RGN_SCTGRY_NM=#{rgnSctgryName},
			PRTNR_BRD_NM=#{partnerBrandName},
			ARTCL_RANK_TOP_FIVE=#{artclRankigNum},
			BRD_CTRT_STRT_YMD=#{partnerShipStart},
			BRD_CTRT_END_YMD=#{partnerShipStartEnd},
			BRD_TYPE=#{partnerType},
			BRD_CN=#{partnerShipDetail},
			AD_STRT_YMD=#{adStart},
			AD_END_YMD=#{adEnd},
			ACT_YN=#{activate}
		WHERE 
			PF_MNGR_RANK=#{pRankingId};
	</update>
	
	<select id="getRankingInfoById" resultType="Ranking">
		/*플랫폼추천리스트 정보 가져오기*/
		SELECT 
			ROW_NUMBER() OVER(ORDER BY PF_MNGR_RANK)	AS pRankingNum,
			PF_MNGR_RANK								AS pRankingId,
			REG_PF_ID 									AS pRankingRegId,
			PRTNR_BPLC_CD 								AS partnerBusinessCode,
			TRIP_LCTGRY_CD								AS tripLctgryCode,
			BZMN_CONM 									AS businessName,
			RGN_SCTGRY_NM 								AS rgnSctgryName,
			PRTNR_BRD_NM 								AS partnerBrandName,
			ARTCL_RANK_TOP_FIVE 						AS artclRankigNum,
			BRD_CTRT_STRT_YMD 							AS partnerShipStart,
			BRD_CTRT_END_YMD 							AS partnerShipStartEnd,
			BRD_TYPE 									AS partnerType,
			BRD_CN 										AS partnerShipDetail,
			AD_STRT_YMD 								AS adStart,
			AD_END_YMD 									AS adEnd,
			ACT_YN 										AS activate,
			REG_YMD 									AS regDate,
			MDFCN_YMD 									AS modifyDate
		FROM 
			PLATFORM_PARTNERSHIP AS p
		WHERE
			p.PF_MNGR_RANK = #{pRankingNum};
	</select>
	
	<select id="rankingListCheck" parameterType="String" resultType="boolean">
		/* 중복플랫폼리스트 체크 */
		SELECT 
			COUNT(PF_MNGR_RANK)
		FROM 
			PLATFORM_PARTNERSHIP
		WHERE 
			PF_MNGR_RANK = #{PF_MNGR_RANK};
	</select>
	
	<insert id="addRanking" parameterType="Ranking">
		/* 플랫폼 추천 리스트 추가 */
		INSERT INTO 
			PLATFORM_PARTNERSHIP
			(PF_MNGR_RANK, 
			REG_PF_ID, 
			PRTNR_BPLC_CD, 
			TRIP_LCTGRY_CD, 
			BZMN_CONM, 
			RGN_SCTGRY_NM, 
			PRTNR_BRD_NM, 
			ARTCL_RANK_TOP_FIVE, 
			BRD_CTRT_STRT_YMD, 
			BRD_CTRT_END_YMD,
			BRD_TYPE, 
			BRD_CN, 
			AD_STRT_YMD, 
			AD_END_YMD,
			ACT_YN, 
			REG_YMD)
		VALUES (
			#{pRankingId}, 
			#{pRankingRegId}, 
			#{partnerBusinessCode}, 
			#{tripLctgryCode}, 
			#{businessName}, 
			#{rgnSctgryName}, 
			#{partnerBrandName}, 
			#{artclRankigNum}, 
			#{partnerShipStart}, 
			#{partnerShipStartEnd}, 
			#{partnerType}, 
			#{partnerShipDetail}, 
			#{adStart}, 
			#{adEnd}, 
			#{activate}, 
			NOW());
	</insert>
	
	<select id="getRankingList" resultType="Ranking">
		/* 플랫폼 추천 조회 */
		SELECT 
			ROW_NUMBER() OVER(ORDER BY PF_MNGR_RANK)	AS pRankingNum,
			PF_MNGR_RANK								AS pRankingId,
			REG_PF_ID 									AS pRankingRegId,
			PRTNR_BPLC_CD 								AS partnerBusinessCode,
			TRIP_LCTGRY_CD								AS tripLctgryCode,
			BZMN_CONM 									AS businessName,
			RGN_SCTGRY_NM 								AS rgnSctgryName,
			PRTNR_BRD_NM 								AS partnerBrandName,
			ARTCL_RANK_TOP_FIVE 						AS artclRankigNum,
			BRD_CTRT_STRT_YMD 							AS partnerShipStart,
			BRD_CTRT_END_YMD 							AS partnerShipStartEnd,
			BRD_TYPE 									AS partnerType,
			BRD_CN 										AS partnerShipDetail,
			AD_STRT_YMD 								AS adStart,
			AD_END_YMD 									AS adEnd,
			ACT_YN 										AS activate,
			REG_YMD 									AS regDate,
			MDFCN_YMD 									AS modifyDate
		FROM 
			PLATFORM_PARTNERSHIP;
	</select>

</mapper>