<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart.ks50team01.platform.ranking.mapper.UserRankingMapper">
	
	<delete id="removeUserRanking" parameterType="String">
		/*회원 추천리스트 삭제*/
		DELETE
		FROM
			MEMBER_RECOMMENDATION_RANKING
		WHERE 
			MBR_ARTCL_RANK = #{userRankingId};
	</delete>
	
	<update id="modifyUserRanking" parameterType="UserRanking">
	UPDATE 
		MEMBER_RECOMMENDATION_RANKING
	SET
		REG_PF_ID = #{userRankingRegId},
		PRTNR_BPLC_CD = #{partnerBusinessCode},
		TRIP_LCTGRY_CD = #{tripLctgryCode},
		destination_Type = #{destinationType},
		destination_content_id = #{destinationCId},
		DN_DETAIL = #{destinationDetail},
		TOP_RANK = #{userRank},
		REV_STATS_STRT_YMD = #{reviewStatsStart},
		REV_STATS_END_YMD = #{reviewStatsEnd},
		PF_PSTG_STRT_YMD = #{platformAdStart},
		PF_PSTG_END_YMD = #{platformAdEnd},
		ACT_YN = #{activate}
	WHERE 
		MBR_ARTCL_RANK = #{userRankingId};
	</update>
	
	<select id="getUserRankingInfoById" resultType="UserRanking">
		SELECT 
			ROW_NUMBER() OVER(ORDER BY MBR_ARTCL_RANK)	AS userRankingNum,
			MBR_ARTCL_RANK								AS userRankingId,  
			REG_PF_ID 									AS userRankingRegId, 
			PRTNR_BPLC_CD 								AS partnerBusinessCode, 
			TRIP_LCTGRY_CD 								AS tripLctgryCode,
			destination_Type							AS destinationType,
			m.destination_content_id	 				AS destinationCId,
			m.DN_DETAIL									AS destinationDetail,
			t.destination_title 						AS destinationTitle,
			t.destination_first_address 				AS destinationAddr,
			t.destination_first_image_link 				AS destinationImg,
			TOP_RANK 									AS userRank, 
			REV_STATS_STRT_YMD 							AS reviewStatsStart, 
			REV_STATS_END_YMD 							AS reviewStatsEnd, 
			PF_PSTG_STRT_YMD 							AS platformAdStart, 
			PF_PSTG_END_YMD 							AS platformAdEnd, 
			ACT_YN 										AS activate
		FROM 
			MEMBER_RECOMMENDATION_RANKING AS m
			INNER JOIN
			TOUR_INFO_FROM_API AS t
			ON
			m.destination_content_id = t.destination_content_id
		WHERE
			m.MBR_ARTCL_RANK = #{userRankingNum};
			
	</select>

	<insert id="addUserRanking" parameterType="UserRanking">
		<selectKey keyProperty="autoUserId" resultType="string" order="BEFORE">
			SELECT
				(CASE
					WHEN COUNT(MBR_ARTCL_RANK) = 0 
	       				THEN 'mrr_01'
						ELSE CONCAT('mrr_', MAX(CAST(SUBSTRING_INDEX(MBR_ARTCL_RANK,'_', - 1)AS UNSIGNED)) + 1)
				END)
					FROM 
						MEMBER_RECOMMENDATION_RANKING AS m
		</selectKey>
			INSERT INTO 
				MEMBER_RECOMMENDATION_RANKING
				(MBR_ARTCL_RANK,
				 REG_PF_ID, 
				 PRTNR_BPLC_CD, 
				 TRIP_LCTGRY_CD,
				 destination_Type, 
				 destination_content_id,
				 DN_DETAIL, 
				 TOP_RANK, 
				 REV_STATS_STRT_YMD, 
				 REV_STATS_END_YMD, 
				 PF_PSTG_STRT_YMD, 
				 PF_PSTG_END_YMD, 
				 ACT_YN, 
				 REG_YMD)
			VALUES 
				(#{autoUserId}, 
				#{userRankingRegId}, 
				#{partnerBusinessCode}, 
				#{tripLctgryCode},
				#{destinationType}, 
				#{destinationCId},
				#{destinationDetail}, 
				#{userRank}, 
				#{reviewStatsStart}, 
				#{reviewStatsEnd}, 
				#{platformAdStart}, 
				#{platformAdEnd}, 
				#{activate},  
				NOW())
	
	</insert>
	
	<select id="userRankingListCheck" parameterType="String" resultType="boolean">
		/* 중복플랫폼리스트 체크 */
		SELECT 
			COUNT(MBR_ARTCL_RANK)
		FROM 
			MEMBER_RECOMMENDATION_RANKING
		WHERE 
			MBR_ARTCL_RANK = #{MBR_ARTCL_RANK};
	</select>

	<select id="getUserRankingList" resultType="UserRanking">
		/* 회원추천 조회 */
		SELECT
			ROW_NUMBER() OVER(ORDER BY MBR_ARTCL_RANK)	AS userRankingNum,
			MBR_ARTCL_RANK								AS userRankingId, 
			REG_PF_ID 									AS userRankingRegId, 
			PRTNR_BPLC_CD 								AS partnerBusinessCode, 
			TRIP_LCTGRY_CD 								AS tripLctgryCode,
			destination_Type  							AS destinationType,
			m.destination_content_id 					AS destinationCId,
			DN_DETAIL									AS destinationDetail,
			t.destination_title							AS destinationTitle,
			t.destination_first_address 				AS destinationAddr,
			t.destination_first_image_link 				AS destinationImg,
			TOP_RANK 									AS userRank, 
			REV_STATS_STRT_YMD							AS reviewStatsStart, 
			REV_STATS_END_YMD 							AS reviewStatsEnd, 
			PF_PSTG_STRT_YMD 							AS platformAdStart, 
			PF_PSTG_END_YMD 							AS platformAdEnd, 
			ACT_YN 										AS activate
		FROM 
			MEMBER_RECOMMENDATION_RANKING AS m
			INNER JOIN
			TOUR_INFO_FROM_API AS t
			ON
			m.destination_content_id = t.destination_content_id;
	</select>

</mapper>