<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart.ks50team01.platform.trip.mapper.PTourApiMapper">

    <insert id="upsertAreaCode" parameterType="pTourApi">
        /* 지역 코드 업서트 */
        INSERT INTO
            AREA_CODE (
                        area_code,
                        area_name,
                        REG_YMD
                        )
        VALUES
            (
            #{areaCode},
            #{areaName},
            now()
            )
        ON DUPLICATE KEY
            UPDATE
                area_name = #{areaName},
                MDFCN_YMD = now();
    </insert>

    <insert id="upsertSigunguCode" parameterType="pTourApi">
        /* 시군구 코드 업서트 */
        INSERT INTO
            SIGUNGU_CODE
            (
             sigungu_code,
             sigungu_name,
             area_id,
             REG_YMD
            )
        VALUES
            (
            #{sigunguCode},
            #{sigunguName},
            (
                SELECT
                    AREA_CODE.area_code
                FROM
                    AREA_CODE
                WHERE
                    AREA_CODE.area_code = #{areaCode}
                ),
            now()
            )
        ON DUPLICATE KEY
            UPDATE
                sigungu_name = #{sigunguName},
                MDFCN_YMD = now();
    </insert>

    <insert id="upsertTourInfo" parameterType="pTourApi">
        /* TOUR API 의 여행지 정보 삽입 */
        INSERT INTO TOUR_INFO_FROM_API
        (
            destination_first_address,
            destination_second_address,
            area_code,
            destination_content_id,
            destination_content_type_id,
            destination_first_image_link,
            destination_second_image_link,
            destination_longitude,
            destination_latitude,
            sigungu_code,
            destination_title,
            destination_tel_num,
            destination_zipcode,
            REG_YMD
        )
        VALUES
            (
                #{destinationFirstAddress},
                #{destinationSecondAddress},
                #{areaCode},
                #{destinationContentId},
                #{destinationContentTypeId},
                #{destinationFirstImageLink},
                #{destinationSecondImageLink},
                #{destinationLongitude},
                #{destinationLatitude},
                #{sigunguCode},
                #{destinationTitle},
                #{destinationTelNum},
                #{destinationZipcode},
                now()
            )
        ON DUPLICATE KEY
            UPDATE
                destination_first_address = VALUES(destination_first_address),
                destination_second_address = VALUES(destination_second_address),
                area_code = VALUES(area_code),
                destination_content_type_id = VALUES(destination_content_type_id),
                destination_first_image_link = VALUES(destination_first_image_link),
                destination_second_image_link = VALUES(destination_second_image_link),
                destination_longitude = VALUES(destination_longitude),
                destination_latitude = VALUES(destination_latitude),
                sigungu_code = VALUES(sigungu_code),
                destination_title = VALUES(destination_title),
                destination_tel_num = VALUES(destination_tel_num),
                destination_zipcode = VALUES(destination_zipcode)
    </insert>

</mapper>
