<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart.ks50team01.platform.trip.mapper.PTripPlanMapper">

    <resultMap id="tripPlanMap" type="pTripPlan">
        <id     column="TRIP_PLN_NO"         property="planId"/>
        <result column="MBR_ID"              property="memberId"/>
        <result column="planNum"             property="planNumber"/>
        <result column="planAddr"            property="planAddr"/>
        <result column="TRIP_PLN_BGNG_YMD"   property="startDate"/>
        <result column="TRIP_PLN_END_YMD"    property="endDate"/>
        <result column="TRIP_PLN_DAY"        property="planDays"/>
        <result column="TRIP_PLN_TTL"        property="planTitle"/>
        <result column="TRIP_PLN_NOPE"       property="planAttend"/>
        <result column="AVAILABLE_BUDGET"    property="budgetPerAttend"/>
        <result column="TOTAL_AVAIL_BUDGET"  property="totalAvailBudget"/>
        <result column="TOTAL_PLNNED_BUDGET" property="totalPlanBudget"/>
        <result column="IN_PRGRS"            property="planStatus"/>
        <result column="regDate"             property="regDate"/>
        <result column="modDate"             property="modDate"/>
        <result column="SHARED_YN"           property="isShare"/>
    </resultMap>
    <update id="updateTripPlan" parameterType="pTripPlan">
        /* 여행 계획 업데이트 */
        UPDATE
            INDIVIDUAL_TRIP_PLAN
        SET
            RGN_SCTGRY_CD= #{planRegionSmallCate},
            TRIP_PLN_BGNG_YMD = #{startDate},
            TRIP_PLN_END_YMD = #{endDate},
            TRIP_PLN_DAY = #{planDays},
            TRIP_PLN_TTL = #{planTitle},
            TRIP_PLN_NOPE = #{planAttend},
            AVAILABLE_BUDGET = #{budgetPerAttend},
            TOTAL_AVAIL_BUDGET = #{totalAvailBudget},
            TOTAL_PLNNED_BUDGET = #{totalPlanBudget},
            REMAINING_BUDGET = #{diffBudget},
            IN_PRGRS = #{planStatus},
            SHARED_YN = #{isShare},
            MDFCN_MBR_ID = #{sessionId},
            MDFCN_YMD = NOW()
        WHERE
            TRIP_PLN_NO=#{planId}
    </update>

    <select id="getPlanList" resultMap="tripPlanMap">
        /* 전체 여행 계획 조회 */
        SELECT
            row_number() OVER (ORDER BY INDIVIDUAL_TRIP_PLAN.REG_YMD) as planNum,
            TRIP_PLN_NO,
            MBR_ID,
            CONCAT_WS(' ',
                      REGION_SMALL_CATEGORY.RGN_LCTGRY_NM,
                      REGION_SMALL_CATEGORY.RGN_MCTGRY_NM) as planAddr,
            TRIP_PLN_BGNG_YMD,
            TRIP_PLN_END_YMD,
            TRIP_PLN_DAY,
            TRIP_PLN_TTL,
            TRIP_PLN_NOPE,
            AVAILABLE_BUDGET,
            TOTAL_AVAIL_BUDGET,
            TOTAL_PLNNED_BUDGET,
            IN_PRGRS,
            SHARED_YN,
            INDIVIDUAL_TRIP_PLAN.REG_YMD as regDate,
            INDIVIDUAL_TRIP_PLAN.MDFCN_YMD as modDate
        FROM
            INDIVIDUAL_TRIP_PLAN
        INNER JOIN
            REGION_SMALL_CATEGORY
        ON
            INDIVIDUAL_TRIP_PLAN.RGN_SCTGRY_CD = REGION_SMALL_CATEGORY.RGN_SCTGRY_CD
    </select>
    <select id="getTripPlanById" resultMap="tripPlanMap">
        /* 계획 id에 해당하는 여행 계획 조회 */
        SELECT
            row_number() OVER (ORDER BY INDIVIDUAL_TRIP_PLAN.REG_YMD) as planNum,
            TRIP_PLN_NO,
            MBR_ID,
            CONCAT_WS(' ',REGION_SMALL_CATEGORY.RGN_LCTGRY_NM,
                      REGION_SMALL_CATEGORY.RGN_MCTGRY_NM) as planAddr,
            TRIP_PLN_BGNG_YMD,
            TRIP_PLN_END_YMD,
            TRIP_PLN_DAY,
            TRIP_PLN_TTL,
            TRIP_PLN_NOPE,
            AVAILABLE_BUDGET,
            TOTAL_AVAIL_BUDGET,
            TOTAL_PLNNED_BUDGET,
            REMAINING_BUDGET,
            IN_PRGRS,
            SHARED_YN,
            INDIVIDUAL_TRIP_PLAN.REG_YMD,
            INDIVIDUAL_TRIP_PLAN.MDFCN_YMD
        FROM
            INDIVIDUAL_TRIP_PLAN
                INNER JOIN
            REGION_SMALL_CATEGORY
            ON
                INDIVIDUAL_TRIP_PLAN.RGN_SCTGRY_CD = REGION_SMALL_CATEGORY.RGN_SCTGRY_CD
        WHERE
            INDIVIDUAL_TRIP_PLAN.TRIP_PLN_NO = #{PlanId}
    </select>
</mapper>
