<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart.ks50team01.platform.trip.mapper.PTripPlanMapper">

    <resultMap id="tripPlanMap" type="pTripPlan">
        <!-- INDIVIDUAL_TRIP_PLAN 테이블 resultMap -->
        <id     column="TRIP_PLN_NO"         property="planId"/>
        <result column="MBR_ID"              property="memberId"/>
        <result column="planNum"             property="planNumber"/>
        <result column="planAddr"            property="planAddr"/>
        <result column="TRIP_PLN_BGNG_YMD"   property="startDate"/>
        <result column="TRIP_PLN_END_YMD"    property="endDate"/>
        <result column="TRIP_PLN_DAY"        property="planDays"/>
        <result column="TRIP_PLN_TTL"        property="planTitle"/>
        <result column="TRIP_PLN_NOPE"       property="planAttend"/>
        <result column="AVAILABLE_BUDGET"    property="budgetPerAttend"/>
        <result column="TOTAL_AVAIL_BUDGET"  property="totalAvailBudget"/>
        <result column="TOTAL_PLNNED_BUDGET" property="totalPlanBudget"/>
        <result column="IN_PRGRS"            property="planStatus"/>
        <result column="regDate"             property="regDate"/>
        <result column="modDate"             property="modDate"/>
        <result column="SHARED_YN"           property="isShare"/>
    </resultMap>

    <resultMap id="areaMap" type="pTourApi">
        <!-- AREA_CODE 테이블 resultMap -->
        <id     column="area_code" property="areaCode"/>
        <result column="areaNum"   property="areaNum"/>
        <result column="area_name" property="areaName"/>
        <result column="areaRegDate"   property="areaRegDate"/>
        <result column="areaModDate" property="areaModDate"/>
    </resultMap>

    <resultMap id="sigunMap" type="pTourApi">
        <!-- SIGUNGU_CODE 테이블 resultMap -->
        <id     column="sigungu_id"   property="sigunguId"/>
        <result column="sigungu_code" property="sigunguCode"/>
        <result column="sigungu_name" property="sigunguName"/>
        <result column="sigunNum"     property="sigunNum"/>
        <result column="sigunRegDate" property="sigunRegDate"/>
        <result column="sigunModDate" property="sigunModDate"/>

        <association property="areaInfo" javaType="pTourApi">
            <id     column="area_code"   property="areaCode"/>
            <result column="areaNum"     property="areaNum"/>
            <result column="area_name"   property="areaName"/>
            <result column="areaRegDate" property="areaRegDate"/>
            <result column="areaModDate" property="areaModDate"/>
        </association>
    </resultMap>

    <resultMap  id="destinationMap" type="pTourApi">
        <!-- TOUR_INFO_FROM_API 테이블 resultMap-->
        <id          column="destination_id"                property="destinationId"/>
        <result      column="destinationNum"                property="destinationNum"/>
        <result      column="destination_title"             property="destinationTitle"/>
        <result      column="destination_first_address"     property="destinationFirstAddress"/>
        <result      column="destination_second_address"    property="destinationSecondAddress"/>
        <result      column="destination_tel"               property="destinationTelNum"/>
        <result      column="destination_content_id"        property="destinationContentId"/>
        <result      column="destination_content_type_id"   property="destinationContentTypeId"/>
        <result      column="destination_first_image_link"  property="destinationFirstImageLink"/>
        <result      column="destination_second_image_link" property="destinationSecondImageLink"/>
        <result      column="destination_longitude"         property="destinationLongitude"/>
        <result      column="destination_latitude"          property="destinationLatitude"/>
        <result      column="area_code"                     property="areaCode"/>
        <result      column="sigungu_code"                  property="sigunguCode"/>
        <result      column="destination_zipcode"           property="destinationZipcode"/>
        <result      column="REG_YMD"                       property="destinationRegDate"/>
        <result      column="MDFCN_YMD"                     property="destinationModDate"/>
    </resultMap>

    <resultMap id="destinationDetailMap" type="pTourDetail">
        <!-- TOUR_DETAIL_FROM_API 테이블 resultMap -->
        <id     column="tour_detail_content_id"      property="contentId"/>
        <result column="tour_detail_content_type_id" property="contentTypeId"/>
        <result column="tour_detail_title"           property="title"/>
        <result column="tour_detail_homepage"        property="homepage"/>
        <result column="tour_detail_first_image"     property="firstImage"/>
        <result column="tour_detail_second_image"    property="secondImage"/>
        <result column="area_code"                   property="areaCode"/>
        <result column="sigungu_code"                property="sigunguCode"/>
        <result column="tour_detail_first_addr"      property="mainAddr"/>
        <result column="tour_detail_second_addr"     property="detailAddr"/>
        <result column="tour_detail_zipcode"         property="zipcode"/>
        <result column="tour_detail_tel_num"         property="tel"/>
        <result column="tour_detail_tel_name"        property="telName"/>
        <result column="tour_detail_longitude"       property="longitude"/>
        <result column="tour_detail_latitude"        property="latitude"/>
        <result column="tour_detail_mlevel"          property="mapLevel"/>
        <result column="tour_detail_overview"        property="overview"/>
        <result column="REG_YMD"                     property="regDate"/>
        <result column="MDFCN_YMD"                   property="modDate"/>
    </resultMap>


    <update id="updateTripPlan" parameterType="pTripPlan">
        /* 여행 계획 업데이트 */
        UPDATE
            INDIVIDUAL_TRIP_PLAN
        SET
            TRIP_PLN_BGNG_YMD   = #{startDate},
            TRIP_PLN_END_YMD    = #{endDate},
            TRIP_PLN_DAY        = #{planDays},
            TRIP_PLN_TTL        = #{planTitle},
            TRIP_PLN_NOPE       = #{planAttend},
            AVAILABLE_BUDGET    = #{budgetPerAttend},
            TOTAL_AVAIL_BUDGET  = #{totalAvailBudget},
            TOTAL_PLNNED_BUDGET = #{totalPlanBudget},
            REMAINING_BUDGET    = #{diffBudget},
            IN_PRGRS            = #{planStatus},
            SHARED_YN           = #{isShare},
            MDFCN_MBR_ID        = #{sessionId},
            MDFCN_YMD           = NOW()
        WHERE
            TRIP_PLN_NO=#{planId}
    </update>

    <select id="getPlanList" resultMap="tripPlanMap">
        /* 전체 여행 계획 조회 */
        SELECT
            row_number() OVER (ORDER BY INDIVIDUAL_TRIP_PLAN.REG_YMD) AS planNum,
            TRIP_PLN_NO,
            MBR_ID,
            /*CONCAT_WS(' ',
                      REGION_SMALL_CATEGORY.RGN_LCTGRY_NM,
                      REGION_SMALL_CATEGORY.RGN_MCTGRY_NM) AS planAddr,*/
            TRIP_PLN_BGNG_YMD,
            TRIP_PLN_END_YMD,
            TRIP_PLN_DAY,
            TRIP_PLN_TTL,
            TRIP_PLN_NOPE,
            AVAILABLE_BUDGET,
            TOTAL_AVAIL_BUDGET,
            TOTAL_PLNNED_BUDGET,
            IN_PRGRS,
            SHARED_YN,
            INDIVIDUAL_TRIP_PLAN.REG_YMD AS regDate,
            INDIVIDUAL_TRIP_PLAN.MDFCN_YMD AS modDate
        FROM
            INDIVIDUAL_TRIP_PLAN
        /*INNER JOIN
            REGION_SMALL_CATEGORY
        ON
            INDIVIDUAL_TRIP_PLAN.RGN_SCTGRY_CD = REGION_SMALL_CATEGORY.RGN_SCTGRY_CD*/
    </select>
    <select id="getTripPlanById" resultMap="tripPlanMap">
        /* 계획 id에 해당하는 여행 계획 조회 */
        SELECT
            row_number() OVER (ORDER BY INDIVIDUAL_TRIP_PLAN.REG_YMD) AS planNum,
            TRIP_PLN_NO,
            MBR_ID,
            /*CONCAT_WS(' ',REGION_SMALL_CATEGORY.RGN_LCTGRY_NM,
                      REGION_SMALL_CATEGORY.RGN_MCTGRY_NM) AS planAddr,*/
            TRIP_PLN_BGNG_YMD,
            TRIP_PLN_END_YMD,
            TRIP_PLN_DAY,
            TRIP_PLN_TTL,
            TRIP_PLN_NOPE,
            AVAILABLE_BUDGET,
            TOTAL_AVAIL_BUDGET,
            TOTAL_PLNNED_BUDGET,
            REMAINING_BUDGET,
            IN_PRGRS,
            SHARED_YN,
            INDIVIDUAL_TRIP_PLAN.REG_YMD,
            INDIVIDUAL_TRIP_PLAN.MDFCN_YMD
        FROM
            INDIVIDUAL_TRIP_PLAN
            /*INNER JOIN
            REGION_SMALL_CATEGORY
            ON
                INDIVIDUAL_TRIP_PLAN.RGN_SCTGRY_CD = REGION_SMALL_CATEGORY.RGN_SCTGRY_CD*/
        WHERE
            INDIVIDUAL_TRIP_PLAN.TRIP_PLN_NO = #{PlanId}
    </select>

    <select id="getAreaCodeList" resultMap="areaMap">
        /* 전체 지역 코드 조회 */
        SELECT
            row_number() OVER (ORDER BY area_code) AS areaNum,
            area_code,
            area_name,
            REG_YMD AS areaRegDate,
            MDFCN_YMD AS areaModDate
        FROM
            AREA_CODE
    </select>

    <select id="getSigunCodeList" resultMap="sigunMap">
        /* 전체 시군 코드 조회 */
        SELECT
            row_number() OVER (ORDER BY AC.area_code, SC.sigungu_code) AS sigunNum,
            SC.sigungu_code,
            SC.sigungu_name,
            SC.area_id,
            AC.area_code,
            AC.area_name,
            SC.REG_YMD AS sigunRegDate,
            SC.MDFCN_YMD AS sigunModDate
        FROM
            SIGUNGU_CODE AS SC
                left join
            AREA_CODE AS AC
            on
            SC.area_id = AC.area_code
    </select>
    <select id="getSigunguCodesByAreaCode" resultMap="sigunMap">
        /* 지역 코드와 일치하는 시군 코드 조회 */
        SELECT
            row_number() OVER (ORDER BY AC.area_code, SC.sigungu_code) AS sigunNum,
            SC.sigungu_code,
            SC.sigungu_name,
            SC.area_id,
            AC.area_code,
            AC.area_name,
            SC.REG_YMD AS sigunRegDate,
            SC.MDFCN_YMD AS sigunModDate
        FROM
            SIGUNGU_CODE AS SC
                left join
            AREA_CODE AS AC
            on
                SC.area_id = AC.area_code
        WHERE
            SC.area_id = #{areaCode}
    </select>
    <select id="getDestinationList" resultMap="destinationMap">
        /* 전체 여행지 목록 조회 */
        SELECT
            row_number() OVER (ORDER BY area_code) AS destinationNum,
            destination_id,
            destination_title,
            destination_first_address,
            destination_second_address,
            destination_content_id,
            destination_content_type_id,
            destination_first_image_link,
            destination_second_image_link,
            destination_longitude,
            destination_latitude,
            area_code,
            sigungu_code,
            destination_tel_num,
            destination_zipcode,
            REG_YMD,
            MDFCN_YMD
        FROM
            TOUR_INFO_FROM_API
    </select>
    <select id="getDestinationListByContentType" resultMap="destinationMap">
        /* 컨텐츠 타입과 일치하는 여행지 정보 목록 조회 */
        SELECT
            row_number() OVER (ORDER BY area_code) AS destinationNum,
            destination_id,
            destination_title,
            destination_first_address,
            destination_second_address,
            destination_content_id,
            destination_content_type_id,
            destination_first_image_link,
            destination_second_image_link,
            destination_longitude,
            destination_latitude,
            area_code,
            sigungu_code,
            destination_tel_num,
            destination_zipcode,
            REG_YMD,
            MDFCN_YMD
        FROM
            TOUR_INFO_FROM_API
        where
            destination_content_type_id = #{contentTypeId}
    </select>
    <select id="getPTourDetailByContentId" resultMap="destinationDetailMap">
        /* 컨텐츠 아이디, 컨텐츠 타입과 일치하는 여행지 상세 정보 조회 */
        SELECT
            tour_detail_content_id,
            tour_detail_content_type_id,
            tour_detail_title,
            tour_detail_homepage,
            tour_detail_first_image,
            tour_detail_second_image,
            area_code,
            sigungu_code,
            tour_detail_first_addr,
            tour_detail_second_addr,
            tour_detail_zipcode,
            tour_detail_tel_num,
            tour_detail_tel_name,
            tour_detail_longitude,
            tour_detail_latitude,
            tour_detail_mlevel,
            tour_detail_overview,
            REG_YMD,
            MDFCN_YMD
        FROM
            TOUR_DETAIL_FROM_API
        WHERE
            tour_detail_content_id = #{contentId}
            AND
            tour_detail_content_type_id = #{contentTypeId}
    </select>

    <select id="getSigunguNameBySigunCode" resultMap="sigunMap">
        /* 시군 코드와 일치하는 지역 코드 이름, 시군 코드 이름 조회 */
        SELECT
            SC.sigungu_code,
            SC.sigungu_name,
            SC.area_id,
            AC.area_code,
            AC.area_name,
            SC.REG_YMD AS sigunRegDate,
            SC.MDFCN_YMD AS sigunModDate
        FROM
            SIGUNGU_CODE AS SC
            left join
            AREA_CODE AS AC
            on
            SC.area_id = AC.area_code
        where
            AC.area_code = #{areaCode}
            and
            SC.sigungu_code = #{sigunguCode}
    </select>

    <select id="getTourDetailList" resultMap="destinationDetailMap">
        /* 여행지 상세 정보 목록 조회 */
        SELECT
            tour_detail_content_id,
            tour_detail_content_type_id,
            tour_detail_title,
            tour_detail_homepage,
            tour_detail_first_image,
            tour_detail_second_image,
            area_code,
            sigungu_code,
            tour_detail_first_addr,
            tour_detail_second_addr,
            tour_detail_zipcode,
            tour_detail_tel_num,
            tour_detail_tel_name,
            tour_detail_longitude,
            tour_detail_latitude,
            tour_detail_mlevel,
            tour_detail_overview,
            REG_YMD,
            MDFCN_YMD
        FROM
            TOUR_DETAIL_FROM_API
    </select>

    <update id="updateImagePath" parameterType="map">
        /* 여행지 상세 정보에 이미지 링크 추가*/
        UPDATE
            TOUR_DETAIL_FROM_API
        SET
            tour_detail_first_image_path = #{imagePath}
        WHERE
            tour_detail_content_id = #{contentId}
    </update>
</mapper>
