<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	  layout:decorate="~{user/layout/default}">
  <th:block layout:fragment="customPageSection">	  
	<!-- ====================================
	———	TOUR PACKAGES SECTION
	===================================== -->
	<section class="bg-smoke py-10">
	  <div class="container">
	    <div th:each="l : ${planRankingList}" class="media media-list-view media-list-fullwidth flex-column flex-md-row mb-5">
	      <div class="media-img position-relative">
	        <img class="img-fluid position-relative lazyestload" data-src="/user/img/packages/package-list-01.jpg" src="/user/img/packages/package-list-01.jpg" alt="gallery-img">
	        <a class="media-img-overlay" data-fancybox="gallery" href="/user/img/packages/package-list-01.jpg"></a>
	      </div>
	
	      <div class="media-body">
	        <div class="row align-items-md-center align-items-lg-stretch">
	          <div class="col-md-7 col-lg-8 position-relative">
	            <h2 th:text="${l.planTitle}">
	              <a class="media-title" href="single-package-right-sidebar.html">전라북도 전주!!</a>
	            </h2>
	            <div class="rating-view">
	              <span th:text="${l.rgnSctgryName}" class="content-view text-uppercase">한국스마트정보교육원</span>
	              <span class="star add-rating-default"></span>
	            </div>
	    
	            <p th:text="${l.planDetail}" class="mb-lg-0" style="font-size:20px;">Integer purus ex, dictum nec elementum eu, tristique vel lectus. Donec rutrum lectus et
	              pharetra egestas. Proin
	              convallis magna vel libero accumsan sollicitudin. Quisque dapibus vitae turpis eu magna sagittis.</p>
	          </div>
	    
	          <div class="col-md-5 col-lg-4" id="location7">
	            <div class="bg-primary text-center p-5 view-details">
	              <h2 class="text-white font-weight-bold h2">여행계획</h2>
	              <p th:text="${l.tripPlanRank} + 위" class="text-white text-capitalize" style="font-size:25px;"></p>
	              <div>
	                <a href="/trip/board"
	                  class="btn btn-xs btn-outline-white btn-booking text-uppercase mb-2">상세정보</a>
	              </div>
	             
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	  <div class="col-lg-12">
	       <button type="button" class="btn btn-primary btn-sm" onclick="location.href='/allRanking/planRankingList#pageTop'" style="float:right;">Top</button>
	  </div>
	  <script>
		  window.onload = function() {
			  if ('scrollRestoration' in history) {
			    history.scrollRestoration = 'manual';
			  }
			}			
	  </script>	
	</section> 	  