<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	  layout:decorate="~{user/layout/default}">
  <th:block layout:fragment="customPageSection">
	<!-- ====================================
	———	TOUR PACKAGES SECTION
	===================================== -->
	<section class="bg-smoke py-10">
	  <div class="container">
	    <div th:each="l : ${userRankingList}" class="media media-list-view media-list-fullwidth flex-column flex-md-row mb-5">
	      <div class="media-img position-relative">
	        <img class="img-fluid position-relative lazyestload" th:data-src="${l.destinationImg}" th:src="${l.destinationImg}" alt="gallery-img">
	        <a class="media-img-overlay" data-fancybox="gallery" href="/user/img/packages/package-list-01.jpg"></a>
	      </div>
	
	      <div class="media-body">
	        <div class="row align-items-md-center align-items-lg-stretch">
	          <div class="col-md-7 col-lg-8 position-relative">
	            <h4 th:text="${l.destinationTitle}">
	              <a class="media-title" href="/user/destination/tourCheckDetails">전라북도 전주!</a>
	            </h4>
	            <div class="rating-view">
	              <span th:text="${l.destinationAddr}" class="content-view text-uppercase"></span>
	              <span class="star add-rating-default"></span>
	            </div>
	    
	            <p class="mb-lg-0"></p>
	    
	            <div class="date-view mb-5 mb-md-0">
	              <span><i class="far fa-calendar-alt" aria-hidden="true"></i> 27 JAN, 2021</span>
	              <span><i class="far fa-clock" aria-hidden="true"></i> 5 days</span>
	            </div>
	          </div>
	    
	          <div class="col-md-5 col-lg-4" id="location6">
	            <div class="bg-primary text-center p-5 view-details">
	              <h2 th:text="${l.destinationType}" class="text-white font-weight-bold h2"></h2>
	              <p th:text="${l.userRank} + 위" class="text-white text-capitalize" style="font-size:25px;"></p>
	              <div>
	                <a href="/user/destination/tourCheckDetails"
	                  class="btn btn-xs btn-outline-white btn-booking text-uppercase mb-2">상세정보</a>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	
	  <!-- ====================================
	———	PAGINATION
	===================================== -->
	<section class="pt-5 pt-md-7">
	  <div class="container">
	    <nav aria-label="Page navigation">
	      <ul class="pagination justify-content-center align-items-center">
	        <li class="page-item">
	          <a class="page-link" href="/allRanking/userRankingList" tabindex="-1">
	            <i class="fas fa-long-arrow-alt-left d-none d-md-inline-block me-md-1" aria-hidden="true"></i> Previous
	          </a>
	        </li>
	    
	        <li class="page-item">
	          <a class="page-link active" href="javascript:void(0)">1</a>
	        </li>
	    
	        <li class="page-item">
	          <a class="page-link" href="javascript:void(0)">2</a>
	        </li>
	    
	        <li class="page-item">
	          <a class="page-link" href="javascript:void(0)">...</a>
	        </li>
	    
	        <li class="page-item">
	          <a class="page-link" href="/allRanking/userRankingList">Next
	            <i class="fas fa-long-arrow-alt-right d-none d-md-inline-block ms-md-1" aria-hidden="true"></i>
	          </a>
	        </li>
	      </ul>
	    </nav>
	  </div>
	  <div class="col-lg-12">
       <button type="button" class="btn btn-primary btn-sm" onclick="location.href='/allRanking/userRankingList#pageTop'" style="float:right;">Top</button>
      </div>
      <script>
		  window.onload = function() {
			  if ('scrollRestoration' in history) {
			    history.scrollRestoration = 'manual';
			  }
			}			
	  </script>
	</section>
	
	</section>
	
	
	
	  </div><!-- element wrapper ends -->  	  