<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{platform/layout/default}">
	<head>
		<!-- Datatables -->
	    <link th:href="@{/platform/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css}" rel="stylesheet">
	    <link th:href="@{/platform/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css}" rel="stylesheet">
	    <link th:href="@{/platform/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css}" rel="stylesheet">
	    <link th:href="@{/platform/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css}" rel="stylesheet">
	    <link th:href="@{/platform/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css}" rel="stylesheet">
	
		<style type="text/css">
			.control-label{
				text-align: center !important;
				background-color: #f8f8f8 !important;
				padding-bottom: 8px !important;	
			}
		</style>

	</head>

	<th:block layout:fragment="customContent">
		<!-- search start -->
		<!-- search end -->
		<!-- grid table start -->
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_content">
						<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
							<thead>
								<tr>
									<th>반응 여부 코드</th>
									<th>클릭한 아이디</th>
									<th>클릭한 상품 리뷰 코드</th>
									<th>좋아요/싫어요/기본</th>
									<th>등록일자</th>
									<th>수정일자</th>
								</tr>
							</thead>
							<tbody>
								<tr th:unless="${pReviewReact != null}">
									<td colspan="7"  class="center-text">좋아요 싫어요를 클릭한 기록이 없습니다.</td>
								</tr>
								<tr th:if="${pReviewReact != null}" th:each="l : ${pReviewReact}">
									<td th:text="${l.reviewReactNum}"></td>
									<td th:text="${l.reviewReactId}"></td>
									<td th:text="${l.reactReviewCode}"></td>
									<td th:text="${l.reviewReactCheck}"></td>
									<td th:text="${l.reviewReactDate}"></td>
									<td th:text="${l.reviewReactModifyDate}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- grid table end -->
	</th:block>
	<th:block layout:fragment="customJsFile">
		<!-- Datatables -->
	    <script th:src="@{/platform/vendors/datatables.net/js/jquery.dataTables.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-buttons/js/buttons.flash.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-buttons/js/buttons.html5.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-buttons/js/buttons.print.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-scroller/js/dataTables.scroller.min.js}"></script>
	    <script th:src="@{/platform/vendors/jszip/dist/jszip.min.js}"></script>
	    <script th:src="@{/platform/vendors/pdfmake/build/pdfmake.min.js}"></script>
	    <script th:src="@{/platform/vendors/pdfmake/build/vfs_fonts.js}"></script>
	</th:block>
</html>

