<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
     			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      			layout:decorate="~{/platform/layout/default}">
	
	<head>
		<!-- Datatables -->
	    <link th:href="@{/platform/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css}" rel="stylesheet">
	    <link th:href="@{/platform/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css}" rel="stylesheet">
	    <link th:href="@{/platform/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css}" rel="stylesheet">
	    <link th:href="@{/platform/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css}" rel="stylesheet">
	    <link th:href="@{/platform/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css}" rel="stylesheet">
	
		<style type="text/css">
			.control-label{
				text-align: center !important;
				background-color: #f8f8f8 !important;
				padding-bottom: 8px !important;	
			}
		</style>
		

	</head>



	<th:block layout:fragment="customContent">
	    <div class="col-md-12 col-sm-6 col-xs-12">
	        <div class="x_panel">
	            <div class="x_title">
	                <h3>카테고리 수정</h3>
	                <div class="clearfix"></div>
	            </div>
	            <div class="x_content">
	                <form id="modifyForm" th:action="@{/platform/board/categoryModify}" method="post">
	                    <div class="form-group">
	                        <label for="faqCateType">카테고리</label>
	                        <input type="text" class="form-control" id="faqCateType" name="faqCateType" th:value="${faqCateType}">
	                    </div>
	                
	                    <button type="submit" class="btn btn-primary">저장</button>
	                    <button type="button" class="btn btn-secondary" onclick="location.href='/platform/board/categoryList'">취소</button>
	                </form>
	            </div>
	        </div>
	    </div>
	</th:block>
	</th:block>
	<th:block layout:fragment="customJsFile">
		<!-- Datatables -->
	    <script th:src="@{/platform/vendors/datatables.net/js/jquery.dataTables.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-buttons/js/buttons.flash.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-buttons/js/buttons.html5.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-buttons/js/buttons.print.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-scroller/js/dataTables.scroller.min.js}"></script>
	    <script th:src="@{/platform/vendors/jszip/dist/jszip.min.js}"></script>
	    <script th:src="@{/platform/vendors/pdfmake/build/pdfmake.min.js}"></script>
	    <script th:src="@{/platform/vendors/pdfmake/build/vfs_fonts.js}"></script>
	</th:block>
	
</html>