<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
     			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      			layout:decorate="~{/platform/layout/default}">
      
	<head>
		<!-- Datatables -->
	    <link th:href="@{/platform/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css}" rel="stylesheet">
	    <link th:href="@{/platform/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css}" rel="stylesheet">
	    <link th:href="@{/platform/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css}" rel="stylesheet">
	    <link th:href="@{/platform/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css}" rel="stylesheet">
	    <link th:href="@{/platform/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css}" rel="stylesheet">
	
		<style type="text/css">
			.control-label{
				text-align: center !important;
				background-color: #f8f8f8 !important;
				padding-bottom: 8px !important;	
			}
		</style>

	</head>

	<th:block layout:fragment="customContent">
		<!-- search start -->
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>
							검색 <small>search form</small>
						</h2>
						<ul class="nav navbar-right panel_toolbox">
							<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
							</li>
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown" role="button" aria-expanded="false"><i
									class="fa fa-wrench"></i></a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="#">Settings 1</a></li>
									<li><a href="#">Settings 2</a></li>
								</ul></li>
							<li><a class="close-link"><i class="fa fa-close"></i></a></li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<br />
						<form id="demo-form2" class="form-horizontal form-label-left">
							<div class="form-group">
								<div class="col-md-2 col-sm-2 col-xs-0"></div>
								<label class="control-label col-md-2 col-sm-2 col-xs-12">게시판 종류</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<select class="form-control text-center">
										<option value="">==== 게시판 종류를 선택해주세요 ====</option>
										<option>커뮤니티</option>
										<option>공지사항</option>
										<option>자주찾는 질문 및 1:1 문의</option>
										<option>신고</option>
									</select>
								</div>
								<div class="col-md-2 col-sm-2 col-xs-0"></div>
							</div>
							<div class="ln_solid"></div>
							<div class="form-group">
								<div class="col-md-12 col-sm-12 col-xs-12 text-center">
									<button class="btn btn-success btn-lg" type="button">검색</button>
									<button type="reset" class="btn btn-dark btn-lg">초기화</button>
								</div>
							</div>
	
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- search end -->
			
		<!-- grid table start -->
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_content">
						<table id="datatable-responsive"
							class="table table-striped table-bordered dt-responsive nowrap"
							cellspacing="0" width="100%">
							<thead>
								<tr>
									<th>번호</th>
									<th>작성자</th>
									<th>카테고리</th>
									<th>수정자</th>
									<th>활성화여부</th>
									<th>등록일</th>
									<th>수정일</th>
									<th>수정</th>
									<th>삭제</th>
								</tr>
							</thead>
							<tbody>
								<tr th:unless="${faqCategoryList != null}">
									<td colspan="11">등록된 카테고리가 없습니다.</td>
								</tr>
								<tr th:if="${faqCategoryList != null}" th:each="l : ${faqCategoryList}">
									<td th:text="${l.faqCateNum}"></td>
									<td th:text="${l.faqRegId}"></td>
									<td th:text="${l.faqCateType}"></td>
									<td th:text="${l.faqMdfId}"></td>
									<td th:text="${l.faqAct}"></td>
									<td th:text="${l.faqRegDate}"></td>
									<td th:text="${l.faqMdfDate}"></td>
									<td><a th:href="@{/platform/board/categoryModify}">수정</a></td>
									<td><a href="#">삭제</a></td>
								</tr>
							</tbody>
						</table>
						<div class="text-right">
							<a th:href="@{/platform/board/categoryAdd}" class="btn btn-primary">추가</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- grid table end -->
	</th:block>
	</th:block>
	<th:block layout:fragment="customJsFile">
		<!-- Datatables -->
	    <script th:src="@{/platform/vendors/datatables.net/js/jquery.dataTables.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-buttons/js/buttons.flash.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-buttons/js/buttons.html5.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-buttons/js/buttons.print.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-scroller/js/dataTables.scroller.min.js}"></script>
	    <script th:src="@{/platform/vendors/jszip/dist/jszip.min.js}"></script>
	    <script th:src="@{/platform/vendors/pdfmake/build/pdfmake.min.js}"></script>
	    <script th:src="@{/platform/vendors/pdfmake/build/vfs_fonts.js}"></script>
	</th:block>
</html>