<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
     			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      			layout:decorate="~{/platform/layout/default}">
      
	<head>
		<!-- Datatables -->
	    <link th:href="@{/platform/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css}" rel="stylesheet">
	    <link th:href="@{/platform/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css}" rel="stylesheet">
	    <link th:href="@{/platform/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css}" rel="stylesheet">
	    <link th:href="@{/platform/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css}" rel="stylesheet">
	    <link th:href="@{/platform/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css}" rel="stylesheet">
	
		<style type="text/css">
			.control-label{
				text-align: center !important;
				background-color: #f8f8f8 !important;
				padding-bottom: 8px !important;	
			}
		</style>
	</head>

	<th:block layout:fragment="customContent">
	
	    <!-- search start -->
	    <div class="row">
	        <div class="col-md-12 col-sm-12 col-xs-12">
	            <div class="x_panel">
	                <div class="x_title">
	                    <h2>
	                        검색 <small>search form</small>
	                    </h2>
	                    <ul class="nav navbar-right panel_toolbox">
	                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	                        </li>
	                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
	                        	<i class="fa fa-wrench"></i></a>
	                            	<ul class="dropdown-menu" role="menu">
		                                <li><a href="#">Settings 1</a></li>
		                                <li><a href="#">Settings 2</a></li>
	                            	</ul>
	                        </li>
	                        <li><a class="close-link"><i class="fa fa-close"></i></a></li>
	                    </ul>
	                    <div class="clearfix"></div>
	                </div>
	                <div class="x_content">
	                    <br>
	                    <form id="demo-form2" class="form-horizontal form-label-left">
							<div class="form-group">
								<div class="col-md-2 col-sm-2 col-xs-0"></div>
								<label for="searchItem" class="control-label col-md-2 col-sm-2 col-xs-12">검색</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input id="searchItem" class="form-control col-md-6 col-sm-6 col-xs-12" type="text" name="middle-name">
								</div>
								<div class="col-md-2 col-sm-2 col-xs-0"></div>
							</div>

							<div class="form-group">
								<div class="col-md-2 col-sm-2 col-xs-0"></div>
								<label class="control-label col-md-2 col-sm-2 col-xs-12">구분</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<select id="contentTypeId" name="contentTypeId" class="form-control text-center data-select" required>
										<option value="">====선택하세요====</option>
										<option value="post">게시글</option>
										<option value="comment">댓글</option>
									</select>
								</div>
								<div class="col-md-2 col-sm-2 col-xs-0"></div>
							</div>

							<div class="form-group">
	                            <div class="col-md-2 col-sm-2 col-xs-0"></div>
	                            <label class="control-label col-md-2 col-sm-2 col-xs-12">카테고리 유형</label>
	                            <div class="col-md-6 col-sm-6 col-xs-12">
	                                <select class="form-control text-center searchCate">
	                                    <option value="">====선택하세요====</option>
	                                    <option value="여행 정보" th:selected="${selectedCategory == '여행 정보'}">여행 정보</option>
	                                    <option value="여행 후기" th:selected="${selectedCategory == '여행 후기'}">여행 후기</option>
	                                    <option value="여행 친구 찾기" th:selected="${selectedCategory == '여행 친구 찾기'}">여행 친구 찾기</option>
	                                    <option value="자유게시판" th:selected="${selectedCategory == '자유게시판'}">자유게시판</option>
	                                    <option value="질문게시판" th:selected="${selectedCategory == '질문게시판'}">질문게시판</option>
	                                </select>
	                            </div>
	                            <div class="col-md-2 col-sm-2 col-xs-0"></div>
	                        </div>
	
	                        <div class="form-group">
	                            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
	                                <button class="btn btn-success btn-lg searchBtn" type="button">검색</button>
	                                <button type="reset" class="btn btn-dark btn-lg" onclick="location.href='/platform/board/communityList'">초기화</button>
	                            </div>
	                        </div>
	                    </form>
	                </div>
	            </div>
	        </div>
	    </div>
	    <!-- search end -->

	    <!-- grid table start -->
	    <div class="row">
	        <div class="col-md-12 col-sm-12 col-xs-12">
	            <div class="x_panel">
	                <div class="x_content">
	                    <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
	                        <thead>
	                        <tr>
	                            <th>번호</th>
	                            <th>작성자</th>
	                            <th>카테고리</th>
	                            <th>제목</th>
	                            <th>내용</th>
	                            <th>조회수</th>
	                            <th>댓글수</th>
	                            <th>좋아요수</th>
	                            <th>싫어요수</th>
	                            <th>신고수</th>
	                            <th>활성화여부</th>
	                            <th>등록일</th>
	                            <th>수정일</th>
	                            <th>비활성화</th>
	                        </tr>
	                        </thead>
	                        <tbody>
							<tr th:unless="${communityList != null}">
								<td colspan="14" class="text-center">등록된 게시글이 없습니다.</td>
							</tr>
								<tr th:if="${communityList != null}" th:each="c : ${communityList}">
	                            <td th:text="${c.postNum}"></td>
	                            <td th:text="${c.postRegId}"></td>
	                            <td th:text="${c.category.postCategoryName}"></td>
	                            <td th:text="${c.postTitle}"></td>
	                            <td th:utext="${c.postContent}"></td>
	                            <td th:text="${c.postInqCnt}"></td>
	                            <td th:text="${c.commentTotal}"></td>
	                            <td th:text="${c.likeTotal}"></td>
	                            <td th:text="${c.dislikeTotal}"></td>
	                            <td th:text="${c.reportTotal}"></td>
	                            <td th:text="${c.postAct}"></td>
	                            <td th:text="${c.postRegDate}"></td>
	                            <td th:text="${c.postMdfDate}"></td>
								<td>
									<button type="button" id="changeActice" name="postAct" data-action="update" class="btn btn-primary btn-xs deactivateBtn" th:attr="data-post-num=${c.postNum}">비활성화</button>
								</td>
							</tr>
	                        </tbody>
	                    </table>
	                </div>
	            </div>
	        </div>
	    </div>
	    <!-- grid table end -->
	</th:block>

	<th:block layout:fragment="customJsFile">
	    <!-- Datatables -->
	    <script th:src="@{/platform/vendors/datatables.net/js/jquery.dataTables.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-buttons/js/buttons.flash.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-buttons/js/buttons.html5.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-buttons/js/buttons.print.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-scroller/js/dataTables.scroller.min.js}"></script>
	    <script th:src="@{/platform/vendors/jszip/dist/jszip.min.js}"></script>
	    <script th:src="@{/platform/vendors/pdfmake/build/pdfmake.min.js}"></script>
	    <script th:src="@{/platform/vendors/pdfmake/build/vfs_fonts.js}"></script>
	    <script th:src="@{/platform/js/search/search.js}"></script>
	    <script th:src="@{/platform/js/deactivate/deactivate.js}"></script>
	</th:block>

	<th:block layout:fragment="customJs">
		
		<script>
		<!-- 카테고리별 검색 -->
			    $(document).ready(function(){
			        $('#searchItem').on('keyup', function(){
			            const searchValue = $(this).val().toLowerCase();
			            $('#datatable-responsive tbody tr').filter(function(){
			                $(this).toggle($(this).text().toLowerCase().indexOf(searchValue) > -1);
			            });
			        });
			        
			        $(document).on('click','.searchBtn', function(){
			            const movePage = $('.searchCate').val(); 
			            if(movePage) location.href = '/platform/board/communityList?category=' + movePage;
			        });
			    });
		</script>
		
		
		    <script th:inline="javascript">
        const table = $('#datatable-responsive').dataTable();

        $(document).on('click', '.searchBtn', function(){
            const dataTrans = String($('.data-select :selected').val()).trim();
            if(dataTrans){
                const colObj = {
                    post : [
                        {'title': '번호', 'data': 'postNum'},
                        {'title': '작성자', 'data': 'postRegId'},
                        {'title': '카테고리', 'data': 'category.postCategoryName'},
                        {'title': '제목', 'data': 'postTitle'},
                        {'title': '내용', 'data': 'postContent'},
                        {'title': '조회수', 'data': 'postInqCnt'},
                        {'title': '댓글수', 'data': 'commentTotal'},
                        {'title': '좋아요수', 'data': 'likeTotal'},
                        {'title': '싫어요수', 'data': 'dislikeTotal'},
                        {'title': '신고수', 'data': 'reportTotal'},
                        {'title': '활성화여부', 'data': 'postAct'},
                        {'title': '등록일', 'data': 'postRegDate'},
                        {'title': '수정일', 'data': 'postMdfDate'},
                    ],
                    
                    comment : [
                        {'title': '댓글번호', 'data': 'commentNum'},
                        {'title': '게시글번호', 'data': 'postNum'},
                        {'title': '작성자', 'data': 'commentRegId'},
                        {'title': '내용', 'data': 'commentContent'},
                        {'title': '좋아요수', 'data': 'commentlikeTotal'},
                        {'title': '싫어요수', 'data': 'commentDislikeTotal'},
                        {'title': '신고수', 'data': 'commentReportTotal'},
                        {'title': '활성화여부', 'data': 'commentAct'},
                        {'title': '등록일', 'data': 'commentRegDate'},
                        {'title': '수정일', 'data': 'commentMdfDate'},
                    ]
                }

                const colArr = colObj[dataTrans];

                $.ajax({
                    url: '/platform/board/communityList/' + dataTrans,
                    method: 'POST',
                    dataType: 'JSON',
                    success: function(json) {
                        table.clear().destroy();
                        $('#datatable-responsive').empty();

                        const dataTableOption = {
                            'searching': true,
                            'responsive': true,
                            'destroy': true,
                            'data': json.dataList,
                            'columns': colArr,
                        };

                        $('#datatable-responsive').DataTable(dataTableOption);
                    },
                    error: function(xhr, status, error) {
                        console.error('Error: ' + error);
                    }
                });
            }
        });
    </script>

	</th:block>

</html>