<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
     			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      			layout:decorate="~{/platform/layout/default}">
      
	<head>
		<!-- Datatables -->
	    <link th:href="@{/platform/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css}" rel="stylesheet">
	    <link th:href="@{/platform/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css}" rel="stylesheet">
	    <link th:href="@{/platform/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css}" rel="stylesheet">
	    <link th:href="@{/platform/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css}" rel="stylesheet">
	    <link th:href="@{/platform/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css}" rel="stylesheet">
	
		<style type="text/css">
			.control-label{
				text-align: center !important;
				background-color: #f8f8f8 !important;
				padding-bottom: 8px !important;	
			}
		</style>
	</head>

	<th:block layout:fragment="customContent">
	
    <!-- search start -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        검색 <small>search form</small>
                    </h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        	<i class="fa fa-wrench"></i></a>
                            	<ul class="dropdown-menu" role="menu">
	                                <li><a href="#">Settings 1</a></li>
	                                <li><a href="#">Settings 2</a></li>
                            	</ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>
                    <form id="demo-form2" class="form-horizontal form-label-left">
						<div class="form-group">
							<div class="col-md-2 col-sm-2 col-xs-0"></div>
							<label for="searchItem" class="control-label col-md-2 col-sm-2 col-xs-12">검색</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input id="searchItem" class="form-control col-md-6 col-sm-6 col-xs-12" type="text" name="middle-name">
							</div>
							<div class="col-md-2 col-sm-2 col-xs-0"></div>
						</div>

                        <div class="form-group">
                            <div class="col-md-2 col-sm-2 col-xs-0"></div>
                            <label class="control-label col-md-2 col-sm-2 col-xs-12">카테고리 유형</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select id="searchCate" class="form-control text-center">
                                    <option>여행 정보</option>
                                    <option>여행 후기</option>
                                    <option>여행 친구 찾기</option>
                                    <option>자유 게시판</option>
                                    <option>질문 게시판</option>
                                </select>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-0"></div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                <button class="btn btn-success btn-lg searchBtn" type="button">검색</button>
                                <button type="reset" class="btn btn-dark btn-lg">초기화</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- search end -->

    <!-- grid table start -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>번호</th>
                            <th>작성자</th>
                            <th>카테고리</th>
                            <th>제목</th>
                            <th>내용</th>
                            <th>조회수</th>
                            <th>댓글수</th>
                            <th>좋아요수</th>
                            <th>싫어요수</th>
                            <th>신고수</th>
                            <th>활성화여부</th>
                            <th>등록일</th>
                            <th>수정일</th>
                            <th>비활성화1</th>
                            <th>비활성화2</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:unless="${communityList != null}">
                            <td colspan="15" class="text-center">등록된 게시글이 없습니다.</td>
                        </tr>
                        <tr th:if="${communityList != null}" th:each="l : ${communityList}">
                            <td th:text="${l.postNum}"></td>
                            <td th:text="${l.postRegId}"></td>
                            <td th:text="${l.category.postCategoryName}"></td>
                            <td th:text="${l.postTitle}"></td>
                            <td th:utext="${l.postContent}"></td>
                            <td th:text="${l.postInqCnt}"></td>
                            <td th:text="${l.commentTotal}"></td>
                            <td th:text="${l.likeTotal}"></td>
                            <td th:text="${l.dislikeTotal}"></td>
                            <td th:text="${l.reportTotal}"></td>
                            <td th:text="${l.postAct}"></td>
                            <td th:text="${l.postRegDate}"></td>
                            <td th:text="${l.postMdfDate}"></td>
								<td>
									<button type="button" id="changeActice" name="postAct" data-action="update" class="btn btn-primary btn-xs">비활성화1</button>	
								</td>
								<td>
									<a href="#" th:data-post-num="${l.postNum}" th:onclick="confirmDeactivate(this)">비활성화2</a> 
									<!-- <a href="#" onclick="confirmDeactivation([[${l.postNum}]])">비활성화</a>
									<a th:href="@{/platform/board/actModify(postNum=${l.postNum})}">비활성화</a> -->

								</td>
							</tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- grid table end -->
</th:block>

	<th:block layout:fragment="customJsFile">
	    <!-- Datatables -->
	    <script th:src="@{/platform/vendors/datatables.net/js/jquery.dataTables.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-buttons/js/buttons.flash.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-buttons/js/buttons.html5.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-buttons/js/buttons.print.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-scroller/js/dataTables.scroller.min.js}"></script>
	    <script th:src="@{/platform/vendors/jszip/dist/jszip.min.js}"></script>
	    <script th:src="@{/platform/vendors/pdfmake/build/pdfmake.min.js}"></script>
	    <script th:src="@{/platform/vendors/pdfmake/build/vfs_fonts.js}"></script>
	    <script type="text/javascript" th:src="@{/platform/js/checkbox/selectedDisabled.js}"></script>
	    <script th:src="@{/platform/js/search/search.js}"></script>
	</th:block>

	<th:block layout:fragment="customJs">

    
    <script>
            
            $(document).on('click','.searchBtn', function(){
                const movePage = $('#searchCate').val();

                if(movePage) location.href = '/platform/board/' + movePage;
            });
    </script>
    
    
    
    
    <script>
    function confirmDeactivate(element) {
        // 사용자에게 확인 메시지 표시
        if (confirm("비활성화하시겠습니까?")) {
            // 비활성화 링크의 데이터 속성에서 게시물 번호 가져오기
            const postNum = element.getAttribute('th:data-post-num');

            // Ajax를 사용하여 서버로 데이터 전송
            const xhr = new XMLHttpRequest();
            xhr.open("POST", "/updatePostStatus", true);
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    // 서버로부터의 응답 처리
                    const response = JSON.parse(xhr.responseText);
                    if (response.success) {
                        // 업데이트가 성공한 경우에 대한 처리
                        alert("게시물이 비활성화되었습니다.");
                        // 페이지 새로고침 또는 필요한 업데이트 수행
                    } else {
                        // 업데이트가 실패한 경우에 대한 처리
                        alert("게시물 비활성화에 실패했습니다.");
                    }
                }
            };
            // 서버로 보낼 데이터 설정
            const data = JSON.stringify({ postNum: postNum });
            // 서버로 데이터 전송
            xhr.send(data);
        }
    }
</script>




</th:block>


</html>