<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{platform/layout/default}">
	
<th:block layout:fragment="customCss"></th:block>

	<th:block layout:fragment="customContent">
		<div class="col-md-12 col-sm-6 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h3>자주 묻는 질문 수정</h3>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<form id="modifyForm" th:object="${faqInfo}" th:action="@{/platform/board/faqModify}" method="post">
						<input type="hidden" name="sessionId" th:value="${session.loginId}">
						
						<div class="form-group">
							<label for="faqNum">번호</label>
							<input type="text" id="faqNum" name="faqNum" class="form-control" th:field="*{faqNum}" readonly="readonly"/>
						</div>
						
						<div class="form-group">
							<label for="faqRegId">작성자</label>
							<input type="text" class="form-control" id="faqRegId" name="faqRegId" th:field="*{faqRegId}" readonly="readonly">
						</div>		
						
						<div class="form-group">	
							<label for="faqCateType">자주 묻는 질문 유형</label>
								<select class="form-control" id="faqCateNum" name="faqCateNum">
						    		<option value="FAQ_CTGRY_1" th:selected="${faqInfo.faqCateNum == 'FAQ_CTGRY_1'}" >계정 관리</option>
				    				<option value="FAQ_CTGRY_2" th:selected="${faqInfo.faqCateNum == 'FAQ_CTGRY_2'}" >이용 문의</option>
						  		 	<option value="FAQ_CTGRY_3" th:selected="${faqInfo.faqCateNum == 'FAQ_CTGRY_3'}" >건의 및 제안</option>
						    		<option value="FAQ_CTGRY_4" th:selected="${faqInfo.faqCateNum == 'FAQ_CTGRY_4'}" >결제 및 환불</option>
								</select>
						</div>
								
						<div class="form-group">
							<label for="faqTitle">제목</label>
							<input type="text" class="form-control" id="faqTitle" name="faqTitle" th:field="*{faqTitle}" required="required">
						</div>
						
						<div class="form-group">	
							<label for="faqContent">내용</label>
							<textarea class="form-control" id="faqContent" name="faqContent" rows="5" th:utext="*{faqContent}" required="required"></textarea>
						</div>
							
						<div class="form-group">
							<label for="faqMdfId">수정자</label>
							<input type="text" class="form-control" id="faqMdfId" name="faqMdfId" th:value="${session.loginId}" readonly="readonly">
						</div>	
							
						<div class="form-group">	
							<label for="faqAct">활성화 여부</label>
							<select class="form-control" id="faqAct" name="faqAct" th:field="*{faqAct}">
								<option value="Y">Y</option>
								<option value="N">N</option>
							</select>
						</div>	
							
						<div class="form-group">
							<label for="faqRegDate">등록일</label>
							<input type="text" class="form-control" id="faqRegDate" name="faqRegDate" th:field="*{faqRegDate}" readonly="readonly"/>
						</div>	
						
						<div class="form-group">		
							<label for="faqMdfDate">수정일</label>
							<input type="text" class="form-control" id="faqMdfDate" name="faqMdfDate" th:field="*{faqMdfDate}" readonly="readonly"/>
						</div>	
				
						<button type="submit" class="btn btn-primary">수정</button>
						<button type="button" class="btn btn-secondary" onclick="location.href='/platform/board/faqList'">취소</button>
		
					</form>
				</div>
			</div>
		</div>
	</th:block>

	<th:block layout:fragment="customJsFIle">
	</th:block>

</html>