<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{platform/layout/default}">

	<th:block layout:fragment="customCss">
	    <!-- Datatables CSS START -->
	    <link th:href="@{/platform/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css}" rel="stylesheet">
	    <link th:href="@{/platform/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css}" rel="stylesheet">
	    <link th:href="@{/platform/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css}" rel="stylesheet">
	    <link th:href="@{/platform/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css}" rel="stylesheet">
	    <link th:href="@{/platform/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css}" rel="stylesheet">
	    <!-- Datatables CSS END -->
	</th:block>


	<th:block layout:fragment="customContent">
		<div class="col-md-12 col-sm-6 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h3>자주찾는 질문 작성</h3>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<form id="writeForm" th:action="@{/platform/board/faqWrite}" method="post">
						<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
							<tbody>
								<tr>
									<td><label for="faqRegId">작성자</label></td>
									<td colspan="2"><input type="text" id="faqRegId" name="faqRegId" th:value="${session.loginId}" readonly="readonly"></td>
								</tr>
	
								<tr>
									<td><label for="faqCateType">자주찾는질문 유형</label></td>
									<td>
										<div class="select-default">
											<select class="select-option" id="faqCateNum" name="category.faqCategoryNum">
												<option th:each="fc : ${faqCateList}" th:value="${fc.faqCategoryNum}" th:text="${fc.faqCategoryName}"></option>
											</select>
										</div>
									</td>
								</tr>
	
								<tr>
									<td><label for="faqTitle">제목</label></td>
									<td><input type="text" class="form-control" id="faqTitle" name="faqTitle" th:value="*{faqTitle}" required="required"></td>
								</tr>
								<tr>
									<td><label for="faqContent">내용</label></td>
									<td><textarea class="form-control" id="faqContent"
											name="faqContent" rows="5" th:text="*{faqContent}" required="required"></textarea></td>
								</tr>
								<tr>
									<td><label for="faqAct">활성화 여부</label></td>
									<td><select class="form-control" id="faqAct" name="faqAct"
										th:value="*{faqAct}">
											<option value="Y">Y</option>
											<option value="N">N</option>
									</select></td>
								</tr>
								
								<tr>
								    <td><label for="faqRegDate">등록일</label></td>
								    <td colspan="2"><input type="text" id="faqRegDate" name="faqRegDate" th:value="${currentDate}" readonly="readonly"/></td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="3">
										<button type="submit" class="btn btn-primary">등록</button>
										<button type="button" class="btn btn-secondary" onclick="location.href='/platform/board/faqList'">취소</button>
									</td>
								</tr>
							</tfoot>
						</table>
					</form>
				</div>
			</div>
		</div>
	</th:block>

	<th:block layout:fragment="customJsFIle">
	
	</th:block>

</html>