<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
		     	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		      	layout:decorate="~{platform/layout/default}">
		      	
<th:block layout:fragment="customCss"></th:block>	      	
		      	
	<th:block layout:fragment="customContent">
	    <div class="col-md-12 col-sm-6 col-xs-12">
	        <div class="x_panel">
	            <div class="x_title">
	                <h3>공지사항 수정</h3>
	                <div class="clearfix"></div>
	            </div>
	            <div class="x_content">
	                <form id="modifyForm" th:object="${noticeInfo}" th:action="@{/platform/board/noticeModify}" method="post">
	                	<input type="hidden" name="sessionId" th:value="${session.loginId}">
	                	
	                	<div class="form-group">
							<label for="noticeNum">번호</label>
							<input type="text" id="noticeNum" name="noticeNum" class="form-control" th:field="*{noticeNum}" readonly="readonly" />
						</div>
						
						<div class="form-group">
							<label for="noticeRegId">작성자</label>
							<input type="text" class="form-control" id="noticeRegId" name="noticeRegId" th:field="*{noticeRegId}" readonly="readonly">
						</div>	
						
						<div class="form-group">	
							<label for="noticeCateType">공지사항 유형</label>
								<select class="form-control" id="noticeCateNum" name="noticeCateNum">
									<option th:value="NTC_CTGRY_1" th:selected="${noticeInfo.noticeCateNum == 'NTC_CTGRY_1'}" >일반 공지</option>
									<option th:value="NTC_CTGRY_2" th:selected="${noticeInfo.noticeCateNum == 'NTC_CTGRY_2'}" >긴급 공지</option>
									<option th:value="NTC_CTGRY_3" th:selected="${noticeInfo.noticeCateNum == 'NTC_CTGRY_3'}" >예정 공지</option>
									<option th:value="NTC_CTGRY_4"	th:selected="${noticeInfo.noticeCateNum == 'NTC_CTGRY_4'}" >이벤트 공지</option>
									<option th:value="NTC_CTGRY_5"	th:selected="${noticeInfo.noticeCateNum == 'NTC_CTGRY_5'}" >시스템 공지</option>
								</select>
						</div>	
								
						<div class="form-group">		
							<label for="noticeTitle">제목</label>
							<input type="text" class="form-control"	id="noticeTitle" name="noticeTitle" th:field="*{noticeTitle}">
						</div>	
						
						<div class="form-group">	
							<label for="noticeContent">내용</label>
							<textarea class="form-control" id="noticeContent" name="noticeContent" rows="5" th:field="*{noticeContent}" required="required"></textarea>
						</div>
						
						<div class="form-group">
							<label for="noticeMdfId">수정자</label>
							<input type="text" class="form-control" id="noticeMdfId" name="noticeMdfId" th:value="${session.loginId}" readonly="readonly">
						</div>
							
						<div class="form-group">	
							<label for="noticeAct">활성화 여부</label>
							<select class="form-control" id="noticeAct" name="noticeAct" th:field="*{noticeAct}">
								<option value="Y">Y</option>
								<option value="N">N</option>
							</select>
						</div>
						
						<div class="form-group">
							<label for="noticeRegDate">등록일</label>
							<input type="text" class="form-control" id="noticeRegDate" name="noticeRegDate" th:field="*{noticeRegDate}" />
						</div>
						
						<div class="form-group">
							<label for="noticeMdfDate">수정일</label>
							<input type="text" class="form-control" id="noticeMdfDate" name="noticeMdfDate" th:field="*{noticeMdfDate}" />
						</div>
						
							<button type="submit" class="btn btn-primary">수정</button>
							<button type="button" class="btn btn-secondary" onclick="location.href='/platform/board/noticeList'">취소</button>
						
					</form>
				</div>
			</div>
		</div>
	</th:block>
	                    
	<th:block layout:fragment="customJsFile">
	</th:block>
	
</html>