<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
		     	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		      	layout:decorate="~{platform/layout/default}">
		
<th:block layout:fragment="customCss"></th:block>    	

	<th:block layout:fragment="customContent">
	    <div class="col-md-12 col-sm-6 col-xs-12">
	        <div class="x_panel">
	            <div class="x_title">
	                <h3>공지사항 작성</h3>
	                <div class="clearfix"></div>
	            </div>
	            <div class="x_content">
	                <form id="writeForm" th:action="@{/platform/board/noticeWrite}" method="post">
	                	<input type="hidden" name="sessionId" th:value="${session.loginId}">
	                  
	                  	<div class="form-group">
							<label for="noticeRegId">작성자</label>
							<input type="text" class="form-control" id="noticeRegId" name="noticeRegId" th:value="${session.loginId}" readonly="readonly">
						</div>	
						
						<div class="form-group">	
							<label for="noticeCateType">공지사항 유형</label>
								<select class="form-control" id="noticeCateNum" name="category.noticeCategoryNum">
									<option th:each="nc : ${noticeCateList}" th:value="${nc.noticeCategoryNum}" th:text="${nc.noticeCategoryName}"></option>
								</select>
						</div>		
						
						<div class="form-group">
							<label for="noticeTitle">제목</label>
							<input type="text" class="form-control" id="noticeTitle" name="noticeTitle" th:value="*{noticeTitle}">
						</div>
						
						<div class="form-group">
							<label for="noticeContent">내용</label>
							<textarea class="form-control" id="noticeContent" name="noticeContent" rows="5" th:text="*{noticeContent}"></textarea>
						</div>
							
						<div class="form-group">
							<label for="noticeAct">활성화 여부</label>
							<select class="form-control" id="noticeAct" name="noticeAct" th:value="*{noticeAct}">
								<option value="Y">Y</option>
								<option value="N">N</option>
							</select>
						</div>
								
						<div class="form-group">
								<label for="noticeRegDate">등록일</label>
								<input type="text" class="form-control" id="noticeRegDate" name="noticeRegDate" th:value="${currentDate}" readonly="readonly" />
						</div>	
								
							
							
							
							<!-- 첨부파일 -->
							
							
							
						
						<button type="submit" class="btn btn-primary">등록</button>
						<button type="button" class="btn btn-secondary" onclick="location.href='/platform/board/noticeList'">취소</button>
							
					</form>
				</div>
			</div>
		</div>
	</th:block>
	
	<th:block layout:fragment="customJsFIle">
	
	</th:block>

</html>