<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{platform/layout/default}">

	<head>
		<!-- Datatables -->
	    <link th:href="@{/platform/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css}" rel="stylesheet">
	    <link th:href="@{/platform/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css}" rel="stylesheet">
	    <link th:href="@{/platform/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css}" rel="stylesheet">
	    <link th:href="@{/platform/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css}" rel="stylesheet">
	    <link th:href="@{/platform/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css}" rel="stylesheet">
	
		<style type="text/css">
			.control-label{
					text-align: center !important;
					background-color: #f8f8f8 !important;
					padding-bottom: 8px !important;	
				}

		</style>
	</head>

	<th:block layout:fragment="customContent">
	
		<!-- search start -->
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>
							검색 <small>search form</small>
						</h2>
						<ul class="nav navbar-right panel_toolbox">
							<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
									<i class="fa fa-wrench"></i></a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="#">Settings 1</a></li>
									<li><a href="#">Settings 2</a></li>
								</ul>
							</li>
							<li><a class="close-link"><i class="fa fa-close"></i></a></li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<br>
						<form id="demo-form2" class="form-horizontal form-label-left" >
							<div class="form-group">
								<div class="col-md-2 col-sm-2 col-xs-0"></div>
								<label for="searchItem" class="control-label col-md-2 col-sm-2 col-xs-12">검색</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input id="searchItem" class="form-control col-md-6 col-sm-6 col-xs-12" type="text" name="middle-name">
								</div>
								<div class="col-md-2 col-sm-2 col-xs-0"></div>
							</div>

						<div class="form-group">
								<div class="col-md-2 col-sm-2 col-xs-0"></div>
								<label class="control-label col-md-2 col-sm-2 col-xs-12">신고 유형</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<select class="form-control text-center searchCate">
										<option value="욕설/인신공격" th:selected="${selectedCategory == '욕설/인신공격'}">욕설/인신공격</option>
										<option value="홍보/상업성" th:selected="${selectedCategory == '홍보/상업성'}">홍보/상업성</option>
										<option value="음란/선정성" th:selected="${selectedCategory == '음란/선정성'}">음란/선정성</option>
										<option value="같은 내용 도배" th:selected="${selectedCategory == '같은 내용 도배'}">같은 내용 도배</option>
										<option value="부적절한 콘텐츠" th:selected="${selectedCategory == '부적절한 콘텐츠'}">부적절한 콘텐츠</option>
										<option value="스팸 또는 광고" th:selected="${selectedCategory == '스팸 또는 광고'}">스팸 또는 광고</option>
										<option value="개인정보 노출" th:selected="${selectedCategory == '개인정보 노출'}">개인정보 노출</option>
										<option value="권리침해 신고" th:selected="${selectedCategory == '권리침해 신고'}">권리침해 신고</option>
										<option value="기타" th:selected="${selectedCategory == '기타'}">기타</option>
									</select>
								</div>
								<div class="col-md-2 col-sm-2 col-xs-0"></div>
							</div>

							<div class="ln_solid"></div>
							<div class="form-group">
								<div class="col-md-12 col-sm-12 col-xs-12 text-center">
									<button class="btn btn-success btn-lg searchBtn" type="button">검색</button>
									<button type="reset" class="btn btn-dark btn-lg" onclick="location.href='/platform/board/reportList'">초기화</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- search end -->
		
		<!-- grid table start -->
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_content">
						<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
							<thead>
								<tr>
									<th>번호</th>
									<th>신고자</th>
									<th>카테고리</th>
									<th>게시글 및 댓글 번호</th>
									<th>내용</th>
									<th>신고일자</th>
									<th>피신고자</th>
									<th>승인자</th>
									<th>승인여부</th>
									<th>승인일자</th>
									<th>승인</th>
								</tr>
							</thead>
							<tbody>
								<tr th:unless="${reportList != null}">
									<td colspan="11" class="text-center">등록된 신고내역이 없습니다.</td>
								</tr>
								<tr th:if="${reportList != null}" th:each="r : ${reportList}">
									<td th:text="${r.reportNum}"></td>
									<td th:text="${r.reportId}"></td>
									<td th:text="${r.category.reportCategoryName}"></td>
									<td th:text="${r.postCmntNum}"></td>
									<td th:text="${r.reportContent}"></td>
									<td th:text="${r.reportDate}"></td>
									<td th:text="${r.reportedId}"></td>
									<td th:text="${r.approveId}"></td>
									<td th:text="${r.reportApprove}"></td>
									<td th:text="${r.approveDate}"></td>
									<td>
										<button type="button" id="changeApprove" name="reportApprove" data-action="update" class="btn btn-primary btn-xs approveBtn" th:attr="data-report-num=${r.reportNum}">승인</button>
										<!-- <a href="#">승인</a>  -->
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- grid table end -->
	</th:block>
	
	
	<th:block layout:fragment="customJsFile">
		<!-- Datatables -->
	    <script th:src="@{/platform/vendors/datatables.net/js/jquery.dataTables.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-buttons/js/buttons.flash.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-buttons/js/buttons.html5.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-buttons/js/buttons.print.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js}"></script>
	    <script th:src="@{/platform/vendors/datatables.net-scroller/js/dataTables.scroller.min.js}"></script>
	    <script th:src="@{/platform/vendors/jszip/dist/jszip.min.js}"></script>
	    <script th:src="@{/platform/vendors/pdfmake/build/pdfmake.min.js}"></script>
	    <script th:src="@{/platform/vendors/pdfmake/build/vfs_fonts.js}"></script>
	    <script th:src="@{/platform/js/search/search.js}"></script>
	</th:block>
	
	
	<th:block layout:fragment="customJs">
		<script>
		<!-- 카테고리별 검색 -->
			    $(document).ready(function(){
			        $('#searchItem').on('keyup', function(){
			            const searchValue = $(this).val().toLowerCase();
			            $('#datatable-responsive tbody tr').filter(function(){
			                $(this).toggle($(this).text().toLowerCase().indexOf(searchValue) > -1);
			            });
			        });
			        
			        $(document).on('click','.searchBtn', function(){
			            const movePage = $('.searchCate').val(); 
			            if(movePage) location.href = '/platform/board/reportList?category=' + movePage;
			        });
		
			    });
			    
			    
			    
			    function confirmApproe(element) {
			    	var reportNum = element.getAttribute("data-report-num");
			    	if (confirm("승인하시겠습니까?")) {
			    		$.ajax({
			    			type: "POST",
			    			url: "/platform/board/approveReport",
			    			data: { reportNum: reportNum },
			    			success: function(response) {
			    				if (response.success) {
			    					alert(response.message);
			    					location.reload();
			    				} else {
			    					alert(response.message);
			    				}
			    			},
			    			error: function() {
			    				alert("승인 처리 중 오류가 발생했습니다.");
			    			}
			    		});
			    	}
			    }

			    $(document).on('click', '.approveBtn', function() {
			    	confirmApproe(this);
			    });
	
		</script>
	</th:block>
</html>