<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart.ks50team01.user.board.mapper.UCommunityMapper">

	<resultMap 		id="postResultMap" 			type="UCommunity">
		<id 		property="postNum" 			column="PST_NO" />
		<result 	property="postRowNum" 		column="ROW_NUM" />
		<result 	property="postRegId" 		column="REG_MBR_ID" />
		<result 	property="postCateNum" 		column="PST_CTGRY_NO" />
		<result 	property="postTitle"		column="PST_TTL" />
		<result 	property="postContent"		column="PST_CN" />
		<result 	property="postInqCnt" 		column="PST_INQ_CNT" />
		<result 	property="commentTotal" 	column="PST_CMNT_TOTAL" />
		<result 	property="postLikeTotal" 	column="PST_LIKE_TOTAL" />
		<result 	property="postDislikeTotal" column="PST_DISLIKE_TOTAL" />
		<result 	property="postReportTotal" 	column="PST_REPT_TOTAL" />
		<result 	property="postAct" 			column="ACT_YN" />
		<result 	property="postRegDate" 		column="REG_YMD" />
		<result 	property="postMdfDate" 		column="MDFCN_YMD" />
		<result 	property="postDelDate" 		column="DEL_YMD" />
		<result 	property="isNew" 			column="POST_NEW" />
		
		<!-- 1:1 association -->
		<association 	property="category" 				javaType="UCategory">
			<id 		property="postCategoryNum" 			column="PST_CTGRY_NO"/>
			<result 	property="postCategoryRegId" 		column="REG_PF_ID"/>
			<result 	property="postCategoryName" 		column="PST_CTGRY_NM"/>
			<result 	property="postCategoryMdfId" 		column="MDFCN_PF_ID"/>
			<result 	property="postCateActive" 			column="ACT_YN"/>
			<result 	property="postCategoryRegDate" 		column="REG_YMD"/>
			<result 	property="postCategoryMdfDate" 		column="MDFCN_YMD"/>
		</association>
		
		
		<!-- 1:N collection -->
		<collection  	property="commentList" 			ofType="UComment">
			<id 		property="commentNum" 			column="PST_CMNT_NO"/>
			<result 	property="commentRegId" 		column="REG_MBR_ID"/>
			<result 	property="commentContent" 		column="PST_CMNT_CN"/>
			<result 	property="commentlikeTotal" 	column="PST_CMNT_LIKE_TOTAL"/>
			<result 	property="commentDislikeTotal" 	column="PST_CMNT_DISLIKE_TOTAL"/>
			<result 	property="commentReportTotal" 	column="PST_CMNT_REPT_TOTAL"/>
			<result 	property="commentAct" 			column="ACT_YN"/>
			<result 	property="commentRegDate" 		column="REG_YMD"/>
			<result 	property="commentMdfDate" 		column="MDFCN_YMD"/>
			<result 	property="commentDelDate" 		column="DEL_YMD"/>
		</collection>
		
		
	</resultMap>
	
	<resultMap 			type="UComment" 				id="CommentResultMap">
			<id 		property="commentNum" 			column="PST_CMNT_NO"/>
			<result 	property="commentRegId" 		column="REG_MBR_ID"/>
			<result 	property="postNum" 				column="PST_NO"/>
			<result 	property="commentContent" 		column="PST_CMNT_CN"/>
			<result 	property="commentlikeTotal" 	column="PST_CMNT_LIKE_TOTAL"/>
			<result 	property="commentDislikeTotal" 	column="PST_CMNT_DISLIKE_TOTAL"/>
			<result 	property="commentReportTotal" 	column="PST_CMNT_REPT_TOTAL"/>
			<result 	property="commentAct" 			column="ACT_YN"/>
			<result 	property="commentRegDate" 		column="REG_YMD"/>
			<result 	property="commentMdfDate" 		column="MDFCN_YMD"/>
			<result 	property="commentDelDate" 		column="DEL_YMD"/>
	</resultMap>

	<resultMap 		type="UCategory" 					id="categoryResultMap">
		<id 		property="postCategoryNum" 			column="PST_CTGRY_NO"/>
		<result 	property="postCategoryRegId" 		column="REG_PF_ID"/>
		<result 	property="postCategoryName" 		column="PST_CTGRY_NM"/>
		<result 	property="postCategoryMdfId" 		column="MDFCN_PF_ID"/>
		<result 	property="postCateActive" 			column="ACT_YN"/>
		<result 	property="postCategoryRegDate" 		column="REG_YMD"/>
		<result 	property="postCategoryMdfDate" 		column="MDFCN_YMD"/>
	</resultMap>

	<select id="getSearchList" parameterType="String" resultMap="postResultMap">
		<![CDATA[
	 	SELECT
			ROW_NUMBER() OVER(ORDER BY CAST(SUBSTRING_INDEX(P.PST_NO, 'PST_', -1) AS UNSIGNED)) AS ROW_NUM,
			P.PST_NO, 
			P.REG_MBR_ID,
			C.PST_CTGRY_NO, 
			C.PST_CTGRY_NM,
			P.PST_TTL, 
			P.PST_CN, 
			P.PST_INQ_CNT, 
			P.PST_LIKE_TOTAL, 
			P.PST_DISLIKE_TOTAL, 
			P.PST_REPT_TOTAL, 
			P.ACT_YN, 
			P.REG_YMD, 
			P.MDFCN_YMD, 
			P.DEL_YMD,
			COUNT(PC.PST_CMNT_NO) AS PST_CMNT_TOTAL,
			IF(DATEDIFF(NOW(), P.REG_YMD) < 7, TRUE, FALSE) AS POST_NEW
		FROM 
			POST AS P
			INNER JOIN
			POST_CATEGORY AS C
			ON
			P.PST_CTGRY_NO = C.PST_CTGRY_NO
			LEFT JOIN 
			POST_COMMENT AS PC
			ON 
			P.PST_NO = PC.PST_NO
		GROUP BY P.PST_NO
		ORDER BY P.REG_YMD DESC;
		]]>
		<where>
			<if test="searchValue != null and searchValue != ''">
				${searchKey} LIKE CONCAT('%', #{searchValue}, '%')
			</if>
		</where>
	</select>
	
	
	
	<select id="getPostList" resultMap="postResultMap">
		/* 게시글 리스트 조회 */
		<![CDATA[
	 	SELECT
			ROW_NUMBER() OVER(ORDER BY CAST(SUBSTRING_INDEX(P.PST_NO, 'PST_', -1) AS UNSIGNED)) AS ROW_NUM,
			P.PST_NO, 
			P.REG_MBR_ID,
			C.PST_CTGRY_NO, 
			C.PST_CTGRY_NM,
			P.PST_TTL, 
			P.PST_CN, 
			P.PST_INQ_CNT, 
			P.PST_LIKE_TOTAL, 
			P.PST_DISLIKE_TOTAL, 
			P.PST_REPT_TOTAL, 
			P.ACT_YN, 
			P.REG_YMD, 
			P.MDFCN_YMD, 
			P.DEL_YMD,
			COUNT(PC.PST_CMNT_NO) AS PST_CMNT_TOTAL,
			IF(DATEDIFF(NOW(), P.REG_YMD) < 7, TRUE, FALSE) AS POST_NEW
		FROM 
			POST AS P
			INNER JOIN
			POST_CATEGORY AS C
			ON
			P.PST_CTGRY_NO = C.PST_CTGRY_NO
			LEFT JOIN 
			POST_COMMENT AS PC
			ON 
			P.PST_NO = PC.PST_NO
		GROUP BY P.PST_NO
		ORDER BY P.REG_YMD DESC;
		]]>
	</select>
	

    
   	<!-- 게시글 카테고리 리스트 조회 -->
    <select id="getPostCateList" resultMap="categoryResultMap">
    	/* 게시글 카테고리 리스트 조회 */
        SELECT 
			PST_CTGRY_NO,
			PST_CTGRY_NM
		FROM 
			POST_CATEGORY AS PC
		WHERE 
			PC.ACT_YN = 'Y';
    </select>
    
    
    <!-- 게시글 번호로 해당 게시글의 댓글 수 조회 -->
    <select id="getCommentCntByPostNum" resultType="int" parameterType="string">
        SELECT 
        	COUNT(*) 
        FROM 
        	POST_COMMENT
        WHERE 
        	PST_NO = #{postNum};
    </select>
    
    
    
    <!-- 게시글 등록 -->
    <insert id="postAdd" parameterType="UCommunity">
    	<selectKey keyProperty="postNum" resultType="String" order="BEFORE">
    		/* 게시글 번호 자동증가 */
    		SELECT
				CONCAT(
							'PST_', 
							MAX(CAST(SUBSTRING_INDEX(P.PST_NO, 'PST_', -1) AS UNSIGNED)) + 1
						) AS postNum
			FROM
				POST AS P
    	</selectKey>
        INSERT INTO POST (PST_NO, REG_MBR_ID, PST_CTGRY_NO, PST_TTL, PST_CN, REG_YMD)
        VALUES (#{postNum}, #{postRegId}, #{category.postCategoryNum}, #{postTitle}, #{postContent}, NOW())
    </insert>


    
    
	<!-- getPostDetail 쿼리 정의 -->
	<select id="getPostDetail" resultMap="postResultMap">
		/* 게시글 번호로 게시글 상세 조회 */
		SELECT
			P.PST_NO, 
			P.REG_MBR_ID,
			P.PST_CTGRY_NO,
			C.PST_CTGRY_NM,
			P.PST_TTL, 
			P.PST_CN, 
			COUNT(M.PST_CMNT_NO) OVER () AS PST_CMNT_TOTAL,
			P.PST_INQ_CNT,  
			P.PST_LIKE_TOTAL, 
			P.PST_DISLIKE_TOTAL, 
			P.PST_REPT_TOTAL, 
			P.ACT_YN, 
			P.REG_YMD, 
			P.MDFCN_YMD, 
			P.DEL_YMD,
			M.PST_CMNT_NO,
			M.REG_MBR_ID,
			M.PST_CMNT_CN,
			M.PST_CMNT_LIKE_TOTAL,
			M.PST_CMNT_DISLIKE_TOTAL,
			M.PST_CMNT_REPT_TOTAL,
			M.ACT_YN,
			M.REG_YMD,
			M.MDFCN_YMD,
			M.DEL_YMD
		FROM
			POST AS P
			INNER JOIN
			POST_CATEGORY AS C
			ON
			P.PST_CTGRY_NO = C.PST_CTGRY_NO
			LEFT JOIN
			POST_COMMENT AS M
			ON
			P.PST_NO = M.PST_NO
	    WHERE
	        P.PST_NO = #{postNum};
	</select>
	
	
	<!-- 게시글 번호로 게시글 정보 조회  -->
	<select id="getPostInfoByNum" resultMap="postResultMap" parameterType="String">
		SELECT
			P.PST_NO, 
			P.REG_MBR_ID, 
			P.PST_CTGRY_NO,
			C.PST_CTGRY_NM,
			P.PST_TTL, 
			P.PST_CN, 
			COUNT(M.PST_CMNT_NO) OVER () AS PST_CMNT_TOTAL,
			P.PST_INQ_CNT,  
			P.PST_LIKE_TOTAL, 
			P.PST_DISLIKE_TOTAL, 
			P.PST_REPT_TOTAL, 
			P.ACT_YN, 
			P.REG_YMD, 
			P.MDFCN_YMD, 
			P.DEL_YMD,
			M.PST_CMNT_NO,
			M.REG_MBR_ID,
			M.PST_CMNT_CN,
			M.PST_CMNT_LIKE_TOTAL,
			M.PST_CMNT_DISLIKE_TOTAL,
			M.PST_CMNT_REPT_TOTAL,
			M.ACT_YN,
			M.REG_YMD,
			M.MDFCN_YMD,
			M.DEL_YMD
		FROM
			POST AS P
			INNER JOIN
			POST_CATEGORY AS C
			ON
			P.PST_CTGRY_NO = C.PST_CTGRY_NO
			LEFT JOIN
			POST_COMMENT AS M
			ON
			P.PST_NO = M.PST_NO
		WHERE
			P.PST_NO = #{postNum};
	</select>
	
	
	
	<select id="getCommentByPostNum" resultMap="CommentResultMap">
		/* 해당 게시글의 모든 댓글 조회*/
        SELECT
        	PST_CMNT_NO,
        	REG_MBR_ID,
        	PST_CMNT_CN,
        	PST_CMNT_LIKE_TOTAL,
        	PST_CMNT_DISLIKE_TOTAL,
        	PST_CMNT_REPT_TOTAL,
        	ACT_YN,
        	REG_YMD,
        	MDFCN_YMD,
        	DEL_YMD
        FROM 
        	POST_COMMENT
        WHERE
        	PST_NO = #{postNum};
    </select>
    

	
	<!-- 조회수 증가 -->
    <update id="increaseViewCount" parameterType="String">
        UPDATE 
        	POST
        SET 
        	PST_INQ_CNT = PST_INQ_CNT + 1
        WHERE 
        	PST_NO = #{postNum};
    </update>
    
	    

    
    
    
    
	<update id="postModify" parameterType="UCommunity">
		/* 게시글 수정 */
		UPDATE 
			POST
		SET
			PST_TTL = #{postTitle},
			PST_CN = #{postContent},
			PST_CTGRY_NO = #{postCateNum},
			MDFCN_YMD = NOW()
		WHERE
			PST_NO = #{postNum};
	</update>
	
	
	
	<delete id="postRemove" parameterType="UCommunity">
		/* 게시글 삭제 */
	    DELETE FROM 
	    	POST 
	    WHERE 
	    	PST_NO = #{postNum};
	</delete>
	
	
	
	<!-- 댓글 등록 -->
	<insert id="commentSave" parameterType="UComment">
        <selectKey keyProperty="commentNum" resultType="String" order="BEFORE">
            SELECT
                CONCAT(
                    'PST_CMNT_', 
                    COALESCE(MAX(CAST(SUBSTRING_INDEX(PST_CMNT_NO, 'PST_CMNT_', -1) AS UNSIGNED)), 0) + 1
                ) AS commentNum
            FROM
                POST_COMMENT
        </selectKey>
        INSERT INTO POST_COMMENT (PST_CMNT_NO, REG_MBR_ID, PST_NO, PST_CMNT_CN, ACT_YN, REG_YMD)
        VALUES (#{commentNum}, #{commentRegId}, #{postNum}, #{commentContent}, 'Y', NOW());
    </insert>



    <select id="getPostCommentList" resultMap="CommentResultMap">
        SELECT
            PST_CMNT_NO,
            REG_MBR_ID,
            PST_NO,
            PST_CMNT_CN,
            PST_CMNT_LIKE_TOTAL,
            PST_CMNT_DISLIKE_TOTAL,
            PST_CMNT_REPT_TOTAL,
            ACT_YN,
            REG_YMD,
            MDFCN_YMD,
            DEL_YMD
        FROM 
            POST_COMMENT
        WHERE
            PST_NO = #{postNum};
    </select>
    
	
</mapper>