<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{user/layout/default}">

	<head>
		<title>자주 묻는 질문</title>
		<style>
		table thead tr {
			height: 50px !important;
			font-size: 18px;
			font-weight: 900;
		}
		
		table tbody tr {
			height: 50px !important;
			font-size: 18px;
		}
		</style>
		
	</head>
	
	<th:block layout:fragment="customCss">
		<link rel="stylesheet" th:href="@{/user/css/list-style.css}">
		
		<!-- GOOGLE FONT -->
    	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700' rel='stylesheet'>
	</th:block>

	
	<th:block layout:fragment="customPageSection">
		<!-- 드롭다운 메뉴 
		<div class="main-wrapper pages">
			<div class="d-flex align-items-start">
				<div class="dropdown">
					<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">자주 묻는 질문</button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<li><a class="dropdown-item" href="#">계정관리</a></li>
						<li><a class="dropdown-item" href="#">이용문의</a></li>
						<li><a class="dropdown-item" href="#">건의 및 제안</a></li>
						<li><a class="dropdown-item" href="#">결제 및 환불</a></li>
					</ul>
				</div>
			</div> -->

		<div class="main-wrapper pages">
			<div class="flex-grow-1 d-flex justify-content-center">
				<div id="board-search" style="width: 500px;">
					<form class="mb-6" action="index.html" method="post">
						<div class="input-group input-group-sm">
							<input id="searchItem" type="text" class="form-control form-control-sm rounded-0" placeholder="검색어를 입력해주세요." aria-label="Search....">
							<button class="btn bg-primary border-0 rounded-0" type="submit">
								<span class="text-white text-uppercase font-weight-bold">검색</span>
							</button>
						</div>
					</form>
				</div>
			</div>

		<!-- Elements Alerts -->
		<section class="pt-7 pb-9 pt-lg-9 pb-lg-10">
			<div class="container">
				<div class="row">
					<div class="col-xl-12">
						<div class="accordion" id="accordion">
							<!-- th:block 대신에 th:each를 사용하여 반복문 처리 -->
							<div class="card" th:each="l, idx : ${faqList}">
								<div class="card-header" th:id="'heading_' + ${l.faqNum}">
									<h5 class="icon-bg" data-bs-toggle="collapse" th:data-bs-target="'#collapse_' + ${l.faqNum}" aria-expanded="true" th:aria-controls="'collapse_' + ${l.faqNum}">
										<div class="text-capitalize font-weight-medium font-size-base text-dark">
											<!-- 카테고리 뱃지 -->
											<i class="badge rounded-pill bg-primary badge-cate" th:text="${l.faqCate.faqCateType}"></i>
											<!-- 제목 -->
											<a th:text="${l.faqTitle}"></a>
										</div> 
									</h5>
								</div>
								<div th:id="'collapse_' + ${l.faqNum}" class="collapse" th:aria-labelledby="'heading_' + ${l.faqNum}" data-bs-parent="#accordion">
								<!-- <div th:id="'collapse_' + ${l.faqNum}" class="collapse" th:classappend="${(idx == 0)} ? 'show' : ''" th:aria-labelledby="'heading_' + ${l.faqNum}" data-bs-parent="#accordion">  -->
									<div class="card-body">
										<p th:utext="${l.faqContent}"></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
			<!-- 페이징 -->
			<section class="pt-5 pt-md-7">
				<div class="container" style="margin-bottom: 50px">
					<nav aria-label="Page navigation">
						<ul class="pagination justify-content-center align-items-center">
							<li class="page-item">
								<a class="page-link" th:if="${currentPage > 1}" th:href="@{/faq(currentPage=${currentPage - 1})}" tabindex="-1"> 
									<i aria-hidden="true"></i> ◀ 이전 </a>
							</li>
							<li th:each="num : ${#numbers.sequence(startPageNum, lastPageNum)}" class="page-item">
								<a th:if="${num != currentPage}" class="page-link" th:href="@{/faq(currentPage=${num})}" th:text="|${num}|"></a>
							   	<span th:unless="${num != currentPage}"class="page-link current-page" th:text="|[${num}]|"></span> 
							</li>
							<li class="page-item">
								<a th:if="${currentPage < lastPage}" class="page-link" th:href="@{/faq(currentPage=${currentPage + 1})}">다음 ▶ 
								<i aria-hidden="true"></i></a>
							</li>
						</ul>
					</nav>
				</div>
			</section>
		</div>	
	</th:block>


	<th:block layout:fragment="customJsFIle"></th:block>

	<th:block layout:fragment="customJs">
	
		<script>
		
		// 검색
	    $(document).ready(function(){
	        $('#searchItem').on('keyup', function(){
	            const searchValue = $(this).val().toLowerCase();
	            $('.card').filter(function(){
	                const title = $(this).find('.text-capitalize').text().toLowerCase();
	                $(this).toggle(title.includes(searchValue));
	            });
	        });
	    });


	 	// 페이지 로드 시 실행되는 함수
	    document.addEventListener("DOMContentLoaded", function() {
	        const dropdownItems = document.querySelectorAll('.dropdown-item');


	        // 첫 번째 질문이 항상 열린 상태로 유지
	        const firstAccordion = document.querySelector('.accordion .card:first-of-type .collapse');
	        firstAccordion.classList.add('show');
	    });
	    

		</script>

	</th:block>

</html>