<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{user/layout/default}">

	<head>
		<title>게시글 상세 페이지</title>
	</head>
	
	<th:block layout:fragment="customCss">
		<link th:href="@{/user/css/report.css}" rel="stylesheet">
		<link th:href="@{/user/css/postDetail.css}" rel="stylesheet">
		
    	<!-- GOOGLE FONT -->
    	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700' rel='stylesheet'>
	</th:block>

	<th:block layout:fragment="customPageSection">
		<!-- 게시물 내용을 보여주는 컨테이너 -->
		<div class="container post-detail-container">
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
					<div class="post" th:object="${postDetail}">
						<div class="post-header">
							<!-- align-items-start로 변경 -->
						    <div class="d-flex align-items-start">
						    	<!-- 게시글 카테고리 뱃지 -->
						    	<i class="badge rounded-pill bg-primary badge-cate me-2" th:text="*{category.postCategoryName}"></i>
								<!-- 게시글 제목 --> 
								<h2 class="post-title mb-5" th:text="*{postTitle}">게시물 제목</h2>
								<!-- 댓글 수가 0보다 큰 경우에만 댓글 수 뱃지 표시 -->
								<span th:if="${#lists.size(commentList) > 0}" class="badge bg-info comment-badge" th:text="${#lists.size(commentList)}"></span>
							</div>
						</div>
	
						<p class="post-meta">
							<span th:text="'작성자 : ' + *{postRegId}">작성자 아이디</span> <span
								th:text="'등록일 : ' + *{#strings.substring(postRegDate, 0, 10)}">작성일</span>
							<span th:text="'조회수 : ' + *{postInqCnt}">0</span>
						</p>
						<!-- 굵은 직선 추가 -->
						<hr class="my-4">
						<p class="post-content" th:utext="*{postContent}">게시물 내용</p>

<!-- 						<div class="separator1"></div> 굵은 직선 추가
						<div class="separator2"></div> 굵은 직선 추가 -->
		
				<div class="d-flex justify-content-end mt-10">
					<a th:href="@{/community/postModify(postNum=${postDetail.postNum})}" class="btn btn-light-gray btn-sm update-Btn">수정</a>
					<a href="#" th:data-post-num="${postDetail.postNum}" class="btn btn-off-white btn-sm delete-Btn" th:onclick="confirmRemove(this)">삭제</a>
				</div>	
				
					<hr class="my-4">
					</div>
					<div class="comments">
						<!-- 댓글 수 표시 -->
						<h4 class="comment-count" th:text="${#lists.size(commentList)} + '개의 댓글'"></h4>
						<!-- 댓글 목록 -->
						<div class="comment-list">
							<ul style="padding-left: 0rem;">
								<!-- 댓글 출력 및 답글 달기 -->
								<li th:each="l : ${commentList}" class="list-group" th:data-comment-num="${l.commentNum}">
									<div class="comment list-group-item">
										<div class="comment-meta">
											<div class="col-10 d-flex align-items-center">
												<!-- 작성자 아이콘 -->
												<i class="fa fa-user-circle fa-3x text-primary" aria-hidden="true"></i> 
												<span class="comment-author" th:text="${l.commentRegId}">댓글 작성자 아이디</span> 
												<span class="comment-date m-2" th:text="${#strings.substring(l.commentRegDate, 0, 10)}">댓글 작성일</span>
												<!-- 신고 버튼  -->
													<!-- 로그인 상태인 경우 -->
													<th:block th:if="${session.loginId != null}">
														<button type="button" class="btn btn-lg report-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">🚨</button>
													</th:block>
													<!-- 로그인되지 않은 경우 -->
													<th:block th:unless="${session.loginId != null}">
														<button type="button" class="btn btn-lg report-btn" data-bs-toggle="modal" data-bs-target="#login">🚨</button>
													</th:block>
											</div>
											
											
											<!-- 댓글 수정 삭제 버튼 -->
											<div class="col-2">
												<div class="dropdown float-end">
													<button class="btn btn-xs dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="true"></button>
													<ul class="dropdown-menu P-0" aria-labelledby="dropdownMenuButton1">
														<li>
															<a class="dropdown-item small" href="#" onclick="commentModify(event)" th:data-comment-num="${l.commentNum}">
																<i class="fa-solid fa-eraser fa-2x edit-button"></i> 수정
															</a>
														</li>
														<li>
															<a class="dropdown-item small" href="#" onclick="commentRemove(this)" th:data-comment-num="${l.commentNum}">
																<i class="fa-solid fa-trash-can fa-2x delete-button"></i> 삭제
															</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
										
										<!-- 댓글 리스트 출력 -->
										<p class="comment-content" id="commentList" th:text="${l.commentContent}">댓글 내용</p>
	
										<div class="comment-actions">
											<!-- 답글 버튼 -->
												<!-- 로그인 상태인 경우 -->
												<th:block th:if="${session.loginId != null}">
												<button class="btn btn-primary rounded-pill btn-xs reply-btn" data-bs-toggle="modal" data-bs-target="#replyModal">
													<i class="fa fa-reply"></i> 답글
												</button>
												</th:block>
												<!-- 로그인되지 않은 경우 -->
												<th:block th:unless="${session.loginId != null}">
													<button class="btn btn-primary rounded-pill btn-xs reply-btn" data-bs-toggle="modal" data-bs-target="#login">
														<i class="fa fa-reply"></i> 답글
													</button>
												</th:block>

										<!-- 댓글 싫어요 버튼 -->
											<button class="btn btn-outline-danger btn-xs dislike-btn">
												<i class="fa-regular fa-thumbs-down"></i><span
													class="dislike-count">0</span>
											</button>
	
											<!-- 댓글 좋아요 버튼 -->
											<button class="btn btn-outline-primary btn-xs like-btn">
												<i class="fa-regular fa-thumbs-up"></i><span
													class="like-count">0</span>
											</button>
										</div>
									</div>
								</li>
							</ul>
						</div>
	
						<hr class="my-4">
<!-- 						<div class="separator3"></div> 굵은 직선 추가 -->
	
						<!-- 댓글 작성 폼 -->
						<div class="comment-form">
							<h4 class="">댓글 작성</h4>
								<input type="hidden" id="commentRegId" name="commentRegId" th:value="${session.loginId}">
								<textarea class="form-control mb-3" id="commentContent" name="commentContent" rows="5" placeholder="댓글을 입력하세요." required="required"></textarea>
								<input type="hidden" id="postNum" name="postNum" th:value="${postDetail.postNum}">
								<button type="button" class="btn btn-secondary btn-sm cancle-Btn">취소</button>
								<button type="button" class="btn btn-primary btn-sm submit-Btn" onclick="commentWrite()">등록</button>
							<!-- </form> -->
						</div>
						<div class="list-btn">
							<button type="button" class="btn btn-dark list-Btn" onclick="location.href='/community'">목록</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	
							
	
	
	
	
		<!-- Modal -->
		<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="staticBackdropLabel">신고하기</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="btn-group">
						<button type="button" class="btn btn-primary dropdown-toggle px-3" data-bs-toggle="dropdown" aria-expanded="false">신고 유형 선택</button>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item">욕설/인신공격</a></li>
							<li><a class="dropdown-item">홍보/상업성</a></li>
							<li><a class="dropdown-item">음란/선정성</a></li>
							<li><a class="dropdown-item">같은 내용 도배</a></li>
							<li><a class="dropdown-item">부적절한 콘텐츠</a></li>
							<li><a class="dropdown-item">스팸 또는 광고</a></li>
							<li><a class="dropdown-item">개인정보 노출</a></li>
							<li><a class="dropdown-item">권리침해 신고</a></li>
							<li><a class="dropdown-item">기타</a></li>
						</ul>
					</div>
					<div class="modal-body">
						<div class="mb-3">
							<label for="message-text" class="col-form-label">신고 내용:</label>
							<textarea class="form-control" id="message-text" maxlength="100"></textarea>
							<div id="char-count">0/100</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
						<button type="button" class="btn btn-primary">신고</button>
					</div>
				</div>
			</div>
		</div>
	

	
	
	
	
		<!-- 답글 모달 -->
		<div class="modal fade" id="replyModal" tabindex="-1" role="dialog"
			aria-labelledby="replyModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="replyModalLabel">답글 작성</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form>
							<div class="form-group">
								<label for="replyContent">답글 내용</label>
								<textarea class="form-control" id="replyContent" rows="5" placeholder="답글을 입력하세요"></textarea>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">닫기</button>
						<button type="button" class="btn btn-primary" id="saveReplyButton" onclick="saveReply()">저장</button>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 댓글 수정 모달 -->
		<div class="modal fade" id="commentMdfModal" tabindex="-1" aria-labelledby="commentMdfModalLabel" aria-hidden="true">
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-header">
		                <h5 class="modal-title" id="commentMdfModalLabel">댓글 수정</h5>
		                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		            </div>
		            <div class="modal-body">
		                <form id="commentMdfForm">
		                    <div class="form-group">
		                        <label for="commentMdfContent">댓글 내용</label>
		                        <textarea class="form-control" id="commentMdfContent" rows="3" required></textarea>
		                    </div>
		                     <!-- 세션에서 로그인 아이디를 가져오는 부분 -->
                            <input type="hidden" id="loginId" th:value="${session.loginId}" />
		                    <input type="hidden" id="commentNum" th:value="${commentNum}" />
		                    <input type="hidden" id="commentMdfId" th:value="${commentRegId}" />
		                </form>
		            </div>
		            <div class="modal-footer">
		                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
		                <button type="button" class="btn btn-primary" onclick="commentMdfSubmit()">댓글 수정</button>
		            </div>
		        </div>
		    </div>
		</div>
		
	</th:block>

	<th:block layout:fragment="customJsFIle">
	    <script src="https://kit.fontawesome.com/8374b337d7.js" crossorigin="anonymous"></script>
	</th:block>

	<th:block layout:fragment="customJs">
		<script th:inline="javascript">
		        
	</script>
	
	
		<script>
		    document.addEventListener('DOMContentLoaded', function () {
		        let dropdownButton = document.querySelector('.modal-dialog .dropdown-toggle');
		        let dropdownMenuItems = document.querySelectorAll('.modal-dialog .dropdown-menu .dropdown-item');
	
		        dropdownMenuItems.forEach(function (item) {
		            item.addEventListener('click', function () {
		                let selectedText = item.textContent;
		                if (dropdownButton.textContent !== selectedText) {
		                    dropdownButton.textContent = selectedText;
		                }
		            });
		        });
	
		        dropdownButton.addEventListener('click', function () {
		            if (dropdownButton.textContent === "신고 유형 선택") {
		                return;
		            } else {
		                dropdownButton.textContent = "신고 유형 선택";
		            }
		        });
		    });
		
		
			function toggleDropdownMenu() {
				const dropdownMenu = document.getElementById('dropdown-menu');
				dropdownMenu.classList.toggle('show');
			}



			// 클릭 이벤트가 발생한 곳이 아닌 다른 곳을 클릭하면 드롭다운 메뉴를 닫습니다.
			document.addEventListener('click', function(event) {
				const dropdownMenu = document.getElementById('dropdown-menu');
				if (!event.target.matches('.fa-solid.fa-ellipsis-vertical') && dropdownMenu != null) {
					dropdownMenu.classList.remove('show');
				}
			});

		

    
    
		    // 게시물, 댓글 좋아요 싫어요 버튼 클릭 시 숫자 증가
		    document.addEventListener("DOMContentLoaded", function() {
		        const buttons = document.querySelectorAll('.like-btn, .dislike-btn');
		
		        buttons.forEach(function(button) {
		            button.addEventListener('click', function(event) {
		                const countElement = this.querySelector('.like-count') || this.querySelector('.dislike-count');
		                let count = parseInt(countElement.textContent);
		                count++;
		                countElement.textContent = count;
		            });
		        });
		    });
		    
		    
		    
		 // 좋아요 버튼 클릭 시 호출되는 함수
		    function likeButtonClick(postId) {
		        // AJAX 요청을 보냄
		        var xhr = new XMLHttpRequest();
		        xhr.open('POST', '/like/' + postId, true);
		        xhr.setRequestHeader('Content-Type', 'application/json');
		        xhr.onreadystatechange = function() {
		            if (xhr.readyState === XMLHttpRequest.DONE) {
		                if (xhr.status === 200) {
		                    // 성공적으로 요청이 처리되면 화면을 업데이트
		                    var responseData = JSON.parse(xhr.responseText);
		                    document.getElementById('like-count').textContent = responseData.likeCount;
		                } else {
		                    // 요청이 실패하면 에러 메시지를 표시
		                    console.error('Request failed:', xhr.status);
		                }
		            }
		        };
		        xhr.send();
		    }

		    

		    // 답글 저장
		    const saveReply = () => {
		        const replyContent = document.getElementById("replyContent").value;
		        const postNum = document.getElementById("postNum").value;
		        const parentCommentId = document.querySelector("#replyModal").dataset.parentCommentId;

		        console.log("답글 내용: ", replyContent);
		        console.log("게시글 번호: ", postNum);
		        console.log("부모 댓글 ID: ", parentCommentId);

		        $.ajax({
		            url: "/community/replySave", // 서버 요청 주소
		            type: "POST",
		            dataType: 'json',
		            data: {
		                'postNum': postNum,
		                'replyContent': replyContent,
		                'parentCommentId': parentCommentId
		            },
		            success: function(res) {
		                alert('답글이 작성되었습니다.');
		                $('#replyContent').val(''); // 텍스트박스 초기화
		                location.reload();
		            },
		            error: function(err) {
		                console.log("답글 작성 중 오류 발생", err);
		                alert('답글 작성 중 오류가 발생했습니다.');
		            }
		        });
		    }

		    // 대댓글 모달창 열 때 부모 댓글 ID 저장
		    document.querySelectorAll('.reply-btn').forEach(button => {
		        button.addEventListener('click', function(event) {
		            const parentCommentId = event.target.closest('li').dataset.commentId;
		            document.querySelector("#replyModal").dataset.parentCommentId = parentCommentId;
		        });
		    });
		    
		    
			</script>
			
			
		<script th:inline="javascript">
			<!-- 게시글 삭제 -->	    
		    function confirmRemove(element) {
		        var postNum = element.getAttribute('data-post-num');
		        var confirmation = confirm("정말 삭제하시겠습니까?");
		        
		        if (confirmation) {
		            // 확인을 누르면 삭제 동작을 수행하기 위해 POST 요청
		            postRemove(postNum);
		        } else {
		            console.log("삭제 취소: " + postNum);
		        }
		    }
		
		    function postRemove(postNum) {
		        // POST 요청을 보내기 위해 form을 생성
		        var form = document.createElement('form');
		        form.setAttribute('method', 'post');
		        form.setAttribute('action', '/community/postRemove');
		        form.style.display = 'none'; // form을 보이지 않도록 설정
		
		        // postNum을 form에 추가
		        var input = document.createElement('input');
		        input.setAttribute('type', 'hidden');
		        input.setAttribute('name', 'postNum');
		        input.setAttribute('value', postNum);
		        form.appendChild(input);
		
		        // form을 body에 추가하고 submit
		        document.body.appendChild(form);
		        form.submit();
		    }
		    
			//댓글 작성
			const commentWrite = () => {
			    const commentRegId = document.getElementById("commentRegId").value;
			    const commentContent = document.getElementById("commentContent").value;
			    const postNum = document.getElementById("postNum").value;
			    
			    if (!commentRegId) {
			        // 로그인 상태가 아니면 로그인 모달 창을 띄움
			        const loginModal = new bootstrap.Modal(document.getElementById('login'));
			        loginModal.show();
			        return; 
			    }
			    
			    console.log("작성자 : ", commentRegId);
			    console.log("내용 : ", commentContent);
			    console.log("게시글 번호 : ", postNum);
			    
			    $.ajax({
			        url: "/community/commentSave", // 서버 요청 주소
			        type: "POST",
			    	dataType:'json',
			        data: {
			            'postNum': postNum,
			            'commentRegId': commentRegId,
			            'commentContent': commentContent
			        },
			        success: function(res) {
			            alert('댓글이 작성되었습니다.');
			            $('#commentContent').val(''); // 텍스트박스 초기화
			            location.reload();
			            //loadComments(); // 댓글 목록 새로고침 함수 호출 (필요 시)
			        },
			        error: function(err) {
			            console.log("댓글 작성 중 오류 발생", err);
			            alert('댓글 작성 중 오류가 발생했습니다.');
			        }
			    });
			}
			
			
			// 댓글 수정
			function commentModify(event) {
			    // 사용자 로그인 여부 확인 (세션에서 가져온 값 사용)
			    const loginId = document.getElementById("loginId").value;
			    if (!loginId) {
			        // 로그인되지 않은 경우 로그인 모달 창 띄우기
			        const loginModal = new bootstrap.Modal(document.getElementById('login'));
			        loginModal.show();
			        return;
			    }
			    
			    const listItem = event.target.closest('.list-group-item');
			    if (!listItem) return;

		        var commentNum = event.target.closest('a').getAttribute('data-comment-num');
			    const commentContent = listItem.querySelector('.comment-content').textContent;
			    const commentRegId = listItem.querySelector('.comment-author').textContent;

			    // 댓글 번호와 댓글 내용을 출력
			    console.log('댓글 번호:', commentNum);
			    console.log("댓글 내용:", commentContent);

			    // 로그인한 사용자와 댓글 작성자를 비교하여 본인의 댓글인지 확인
			    if (loginId !== commentRegId) {
			        // 본인의 댓글이 아니면 알림 표시
			        alert("본인이 작성한 댓글만 수정할 수 있습니다.");
			        return;
			    }

			    // 수정 모달 폼에 댓글 내용과 작성자 설정
			    $('#commentMdfContent').val(commentContent);
			    $('#commentMdfId').val(commentRegId);
			    // 모달 내의 hidden input 필드에 commentNum 값을 설정
			    document.getElementById('commentNum').value = commentNum;
			    $('#commentMdfModal').modal('show');
			}
			    
			function commentMdfSubmit() {
			    const commentNum = document.getElementById('commentNum').value;
			    const commentContent = document.getElementById('commentMdfContent').value;

			    $.ajax({
			        url: "/community/commentModify",
			        type: "POST",
			        data: JSON.stringify({ commentNum: commentNum, commentContent: commentContent }),
			        contentType: "application/json",
			        success: function(res) {
			            if (res.status === "success") {
			                alert('댓글이 수정되었습니다.');
			                location.reload();
			            } else {
			                alert(res.message);
			            }
			        },
			        error: function(err) {
			            console.log("댓글 수정 중 오류 발생", err);
			            alert('댓글 수정 중 오류가 발생했습니다.');
			        }
			    });
			}
		    

			
			
			
			// 댓글 삭제
			function commentRemove(commentNum) {
			    // 사용자 로그인 여부 확인 (세션에서 가져온 값 사용)
			    const loginId = document.getElementById("loginId").value;
			    if (!loginId) {
			        // 로그인되지 않은 경우 로그인 모달 창 띄우기
			        const loginModal = new bootstrap.Modal(document.getElementById('login'));
			        loginModal.show();
			        return;
			    }
			    
			    const listItem = event.target.closest('.list-group-item');
			    if (!listItem) return;

			    var commentNum = event.target.closest('a').getAttribute('data-comment-num');
			    const commentRegId = listItem.querySelector('.comment-author').textContent;

			    console.log('댓글 번호:', commentNum);
			    
			    // 로그인한 사용자와 댓글 작성자를 비교하여 본인의 댓글인지 확인
			    if (loginId !== commentRegId) {
			        // 본인의 댓글이 아니면 알림 표시
			        alert("본인이 작성한 댓글만 삭제할 수 있습니다.");
			        return;
			    } else {
			        // 댓글 작성자와 세션 아이디가 같으면 삭제 함수를 호출
			        const confirmation = confirm("정말 삭제하시겠습니까?");
			        if (confirmation) {
			            // 삭제 동작을 수행하기 위해 삭제 함수 호출
			            $.ajax({
			                type: 'POST',
			                url: '/community/commentRemove',
			                contentType: 'application/json',
			                dataType: 'json',
			                data: JSON.stringify({
			                    commentNum: commentNum,
			                }),
			                success: function(response) {
			                    // 삭제가 성공한 경우
			                    alert('댓글이 삭제되었습니다.');
			                    // 삭제된 댓글을 화면에서 제거
			                    listItem.remove();
			                },
			                error: function(error) {
			                    console.error('댓글 삭제 중 오류 발생:', error);
			                    alert('댓글 삭제에 실패했습니다. 다시 시도해 주세요.');
			                }
			            });
			        }
			    }
			}


		    
		</script>
		
		
		
	</th:block>
</html>