<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{user/layout/default}">

	<head>
		<title>1:1문의 상세 페이지</title>
	</head>

	<th:block layout:fragment="customCss">
		<link th:href="@{/user/css/qnaDetail.css}" rel="stylesheet">
		<link th:href="@{/user/css/report.css}" rel="stylesheet">
		
    	<!-- GOOGLE FONT -->
    	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700' rel='stylesheet'>
	</th:block>

	<th:block layout:fragment="customPageSection">
		<!-- 1:1문의 내용을 보여주는 컨테이너 -->
		<div class="container post-detail-container">
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
					<div class="qna" th:object="${qnaDetail}">
						<div class="post-header">
							<div class="d-flex align-items-start">
								<!-- QNA 카테고리 뱃지 -->
						        <i class="badge rounded-pill bg-primary badge-cate me-2" th:text="*{category.qnaCategoryName}"></i>
								<!-- QNA 제목 --> 
								<h2 class="qna-title mb-4" th:text="*{qnaTitle}">1:1문의 제목</h2>
							</div>
						</div>
						<p class="post-meta">
							<span th:text="'작성자 : ' + *{qnaRegId}">작성자 아이디</span> <span
								th:text="'등록일 : ' + *{#strings.substring(qnaRegDate, 0, 10)}">작성일</span>
						</p>
						<!-- 굵은 직선 추가 -->
						<hr class="my-4">
						<p class="qna-content" th:utext="*{qnaContent}">1:1문의 내용</p>

					<div class="d-flex justify-content-end mt-10">
						<a th:href="@{/qna/qnaModify(qnaNum=${qnaDetail.qnaNum})}" class="btn btn-light-gray btn-sm update-Btn">수정</a>
						<a href="#"th:data-post-num="${qnaDetail.qnaNum}" class="btn btn-off-white btn-sm delete-Btn" th:onclick="confirmDelete(this)">삭제</a>
					</div>

					<!-- 굵은 직선 추가 -->
						<hr class="my-4">
						
						
<!-- 						qna 답변
						<i class="badge rounded-pill bg-success badge-cate mb-3" th:if="*{qnaAnswer}" th:text="'답변 완료'"></i>
						<div class="col-10 d-flex align-items-center">
							<i class="fa fa-user-circle fa-3x text-primary" aria-hidden="true"></i>
							<span class="comment-author" th:text="*{qnaAnswer.answerRegId}">답변자 아이디</span>
							<span class="comment-date m-2" th:text="*{#strings.substring(qnaAnswer.answerRegDate, 0, 10)}">답변일</span>
						</div>
						<p class="answer-content" th:text="*{qnaAnswer.answerContent}">답변 내용</p>
						굵은 직선 추가
						<hr class="my-4"> -->
						
						<!-- qna 답변 -->
						<th:block th:if="*{qnaAnswer.answerContent}">
							<i class="badge rounded-pill bg-success badge-cate mb-3" th:text="'답변 완료'"></i>
							<div class="col-10 d-flex align-items-center">
								<i class="fa fa-user-circle fa-3x text-primary" aria-hidden="true"></i>
								<span class="comment-author" th:text="*{qnaAnswer.answerRegId}">답변자 아이디</span>
								<span class="comment-date m-2" th:text="*{#strings.substring(qnaAnswer.answerRegDate, 0, 10)}">답변일</span>
							</div>
							<p class="answer-content" th:utext="*{qnaAnswer.answerContent}">답변 내용</p>
							<!-- 굵은 직선 추가 -->
							<hr class="my-4">
						</th:block>
						<th:block th:if="*{qnaAnswer.answerContent == null}">
							<p class="no-answer">등록된 답변이 없습니다.</p>
							<hr class="my-4">
						</th:block>
	
						<div class="list-btn">
							<button type="button" class="btn btn-dark list-btn" onclick="location.href='/qna'">목록</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>
	
	

	<th:block layout:fragment="customJs">
		<script>
				// 뒤로 가기 함수
				function goBack() {
					window.history.back();
				}
		</script>
		

			
	<!-- 1:1문의 삭제 -->	    
	<script th:inline="javascript">
	    function confirmDelete(element) {
	        var qnaNum = element.getAttribute('data-post-num');
	        var confirmation = confirm("정말 삭제하시겠습니까?");
	        
	        if (confirmation) {
	            // 확인을 누르면 삭제 동작을 수행하기 위해 POST 요청
	            qnaDelete(qnaNum);
	        } else {
	            console.log("삭제 취소: " + qnaNum);
	        }
	    }
	
	    function qnaDelete(qnaNum) {
	        // POST 요청을 보내기 위해 form을 생성
	        var form = document.createElement('form');
	        form.setAttribute('method', 'post');
	        form.setAttribute('action', '/qna/qnaDelete');
	        form.style.display = 'none'; // form을 보이지 않도록 설정
	
	        // postNum을 form에 추가
	        var input = document.createElement('input');
	        input.setAttribute('type', 'hidden');
	        input.setAttribute('name', 'qnaNum');
	        input.setAttribute('value', qnaNum);
	        form.appendChild(input);
	
	        // form을 body에 추가하고 submit
	        document.body.appendChild(form);
	        form.submit();
	    }
	</script>		
			
			
	

	</th:block>
</html>