<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{user/layout/default}">
	                
	<head>
		<title>1:1문의</title>
	</head>

	<th:block layout:fragment="customCss">
		<link rel="stylesheet" th:href="@{/user/css/list-style.css}">
		
		<!-- GOOGLE FONT -->
    	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700' rel='stylesheet'>
	</th:block>

	<th:block layout:fragment="customPageSection">
		<!-- 여기에 메인 컨텐츠가 삽입됩니다. -->
		<div class="main-wrapper pages">
		<!-- body -->
		<div class="row">
			<div class="d-flex align-items-start">
				<div class="dropdown mb-5">
					<button class="btn btn-primary dropdown-toggle" type="button"
						id="dropdownMenuButton" data-bs-toggle="dropdown">1:1문의</button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<li><a class="dropdown-item" href="javascript:void(0)">계정 관리</a></li>
						<li><a class="dropdown-item" href="javascript:void(0)">이용 문의</a></li>
						<li><a class="dropdown-item" href="javascript:void(0)">건의 / 제안</a></li>
						<li><a class="dropdown-item" href="javascript:void(0)">결제 / 환불</a></li>
					</ul>
				</div>
			</div>

			<div class="col-sm-12">
				<div class="table-responsive overflow-hidden">
					<table class="table table-hover table-bordered">
						<colgroup>
							<col class="col-sm-1" />
							<col class="col-sm-7" />
							<col class="col-sm-2" />
							<col class="col-sm-2" />
						</colgroup>
						<thead>
							<tr class="active" style="text-align: center">
								<th>번호</th>
								<th>제목</th>
								<th>날짜</th>
								<th>진행상황</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="l, i : ${qnaList}">
								<td class="text-center" th:text="${l.qnaRowNum}"></td>
									<td>
									<!-- 신규 QNA 뱃지 (3일 이내의 문의 내역)-->
									<th:block th:if="${l.isNew}">
          								<span class="badge bg-warning">N</span>
        							</th:block>
									<!-- QNA 카테고리 뱃지 -->
									<i class="badge rounded-pill bg-primary badge-cate" th:text="${l.category.qnaCategoryName}"></i> 
									<!-- QNA 제목 --> 
									<a th:href="@{/qna/qnaDetail(qnaNum=${l.qnaNum})}" th:text="${l.qnaTitle}"> </a> 
									<!-- 답변 완료 뱃지 --> 
									<i class="badge rounded-pill bg-success badge-cate"	th:if="${l.qnaProCate == '답변완료'}" th:text="'답변 완료'"></i></td>
								<td class="text-center"
									th:text="${#strings.substring(l.qnaRegDate, 0, 10)}"></td>
								<td class="text-center" th:text="${l.qnaProCate}"></td>
							</tr>
						</tbody>
					</table>
					<div class="row">
						<div class="col-12" style="text-align: right;">
							<!-- 로그인 상태인 경우 -->
							<th:block th:if="${session.loginId != null}">
								<a th:href="@{qna/qnaAdd}">
									<button type="button" class="btn btn-outline-primary btn-sm postWriteBtn">글쓰기</button>
								</a>
							</th:block>
							<!-- 로그인되지 않은 경우 -->
							<th:block th:unless="${session.loginId != null}">
								<button type="button" class="btn btn-outline-primary btn-sm postWriteBtn" data-bs-toggle="modal" data-bs-target="#login">글쓰기</button>
							</th:block>
						</div>
					</div>
				</div>
			</div>
		</div>

	

			<!-- 페이징 -->
			<section class="pt-5 pt-md-7">
				<div class="container" style="margin-bottom: 50px">
					<nav aria-label="Page navigation">
						<ul class="pagination justify-content-center align-items-center">
							<li class="page-item"><a class="page-link" href="#" tabindex="-1"> 
								<i aria-hidden="true"></i> ◀ 이전 </a></li>

							<li class="page-item"><a class="page-link active" href="#">1</a></li>

							<li class="page-item"><a class="page-link" href="#">2</a></li>

							<li class="page-item"><a class="page-link" href="#">3</a></li>

							<li class="page-item"><a class="page-link" href="#">4</a></li>

							<li class="page-item"><a class="page-link" href="#">5</a></li>

							<li class="page-item"><a class="page-link" href="#">다음 ▶ <i aria-hidden="true"></i>
							</a></li>
						</ul>
					</nav>
				</div>
			</section>
		</div>
	</th:block>
	
	<th:block layout:fragment="customJsFIle"></th:block>

	<th:block layout:fragment="customJs">
		<script>
		
	     // 선택된 드롭다운 메뉴에 해당하는 1:1문의 조회
        document.addEventListener("DOMContentLoaded", function() {
            const menuItems = document.querySelectorAll('.dropdown-item');

            menuItems.forEach(item => {
                item.addEventListener('click', function() {
                    const selectedMenu = this.textContent;
                    const tbody = document.querySelector('tbody');
                    const rows = tbody.querySelectorAll('tr');

                    rows.forEach(row => row.style.display = 'none');

                    rows.forEach(row => {
                        const title = row.querySelector('td:nth-child(2)').textContent;
                        if (title.includes(selectedMenu)) {
                            row.style.display = '';
                        }
                    });
                });
            });
        });

		</script>
	
	</th:block>
</html>