<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="ksmart.ks50team01.user.member.login.mapper.LoginMapper">

	<update id="findPw" parameterType="ksmart.ks50team01.user.member.login.dto.Login">
		UPDATE 
			MEMBER_MANAGE
		SET
			MBR_PW=#{password}
		WHERE
			MBR_ID=#{id} AND
			MBR_EML_ADDR=#{email}
	</update>

	<insert id="joinMember" parameterType="ksmart.ks50team01.user.member.login.dto.Login">
	    INSERT INTO MEMBER_MANAGE
	    (MBR_ID, MBR_PW, MBR_NM, MBR_NICKNAME, MBR_EML_ADDR, MBR_TELNO, MBR_GRD_NO, MBR_REG_YMD)
	    VALUES (#{id}, #{password}, #{name}, #{nickname}, #{email}, #{phone}, 'uln_301', NOW())
	</insert>
  
  
  <select id="login" parameterType="ksmart.ks50team01.user.member.login.dto.Login" resultType="ksmart.ks50team01.user.member.login.dto.Login">
	SELECT
		MBR_ID	AS	id,
		MBR_NM	AS name
	FROM
		MEMBER_MANAGE
	WHERE
		MBR_ID = #{id} AND MBR_PW = #{password}
  </select>
  
  <select id="findId" resultType="string">
        SELECT MBR_ID
        FROM MEMBER_MANAGE
        WHERE MBR_NM = #{name}
          AND MBR_TELNO = #{phone}
    </select>
  
</mapper>