<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="ksmart.ks50team01.platform.reivew.mapper.PReviewMapper">
 	<resultMap type="PReview" id="PReviewResultMap">
 		<id property="reviewCode" 			column="PRCHS_REV_CD"/>
 		<result property="reviewCode" 		column="PRCHS_REV_CD"/>
 		<result property="reviewId" 		column="REG_MBR_ID"/>
 		<result property="reviewGoods" 		column="PRTNR_BPLC_CD"/>
 		<result property="reviewStar" 		column="RAT_CTGRY_NO"/>
 		<result property="reviewContent" 	column="PRCHS_REV_CN"/>
 		<result property="reviewDate" 		column="REG_YMD"/>
 		<result property="reviewLike" 		column="LIKE_TOTAL"/>
 		<result property="reviewDislike" 	column="DISLIKE_TOTAL"/>
 		<result property="reviewApprove" 	column="RLS_YN_CD"/>
 		<result property="reviewNum"		column="reviewNum"/>
 		
 		<result property="tripLargeCode" 	column="TRIP_LCTGRY_CD"/>
 		<result property="districtSubclassCode" 	column="RGN_SCTGRY_CD"/>
 		<result property="tripSubclassCode" 	column="TRIP_SCTGRY_CD"/>
 		<result property="paymentCode" 	column="STLM_CERT_FILE_CD"/>
 		<result property="reservationCode" 	column="BZENTY_RSVT_NO"/>
 		<result property="goodsOption" 	column="PRCHS_GDSOPT_CD"/>
 		<result property="goodsInformation" 	column="PRCHS_CD"/>
 		<result property="reportTotal" 	column="REPT_TOTAL"/>
 		<result property="reviewModifyDate" 	column="MDFCN_YMD"/>
 		
 		<association property="ReviewBusinessInfo" javaType="PReviewBusiness">
	 		<id property="partnershipBusinessCode" 			column="PRTNR_BPLC_CD"/>
	 		<result property="partnershipBusinessCode" 		column="PRTNR_BPLC_CD"/>
	 		<result property="businessAuthorityId" 		column="BZ_ID"/>
	 		<result property="regionalSubcategoryCode" 		column="RGN_SCTGRY_CD"/>
	 		<result property="partnershipBrandCategoryCode" 		column="PRTNR_BRD_CTGRY_CD"/>
	 		<result property="regionalSubcategoryName" 	column="RGN_SCTGRY_NM"/>
	 		<result property="partnershipBrandName" 		column="PRTNR_BRD_NM"/>
	 		<result property="businessRegistrationNumber" 		column="BRNO"/>
	 		<result property="businessName" 	column="BZMN_CONM"/>
	 		<result property="businessOwnerName" 	column="BZMN_RBPRSN"/>
	 		<result property="businessPhoneNumber"		column="BPLC_TELNO"/>
	 		
	 		<result property="businessAddress" 	column="BPLC_ADDR"/>
	 		<result property="businessDetailedAddress" 	column="BPLC_ADDR_DETAILS"/>
	 		<result property="paymentAvailability" 	column="STLM_PSBLTY_YN"/>
	 		<result property="reservationAvailability" 	column="RSVT_PSBLTY_YN"/>
	 		<result property="registrationDate" 	column="REG_YMD"/>
	 		<result property="modificationDate" 	column="MDFCN_YMD"/>
 		</association>
 	</resultMap>
 	
 	
 	
 	
 	<resultMap type="pOpen" id="pOpenResultMap">
 		<id property="pOpenCode" column="RLS_YN_CD"/>
 		<result property="pOpenCode" column="RLS_YN_CD"/>
 		<result property="pOpenId" column="REG_PF_ID"/>
 		<result property="pOpenContent" column="RLS_CN"/>
 		<result property="pOpenActivty" column="ACT_YN"/>
 		<result property="pOpenDate" column="REG_YMD"/>
 		<result property="pOpenModifyDate" column="MDFCN_YMD"/>
 	</resultMap>
 	





 	<resultMap type="PReviewReport" id="PReviewReportResultMap">
 		<id property="reportCode" column="REV_REPT_NO"/>
 		<result property="reportCode" column="REV_REPT_NO"/>
 		<result property="reportNum" column="REPORT_NUM"/>
 		<result property="reportId" column="REG_MBR_ID"/>
 		<result property="reportCategories" column="REPT_CTGRY_NO"/>
 		<result property="reportReviewCode" column="PRCHS_REV_CD"/>
 		<result property="reportContent" column="REV_REPT_CN"/>
 		<result property="reportDate" column="REPT_YMD"/>
 		<result property="reportApprove" column="REV_REPT_APRV"/>
 		<result property="reportApproveId" column="APRV_PF_ID"/>
 		<result property="reportApproveDate" column="APRV_YMD"/>
 		<result property="reportTotal" column="reportTotal"/>
 		<result property="reportApproveName" column="reportApproveName" javaType="java.lang.String" jdbcType="VARCHAR" />
 		
 		<association property="PReviewReportCategoryInfo" javaType="PReviewReportCategory">
	 		<id property="reportCategoryId" 			column="REPT_CTGRY_NO"/>
	 		<result property="reportCategoryId" 		column="REPT_CTGRY_NO"/>
	 		<result property="registeredPlatformAuthorityId" 		column="REG_PF_ID"/>
	 		<result property="reportCategoryType" 		column="REPT_CTGRY_TYPE"/>
	 		<result property="modifiedPlatformAuthorityId" 		column="MDFCN_PF_ID"/>
	 		<result property="isActive" 	column="ACT_YN"/>
	 		<result property="registrationDate" 		column="REG_YMD"/>
	 		<result property="modificationDate" 		column="MDFCN_YMD"/>
 		</association>
 		
 		<association property="PReviewInfo" javaType="PReview">
	 		<id property="reviewCode" 			column="PRCHS_REV_CD"/>
	 		<result property="reviewCode" 		column="PRCHS_REV_CD"/>
	 		<result property="reviewId" 		column="REG_MBR_ID"/>
	 		<result property="reviewGoods" 		column="PRTNR_BPLC_CD"/>
	 		<result property="reviewStar" 		column="RAT_CTGRY_NO"/>
	 		<result property="reviewContent" 	column="PRCHS_REV_CN"/>
	 		<result property="reviewDate" 		column="REG_YMD"/>
	 		<result property="reviewLike" 		column="LIKE_TOTAL"/>
	 		<result property="reviewDislike" 	column="DISLIKE_TOTAL"/>
	 		<result property="reviewApprove" 	column="RLS_YN_CD"/>
	 		<result property="reviewNum"		column="reviewNum"/>
	 		
	 		<result property="tripLargeCode" 	column="TRIP_LCTGRY_CD"/>
	 		<result property="districtSubclassCode" 	column="RGN_SCTGRY_CD"/>
	 		<result property="tripSubclassCode" 	column="TRIP_SCTGRY_CD"/>
	 		<result property="paymentCode" 	column="STLM_CERT_FILE_CD"/>
	 		<result property="reservationCode" 	column="BZENTY_RSVT_NO"/>
	 		<result property="goodsOption" 	column="PRCHS_GDSOPT_CD"/>
	 		<result property="goodsInformation" 	column="PRCHS_CD"/>
	 		<result property="reportTotal" 	column="REPT_TOTAL"/>
	 		<result property="reviewModifyDate" 	column="MDFCN_YMD"/>
 		</association>
 	</resultMap>
 	
 	
 	
 	
 	
 	
 	<resultMap type="PReivewComment" id="PReivewCommentResultMap">
 		<id property="commentCode" column="REV_CMNT_CD"/>
 		<result property="commentCode" column="REV_CMNT_CD"/>
 		<result property="commentNum" column="REV_CMNT_NUM"/>
 		<result property="commentId" column="REG_BIZ_ID"/>
 		<result property="commentReviewCode" column="PRCHS_REV_CD"/>
 		<result property="commentApprove" column="RLS_YN_CD"/>
 		<result property="businessCode" column="PRTNR_BPLC_CD"/>
 		<result property="commentContent" column="REV_CMNT_CN"/>
 		<result property="commentDate" column="REG_YMD"/>
 		<result property="tripLargeCode" column="TRIP_LCTGRY_CD"/>
 		<result property="districtSubclass" column="RGN_SCTGRY_NM"/>
 		
 		<association property="ReviewBusinessInfo" javaType="PReviewBusiness">
	 		<id property="partnershipBusinessCode" 			column="PRTNR_BPLC_CD"/>
	 		<result property="partnershipBusinessCode" 		column="PRTNR_BPLC_CD"/>
	 		<result property="businessAuthorityId" 		column="BZ_ID"/>
	 		<result property="regionalSubcategoryCode" 		column="RGN_SCTGRY_CD"/>
	 		<result property="partnershipBrandCategoryCode" 		column="PRTNR_BRD_CTGRY_CD"/>
	 		<result property="regionalSubcategoryName" 	column="RGN_SCTGRY_NM"/>
	 		<result property="partnershipBrandName" 		column="PRTNR_BRD_NM"/>
	 		<result property="businessRegistrationNumber" 		column="BRNO"/>
	 		<result property="businessName" 	column="BZMN_CONM"/>
	 		<result property="businessOwnerName" 	column="BZMN_RBPRSN"/>
	 		<result property="businessPhoneNumber"		column="BPLC_TELNO"/>
	 		
	 		<result property="businessAddress" 	column="BPLC_ADDR"/>
	 		<result property="businessDetailedAddress" 	column="BPLC_ADDR_DETAILS"/>
	 		<result property="paymentAvailability" 	column="STLM_PSBLTY_YN"/>
	 		<result property="reservationAvailability" 	column="RSVT_PSBLTY_YN"/>
	 		<result property="registrationDate" 	column="REG_YMD"/>
	 		<result property="modificationDate" 	column="MDFCN_YMD"/>
 		</association>
 	</resultMap>
 	
 	
 	
 	
 	
 	
 	
 	<resultMap type="PReviewReact" id="PReviewReactResultMap">
 		<id property="reviewReactCode" column="REV_LIKE_DISLIKE_CD"/>
 		<result property="reviewReactCode" column="REV_LIKE_DISLIKE_CD"/>
 		<result property="reviewReactId" column="REG_MBR_ID"/>
 		<result property="reactReviewCode" column="PRCHS_REV_CD"/>
 		<result property="reviewReactCheck" column="LIKE_DISLIKE_YN"/>
 		<result property="reviewReactDate" column="REG_YMD"/>
 		<result property="reviewReactModifyDate" column="MDFCN_YMD"/>
 	</resultMap>
 
 
 
 
 
	 <select id="getPReviewList" resultMap="PReviewResultMap">
	  /* 상품 리뷰 목록 리스트 */
	 	SELECT 
			ROW_NUMBER() OVER(ORDER BY PRCHS_REV_CD) AS reviewNum,
			pr.PRCHS_REV_CD, 
			pr.REG_MBR_ID, 
			pr.RLS_YN_CD, 
			pr.RAT_CTGRY_NO, 
			pr.PRTNR_BPLC_CD, 
			pr.PRCHS_REV_CN, 
			pr.LIKE_TOTAL, 
			pr.DISLIKE_TOTAL,
			pr.REG_YMD,
			pr.RGN_SCTGRY_CD, 
			pr.TRIP_LCTGRY_CD, 
			pr.TRIP_SCTGRY_CD, 
			pr.STLM_CERT_FILE_CD, 
			pr.BZENTY_RSVT_NO, 
			pr.PRCHS_CD, 
			pr.PRCHS_GDSOPT_CD, 
			pr.MDFCN_YMD,
			pr.REPT_TOTAL,
			pb.BZMN_CONM
	FROM 
		PURCHASE_REVIEW AS pr
		INNER JOIN
		PARTNER_BUSINESS_PLACE AS pb
		ON
		pr.PRTNR_BPLC_CD = pb.PRTNR_BPLC_CD;
		
	 </select>
	 
	 <select id="getPOpenList" resultMap="pOpenResultMap">
	 	/* 공개 조회 */
	 	SELECT 
			RLS_YN_CD, 
			REG_PF_ID, 
			RLS_CN, 
			ACT_YN, 
			REG_YMD, 
			MDFCN_YMD
		FROM 
			DISCLOSURE_STATUS
	 </select>
	 
	 <select id="getPReviewInfoById" resultMap="PReviewResultMap">
	 	/*리뷰정보조회*/
	 	 SELECT 
			PRCHS_REV_CD, 
			REG_MBR_ID, 
			RLS_YN_CD, 
			RAT_CTGRY_NO, 
			PRTNR_BPLC_CD, 
			PRCHS_REV_CN, 
			LIKE_TOTAL, 
			DISLIKE_TOTAL,
			REG_YMD,
			RGN_SCTGRY_CD, 
			TRIP_LCTGRY_CD, 
			TRIP_SCTGRY_CD, 
			STLM_CERT_FILE_CD, 
			BZENTY_RSVT_NO, 
			PRCHS_CD, 
			PRCHS_GDSOPT_CD, 
			MDFCN_YMD,
			REPT_TOTAL
		FROM 
			PURCHASE_REVIEW
		WHERE
			PRCHS_REV_CD = #{reviewCode};
	 </select>
	 
	 <update id="modifyPReview" parameterType="PReview">
	 /*리뷰 정보 수정*/
	 	UPDATE 
	 		PURCHASE_REVIEW
	 	<set>
	 		RLS_YN_CD = #{reviewApprove}
	 	</set>
	 	WHERE
	 		PRCHS_REV_CD = #{reviewCode};
	 </update>
	 

	 <select id="getPReviewReact" resultMap="PReviewReactResultMap">
	 	/* 좋아요 싫어요 기록 목록 리스트 */
	 	SELECT
	 		ROW_NUMBER() OVER(ORDER BY REV_LIKE_DISLIKE_CD) AS reviewReactNum,
			REV_LIKE_DISLIKE_CD, 
			REG_MBR_ID, 
			PRCHS_REV_CD, 
			LIKE_DISLIKE_YN, 
			REG_YMD, 
			MDFCN_YMD
		FROM 
			REVIEW_LIKE_DISLIKE
	 </select>
	 
	 
	 
	 <select id="getPReivewComment" resultMap="PReivewCommentResultMap">
	 	/* 답글 목록 리스트 */
		 SELECT
		 	ROW_NUMBER() OVER(ORDER BY REV_CMNT_CD) AS REV_CMNT_NUM,
			pc.REV_CMNT_CD, 
			pc.REG_BIZ_ID, 
			pc.PRCHS_REV_CD, 
			pc.RLS_YN_CD, 
			pc.PRTNR_BPLC_CD, 
			pc.REV_CMNT_CN, 
			pc.REG_YMD,
			pc.TRIP_LCTGRY_CD,
			pc.RGN_SCTGRY_NM,
			pb.BZMN_CONM
		FROM 
			REVIEW_COMMENT AS pc
			INNER JOIN
			PARTNER_BUSINESS_PLACE AS pb
			ON
			pc.PRTNR_BPLC_CD = pb.PRTNR_BPLC_CD;
	 </select>
	 
	 <select id="getPReivewCommentInfoById" resultMap="PReivewCommentResultMap">
	 	/*답글정보조회*/
		 SELECT 
			REV_CMNT_CD, 
			REG_BIZ_ID, 
			PRCHS_REV_CD, 
			RLS_YN_CD, 
			PRTNR_BPLC_CD, 
			REV_CMNT_CN, 
			REG_YMD,
			TRIP_LCTGRY_CD,
			RGN_SCTGRY_NM
		FROM 
			REVIEW_COMMENT
		WHERE
			REV_CMNT_CD = #{commentCode};
	 </select>
	 
	 <select id="modifyPReivewComment" resultMap="PReivewCommentResultMap">
	 /*답글 정보 수정*/
	 	UPDATE 
	 		REVIEW_COMMENT
	 	<set>
	 		RLS_YN_CD = #{commentApprove}
	 	</set>
	 	WHERE
	 		REV_CMNT_CD = #{commentCode};
	 
	 </select>
	 
	 
	 <select id="getPReviewReport" resultMap="PReviewReportResultMap">
	 	/* 상품 리뷰 신고 리스트 */
	 	SELECT
	 		ROW_NUMBER() OVER(ORDER BY REV_REPT_NO) AS REPORT_NUM,
			rrh.REV_REPT_NO,
			rrh.REG_MBR_ID,  
			rrh.REPT_CTGRY_NO, 
			rrh.PRCHS_REV_CD, 
			rrh.REV_REPT_CN,
			rrh.REPT_YMD,
			rrh.REV_REPT_APRV, 
			rrh.APRV_PF_ID,
			rrh.APRV_YMD,
			pbp.REPT_CTGRY_TYPE
		FROM 
			REVIEW_REPORT_HISTORY AS rrh
			INNER JOIN
			REPORT_CATEGORY AS pbp
			ON
			rrh.REPT_CTGRY_NO = pbp.REPT_CTGRY_NO;
	 </select>
	 
	 <select id="getPReviewReportInfoById" resultMap="PReviewReportResultMap">
	 	/*신고정보조회*/
	 	SELECT 
			REV_REPT_NO,
			REG_MBR_ID,  
			REPT_CTGRY_NO, 
			PRCHS_REV_CD, 
			REV_REPT_CN,
			REPT_YMD,
			REV_REPT_APRV, 
			APRV_PF_ID,
			APRV_YMD
		FROM 
			REVIEW_REPORT_HISTORY
		WHERE
			REV_REPT_NO = #{reportCode};
	 </select>
	 
	 <select id="modifyPReviewReport" resultMap="PReviewReportResultMap">
	 /*신고정보수정*/
	 	UPDATE 
	 		REVIEW_REPORT_HISTORY
	 	<set>
	 		REV_REPT_APRV = #{reportApprove}
	 	</set>
	 	WHERE
	 		REV_REPT_NO = #{reportCode};
	 </select>
	 
	 <select id="getPReviewReportTotal" resultMap="PReviewReportResultMap">
	 	/*신고 누적 개수 조회*/
		SELECT 
			rrh.PRCHS_REV_CD,
			COUNT(rrh.PRCHS_REV_CD) AS reportTotal,
			pr.RLS_YN_CD
		FROM 
			REVIEW_REPORT_HISTORY AS rrh
			INNER JOIN
			PURCHASE_REVIEW AS pr
			ON
			rrh.PRCHS_REV_CD = pr.PRCHS_REV_CD
		WHERE
			rrh.REV_REPT_APRV = 'Y'
		GROUP BY
			rrh.PRCHS_REV_CD;
			
<!-- 					SELECT 
			prh.PRCHS_REV_CD,
			COUNT(pr.PRCHS_REV_CD) AS reportTotal,
			pr.RLS_YN_CD
		FROM 
			REVIEW_REPORT_HISTORY AS prh
			INNER JOIN
			PURCHASE_REVIEW AS pr
			ON
			prh.PRCHS_REV_CD = pr.PRCHS_REV_CD
			WHERE
			prh.REV_REPT_APRV = "Y"
		GROUP BY
			pr.PRCHS_REV_CD; -->
	 </select>
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
 </mapper>