<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="ksmart.ks50team01.review.mapper.ReviewMapper">
 	
 	<select id="getReivewList" resultType="Review">
 		SELECT
 			'rv001' AS reviewId,
 			'good' AS comment
 	</select>
 
 </mapper>