<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart.ks50team01.admin.total.mapper.TotalMapper">
	<select id="getDailyLogin" resultType="int">
	</select>
	
	<select id="getNewMemeberTotal" resultType="int">
		select 10;		
		/*  
		select
			가입일자,
			가입일자에 회운수 합계
		from
			tb_member
		group by
			가입 일자
		*/
	</select>
	<select id="getWithdrawnMemeberTotal" resultType="int">
		select 1;
		/*
		select
			탈퇴일자,
			탈퇴일자에 회운수 합계
		from
			tb_member
		group by
			탈퇴일자 일자
		*/
	</select>
	
	
</mapper>