<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart.ks50team01.user.trip.mapper.UTripPlanMapper">

    <resultMap id="memberResultMap" type="login">
        <id     column="MBR_ID"       property="id"/>
        <result column="MBR_GRD_NO"   property="level"/>
        <result column="MBR_NM"       property="name"/>
        <result column="MBR_NICKNAME" property="nickname"/>
    </resultMap>

    <resultMap id="tripPlanMap" type="uTripOption">
        <!-- INDIVIDUAL_TRIP_PLAN_NEW 테이블 resultMap-->
        <id     column="TRIP_PLAN_ID"        property="tripId"/>
        <result column="PLAN_UUID"           property="planUUID"/>
        <result column="SESSION_ID"          property="sessionId"/>
        <result column="TRIP_TITLE"          property="tripTitle"/>
        <result column="START_DATE"          property="startDate"/>
        <result column="END_DATE"            property="endDate"/>
        <result column="NUM_PEOPLE"          property="numPeople"/>
        <result column="NUM_VIRTUAL_MEMBERS" property="numVirtualMembers"/>
        <result column="NUM_REAL_MEMBERS"    property="numRealMembers"/>
        <result column="NUM_DATE"            property="numDate"/>
        <result column="TRIP_DURATION"       property="tripDuration"/>
        <result column="REG_YMD"             property="regDate"/>
        <result column="MDFCN_YMD"           property="modDate"/>
        <result column="IN_PRGRS"            property="inProgress"/>
    </resultMap>

    <resultMap id="tripPlanItemsMap" type="UTripPlanItem">
        <!-- TRIP_PLAN_ITEMS_NEW 테이블 resultMap-->
        <id     column="ITEM_ID"      property="itemId"/>
        <result column="PLAN_UUID"    property="planUUID"/>
        <result column="DAY_NUMBER"   property="dayNumber"/>
        <result column="CONTENT_ID"   property="contentId"/>
        <result column="ORDER_NUMBER" property="orderNumber"/>
        <result column="REG_YMD"      property="regDate"/>
    </resultMap>

    <resultMap id="tourDetailInfoMap" type="pTourDetail">
        <!-- TOUR_DETAIL_FROM_API 테이블 resultMap -->
        <id     column="tour_detail_content_id"      property="contentId"/>
        <result column="tour_detail_content_type_id" property="contentTypeId"/>
        <result column="tour_detail_title"           property="title"/>
        <result column="tour_detail_homepage"        property="homepage"/>
        <result column="tour_detail_first_image"     property="firstImage"/>
        <result column="tour_detail_second_image"    property="secondImage"/>
        <result column="area_code"                   property="areaCode"/>
        <result column="sigungu_code"                property="sigunguCode"/>
        <result column="tour_detail_first_addr"      property="mainAddr"/>
        <result column="tour_detail_second_addr"     property="detailAddr"/>
        <result column="tour_detail_zipcode"         property="zipcode"/>
        <result column="tour_detail_tel_num"         property="tel"/>
        <result column="tour_detail_tel_name"        property="telName"/>
        <result column="tour_detail_longitude"       property="longitude"/>
        <result column="tour_detail_latitude"        property="latitude"/>
        <result column="tour_detail_mlevel"          property="mapLevel"/>
        <result column="tour_detail_overview"        property="overview"/>
        <result column="REG_YMD"                     property="regDate"/>
        <result column="MDFCN_YMD"                   property="modDate"/>
    </resultMap>

    <insert id="addTempPlanInfo">
        /* 임시 상태로 여행 계획을 저장 */
        INSERT INTO INDIVIDUAL_TRIP_PLAN_NEW (
                                              PLAN_UUID,
                                              SESSION_ID,
                                              TRIP_TITLE,
                                              START_DATE,
                                              END_DATE,
                                              NUM_PEOPLE,
                                              NUM_VIRTUAL_MEMBERS,
                                              NUM_REAL_MEMBERS,
                                              NUM_DATE,
                                              TRIP_DURATION
        )
        VALUES (
                #{planUUID},
                #{sessionId},
                #{tripTitle},
                #{startDate},
                #{endDate},
                #{numPeople},
                #{numVirtualMembers},
                #{numRealMembers},
                #{numDate},
                #{tripDuration})
    </insert>
    <update id="updateTempPlanInfo" parameterType="uTripOption">
        /* 여행 계획 업데이트 */
        UPDATE INDIVIDUAL_TRIP_PLAN_NEW
        SET
            SESSION_ID = #{sessionId},
            TRIP_TITLE = #{tripTitle},
            START_DATE = #{startDate},
            END_DATE = #{endDate},
            NUM_PEOPLE = #{numPeople},
            NUM_VIRTUAL_MEMBERS = #{numVirtualMembers},
            NUM_REAL_MEMBERS = #{numRealMembers},
            NUM_DATE = #{numDate},
            TRIP_DURATION = #{tripDuration},
            MDFCN_YMD = CURRENT_TIMESTAMP
        WHERE PLAN_UUID = #{planUUID}
    </update>


    <select id="getTourInfoObject" resultType="String" parameterType="string">
        /* 여행지 정보를 컬럼 이름과 값으로 찾은 후 JSON 객체로 반환 */
        SELECT CONCAT_WS('\\\\',
                         JSON_OBJECT(
                                 'name', tour_detail_title,
                                 'lat', tour_detail_latitude,
                                 'lng', tour_detail_longitude,
                                 'contentTypeId', tour_detail_content_type_id,
                                 'contentId', tour_detail_content_id,
                                 'overview', tour_detail_overview,
                                 'imageLink', tour_detail_first_image,
                                 'telName', tour_detail_tel_name,
                                 'telNum', tour_detail_tel_num,
                                 'addr', CONCAT(tour_detail_first_addr, tour_detail_second_addr)
                         )
               )
        FROM
            TOUR_DETAIL_FROM_API
        WHERE
            ${colName} = #{content};
    </select>

    <select id="getUserMembers" resultMap="memberResultMap">
        /* 일반 회원 정보 검색 */
        SELECT
            MBR_ID,
            MBR_GRD_NO,
            MBR_NM,
            MBR_NICKNAME
        FROM
            MEMBER_MANAGE
        WHERE
            MBR_GRD_NO = 'uln_301'

    </select>
    <select id="searchUserMembers" resultMap="memberResultMap">
        /* 일반 회원의 정보 중 닉네임과 일치하는 정보 조회 */
        SELECT
            MBR_ID,
            MBR_GRD_NO,
            MBR_NM,
            MBR_NICKNAME
        FROM
            MEMBER_MANAGE
        <where>
            MBR_GRD_NO = 'uln_301'
            <if test="nickname != null and nickname != ''">
                AND (
                    MBR_NICKNAME LIKE concat('%', #{nickname}, '%')
                    OR
                    MBR_NM LIKE concat('%', #{nickname}, '%')
                    OR
                    MBR_ID LIKE concat('%', #{nickname}, '%')
                );
            </if>
        </where>
    </select>
    <select id="getMapXY" resultType="map" parameterType="string">
        /* 컨텐트 ID와 일치하는 위, 경도 조회 */
        select
            tour_detail_longitude as longitude,
            tour_detail_latitude as latitude,
            tour_detail_title as title
        from
            TOUR_DETAIL_FROM_API
        where
            tour_detail_content_id = #{contentId}
    </select>
    <select id="selectUTripOptionByUUID" parameterType="string" resultType="UTripOption">
        /* UUID로 임시 저장된 여행 계획 조회 */
        SELECT
            TRIP_PLAN_ID,
            PLAN_UUID,
            SESSION_ID,
            TRIP_TITLE,
            START_DATE,
            END_DATE,
            NUM_PEOPLE,
            NUM_VIRTUAL_MEMBERS,
            NUM_REAL_MEMBERS,
            NUM_DATE,
            IN_PRGRS,
            REG_YMD,
            MDFCN_YMD
        FROM
            INDIVIDUAL_TRIP_PLAN_NEW
        WHERE
            PLAN_UUID = #{planUUID}
    </select>

    <select id="selectVirtualMemberIdByName" resultType="Integer">
        /* 가상 회원 ID 조회 */
        SELECT
            id
        FROM
            virtual_member
        WHERE
            name = #{name}
    </select>
    <select id="selectRealMemberIdByMemberId" resultType="Integer">
        /* 실제 회원 ID 조회 */
        SELECT
            id
        FROM
            real_member
        WHERE
            member_id = #{memberId}
    </select>
    <select id="selectTempPlanListBySessionId" resultMap="tripPlanMap">
        /* 여행 계획 목록 조회 */
        SELECT
            TRIP_PLAN_ID,
            PLAN_UUID,
            SESSION_ID,
            TRIP_TITLE,
            START_DATE,
            END_DATE,
            NUM_PEOPLE,
            NUM_VIRTUAL_MEMBERS,
            NUM_REAL_MEMBERS,
            NUM_DATE,
            TRIP_DURATION,
            REG_YMD,
            MDFCN_YMD,
            IN_PRGRS
        FROM
            INDIVIDUAL_TRIP_PLAN_NEW
        WHERE
            SESSION_ID = #{sessionId}
    </select>
    <select id="getTourDataList" resultType="java.util.Map">
        /* 컨텐츠 아이디, 컨텐츠 타입과 일치하는 여행지 상세 정보 조회 */
        SELECT
            tour_detail_content_id       as contentId,
            tour_detail_content_type_id  as contentTypeId,
            tour_detail_title            as contentTitle,
            tour_detail_homepage         as contentHomepage,
            tour_detail_first_image      as contentFirstImage,
            tour_detail_second_image     as contentSecondImage,
            area_code                    as areaCode,
            sigungu_code                 as sigunguCode,
            tour_detail_first_addr       as contentFirstAddr,
            tour_detail_second_addr      as contentSecondAddr,
            tour_detail_zipcode          as contentZipcode,
            tour_detail_tel_num          as contentTelNum,
            tour_detail_tel_name         as contentTelName,
            tour_detail_longitude        as contentLongitude,
            tour_detail_latitude         as contentLatitude,
            tour_detail_mlevel           as contentMapLevel,
            tour_detail_overview         as contentOverview

        FROM
            TOUR_DETAIL_FROM_API
    </select>

    <delete id="deleteTripVirtualMembers">
        /* 여행 계획에 관련된 모든 가상 회원 삭제 */
        DELETE
        FROM
            trip_virtual_member
        WHERE
            trip_uuid = #{tripUuid}
    </delete>

    <delete id="deleteTripRealMembers">
        /* 여행 계획에 관련된 모든 실제 회원 삭제 */
        DELETE
        FROM
            trip_real_member
        WHERE
            trip_uuid = #{tripUuid}
    </delete>

    <insert id="insertVirtualMember">
        /* 가상 회원 추가 */
        INSERT INTO
            virtual_member (name)
        VALUES
            (#{name})
    </insert>

    <insert id="insertRealMember">
        /* 실제 회원 추가 */
        INSERT INTO
            real_member (member_id)
        VALUES
            (#{memberId})
    </insert>

    <insert id="insertTripVirtualMember">
        /* 여행 계획에 가상 회원 추가 */
        INSERT INTO trip_virtual_member (
                                         trip_uuid,
                                         virtual_member_id
        )
        VALUES (
                #{tripUuid},
                #{virtualMemberId}
               )
    </insert>

    <insert id="insertTripRealMember">
        /* 여행 계획에 실제 회원 추가 */
        INSERT INTO trip_real_member (
                                      trip_uuid,
                                      real_member_id
        )
        VALUES (
                #{tripUuid},
                #{realMemberId})
    </insert>

    <select id="existsByPlanUUID" resultType="java.lang.Boolean">
        /* 여행 계획 상세 정보가 존재하는지 확인 */
        SELECT
            COUNT(*) > 0
        FROM
            TRIP_PLAN_ITEMS_NEW
        WHERE
            PLAN_UUID = #{planUUID}
    </select>

    <delete id="deleteDetailInfo">
        /* 여행 계획이 존재한다면 삭제 처리 */
        DELETE
        FROM
            TRIP_PLAN_ITEMS_NEW
        WHERE
            plan_uuid = #{planUUID}
    </delete>

    <insert id="insertDetailInfo">
        /* 여행 계획 상세 정보 저장 */
        INSERT INTO
            TRIP_PLAN_ITEMS_NEW (
                                 PLAN_UUID,
                                 DAY_NUMBER,
                                 CONTENT_ID,
                                 ORDER_NUMBER,
                                 REG_YMD
        )
        VALUES (
                #{planUUID},
                #{dayNumber},
                #{contentId},
                #{order},
                now()
               )
    </insert>

    <select id="getTripPlanByUUID" resultMap="tripPlanMap">
        /* INDIVIDUAL_TRIP_PLAN_NEW 테이블 조회 쿼리 */
        SELECT
            TRIP_PLAN_ID,
            PLAN_UUID,
            SESSION_ID,
            TRIP_TITLE,
            START_DATE,
            END_DATE,
            NUM_PEOPLE,
            NUM_VIRTUAL_MEMBERS,
            NUM_REAL_MEMBERS,
            NUM_DATE,
            TRIP_DURATION,
            REG_YMD,
            MDFCN_YMD,
            IN_PRGRS
        FROM
            INDIVIDUAL_TRIP_PLAN_NEW
        WHERE
            PLAN_UUID = #{planUUID}
    </select>

    <select id="getTripItemsByUUID" resultMap="tripPlanItemsMap">
        /* TRIP_PLAN_ITEMS_NEW 테이블 조회 쿼리 */
        SELECT
            ITEM_ID,
            PLAN_UUID,
            DAY_NUMBER,
            CONTENT_ID,
            ORDER_NUMBER,
            REG_YMD
        FROM
            TRIP_PLAN_ITEMS_NEW
        WHERE
            PLAN_UUID = #{planUUID}
    </select>

    <select id="getPTourDetailByContentId" resultMap="tourDetailInfoMap">
        /* TOUR_DETAIL_FROM_API 테이블 조회 쿼리 */
        SELECT
        tour_detail_content_id,
        tour_detail_content_type_id,
        tour_detail_title,
        tour_detail_homepage,
        tour_detail_first_image,
        tour_detail_second_image,
        area_code,
        sigungu_code,
        tour_detail_first_addr,
        tour_detail_second_addr,
        tour_detail_zipcode,
        tour_detail_tel_num,
        tour_detail_tel_name
        FROM
        TOUR_DETAIL_FROM_API
        WHERE
        tour_detail_content_id IN
        <foreach item="item" collection="contentIds" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getRealMembersByPlanUUID" resultType="string">
        SELECT
            m.MBR_ID
        FROM
            real_member r
        JOIN
            trip_real_member trm
        ON
            r.id = trm.real_member_id
        JOIN
            MEMBER_MANAGE m
        ON
            r.member_id = m.MBR_ID
        WHERE
            trm.trip_uuid = #{planUUID}
    </select>

    <select id="getVirtualMembersByPlanUUID" resultType="string">
        SELECT
            v.name
        FROM
            virtual_member v
        JOIN
            trip_virtual_member tvm
        ON
            v.id = tvm.virtual_member_id
        WHERE
            tvm.trip_uuid = #{planUUID}
    </select>

</mapper>
