<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart.ks50team01.user.trip.mapper.UTripPlanMapper">

    <resultMap id="memberResultMap" type="login">
        <id column="MBR_ID" property="id"/>
        <result column="MBR_GRD_NO" property="level"/>
        <result column="MBR_NM" property="name"/>
        <result column="MBR_NICKNAME" property="nickname"/>
    </resultMap>


    <select id="getTourInfoObject" resultType="String" parameterType="string">
        /* 여행지 정보를 컬럼 이름과 값으로 찾은 후 JSON 객체로 반환 */
        SELECT CONCAT_WS('\\\\',
                         JSON_OBJECT(
                                 'name', tour_detail_title,
                                 'lat', tour_detail_latitude,
                                 'lng', tour_detail_longitude,
                                 'contentTypeId', tour_detail_content_type_id,
                                 'contentId', tour_detail_content_id,
                                 'overview', tour_detail_overview,
                                 'imageLink', tour_detail_first_image,
                                 'telName', tour_detail_tel_name,
                                 'telNum', tour_detail_tel_num,
                                 'addr', CONCAT(tour_detail_first_addr, tour_detail_second_addr)
                         )
               )
        FROM
            TOUR_DETAIL_FROM_API
        WHERE
            ${colName} = #{content};
    </select>

    <select id="getUserMembers" resultMap="memberResultMap">
        SELECT
            MBR_ID,
            MBR_GRD_NO,
            MBR_NM,
            MBR_NICKNAME
        FROM
            MEMBER_MANAGE
        WHERE
            MBR_GRD_NO = 'uln_301'

    </select>
    <select id="searchUserMembers" resultMap="memberResultMap">
        SELECT
            MBR_ID,
            MBR_GRD_NO,
            MBR_NM,
            MBR_NICKNAME
        FROM
            MEMBER_MANAGE
        <where>
            MBR_GRD_NO = 'uln_301'
            <if test="nickname != null and nickname != ''">
                AND (
                    MBR_NICKNAME LIKE concat('%', #{nickname}, '%')
                    OR
                    MBR_NM LIKE concat('%', #{nickname}, '%')
                    OR
                    MBR_ID LIKE concat('%', #{nickname}, '%')
                );
            </if>
        </where>
    </select>
    <select id="getMapXY" resultType="map" parameterType="string">
        /* 컨텐트 ID와 일치하는 위, 경도 조회 */
        select
            tour_detail_longitude as longitude,
            tour_detail_latitude as latitude,
            tour_detail_title as title
        from
            TOUR_DETAIL_FROM_API
        where
            tour_detail_content_id = #{contentId}
    </select>
</mapper>
