<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<header class="header" id="pageTop" style="height: auto" th:fragment="headerFragment">
    <!-- ====================================
    ——— HEADER
    ===================================== -->

    <!-- Menu Zord -->
    <nav class="nav-menuzord">
        <div class="container clearfix">
            <div class="menuzord menuzord-responsive" id="menuzord">
                <a class="menuzord-brand" th:href="@{/trip}">
                    <img alt="logo-img" class="lazyestload"
                         data-src="/user/img/logo-color-big.png"
                         src="/user/img/logo-color-big.png">
                </a>
                <ul class="menuzord-menu menuzord-right">
                    <li class="">
                        <a class="" th:href="@{/trip}">Home</a>
                    </li>
                    <li class="">
                        <a href="#">여행 계획</a>
                        <ul class="dropdown drop-up" id="plan">
                            <li class="">
                                <a th:href="@{/trip/list}">? 내 여행 계획 목록</a>
                            </li>
                            <li class="">
                                <a th:href="@{/trip/detail}">? 여행 계획 세부 사항</a>
                            </li>
                            <li class="">
                                <a th:href="@{/trip/schedule}">? 여행 스케줄</a>
                            </li>
                            <li class="">
                                <a th:href="@{/trip/board}">? 여행 계획 공유</a>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="#">여행 추천</a>
                        <ul class="dropdown drop-up" id="recommendations">
                            <li class="">
                                <a th:href="@{/allRanking}">? 통합 여행 추천</a>
                            </li>
                            <li class="">
                                <a th:href="@{/allRanking/rankingList}">? 플랫폼 추천</a>
                            </li>
                            <li class="">
                                <a th:href="@{/allRanking/userRankingList}">? 회원 추천</a>
                            </li>
                            <li class="">
                                <a th:href="@{/allRanking/planRankingList}">? 여행계획 추천</a>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="#">여행지 정보</a>
                        <ul class="dropdown drop-up" id="tourInfo">
                            <li class="">
                                <a th:href="@{/user/destination/tourCheck}">? 관광지 조회</a>
                            </li>
                            <li class="">
                                <a th:href="@{/user/destination/lodgingCheck}">? 숙소 조회</a>
                            </li>
                            <li class="">
                                <a th:href="@{/user/destination/restaurantCheck}">? 음식점 조회</a>
                            </li>
                            <li class="">
                                <a th:href="@{/user/destination/tourCheckDetails}">? 관광지 세부사항</a>
                            </li>
                            <li class="">
                                <a th:href="@{/user/destination/lodgingCheckDetails}">? 숙소 세부</a>
                            </li>
                            <li class="">
                                <a th:href="@{/user/destination/restaurantCheckDetails}">? 음식점 세부</a>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="#">회원 정보</a>
                        <ul class="dropdown drop-up" id="userInfo">
                            <li class="">
                                <a data-bs-target="#login" data-bs-toggle="modal" th:href="@{#}"> 로그인 모달</a>
                            </li>
                            <li class="">
                                <a data-bs-target="#join" data-bs-toggle="modal" th:href="@{#}"> 회원 가입 모달</a>
                            </li>
                            <li class="">
                                <a data-bs-target="#mypageModal" data-bs-toggle="modal" th:href="@{#}"> 마이페이지 모달</a>
                            </li>
                            <li class="">
                                <a data-bs-target="#findId" data-bs-toggle="modal" th:href="@{#}"> 아이디찾기 모달</a>
                            </li>
                            <li class="">
                                <a data-bs-target="#findPw" data-bs-toggle="modal" th:href="@{#}"> 비밀번호찾기 모달</a>
                            </li>
                            <li class="">
                                <a data-bs-target="#modifyModal" data-bs-toggle="modal" th:href="@{#}"> 회원정보 수정 모달</a>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="#">커뮤니티&고객센터</a>
                        <ul class="dropdown drop-up" id="communityBoard">
                            <li class="">
                                <a th:href="@{/community}">? 커뮤니티</a>
                            </li>
                            <li class="">
                                <a th:href="@{/notice}">? 공지사항</a>
                            </li>
                            <li class="">
                                <a th:href="@{/faq}">? 자주 찾는 질문</a>
                            </li>
                            <li class="">
                                <a th:href="@{/qna}">? 1:1 문의</a>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="#">리뷰</a>
                        <ul class="dropdown drop-up" id="customerReview">
                            <li class="">
                                <a th:href="@{/user/review/list}">? 작성한 리뷰 리스트</a>
                            </li>
                            <li class="">
                                <a th:href="@{/user/review/write}">? 상품 리뷰 작성</a>
                            </li>
                        </ul>
                    </li>
                        <li class="py-6" th:if="${session.loginId == null}">
                            <div class="nav-item nav-item-left me-2">
                                <a data-bs-target="#login" data-bs-toggle="modal" href="#">
                                    <button type="button" class="btn btn-xs btn-outline-primary d-none d-lg-inline-block">
                                        <span class="font-weight-bold">로그인</span>
                                    </button>
                                </a>
                            </div>
                        </li>
                        <li class="py-6" th:if="${session.loginId != null}">
                            <div class="nav-item nav-item-left me-2">
                                <a th:href="@{/login/logout}">
                                    <button type="button" class="btn btn-xs btn-outline-primary d-none d-lg-inline-block">
                                        <span class="font-weight-bold">로그아웃</span>
                                    </button>
                                </a>
                            </div>
                        </li>
                        <li class="py-6" th:if="${session.loginId == null}">
                            <div class="nav-item nav-item-left me-2">
                                <a data-bs-target="#joinSelect" data-bs-toggle="modal" href="#">
                                    <button type="button" class="btn btn-xs btn-outline-primary d-none d-lg-inline-block">
                                        <span class="font-weight-bold">회원가입</span>
                                    </button>
                                </a>
                            </div>
                        </li>
                        
						<li class="py-6" th:if="${session.loginId != null}">
							<div class="nav-item nav-item-left me-2">
								<a data-bs-target="#mypageModal" data-bs-toggle="modal" th:href="@{#}">
									<button type="button"
										class="btn btn-xs btn-outline-primary d-none d-lg-inline-block">
										<span class="font-weight-bold">마이페이지</span>
									</button>
								</a>
							</div>
						</li>
					<div th:if="${session.loginId != null}" class="nav-item nav-item-left me-2"
                         style="position: absolute; top: 70px; right: 0; z-index: 1000">
                            <span th:text="${session.loginName} + ' 님 환영합니다!'"
                                  class="text-primary font-weight-bold"></span>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
</header>
</html>


